openapi: 3.0.0
info:
  title: Stripe Accounts Account Validate API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Validate
paths:
  /v1/payment_method_domains/{payment_method_domain}/validate:
    post:
      description: '<p>Some payment methods such as Apple Pay require additional steps to verify a domain. If the requirements weren’t satisfied when the domain was created, the payment method will be inactive on the domain.

        The payment method doesn’t appear in Elements for this domain until it is active.</p>


        <p>To activate a payment method on an existing payment method domain, complete the required validation steps specific to the payment method, and then validate the payment method domain with this endpoint.</p>


        <p>Related guides: <a href="/docs/payments/payment-methods/pmd-registration">Payment method domains</a>.</p>'
      operationId: postPaymentMethodDomainsPaymentMethodDomainValidate
      parameters:
      - in: path
        name: payment_method_domain
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostPaymentMethodDomainsPaymentMethodDomainValidateRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_domain'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Payment Method Domains Validate
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Validate
components:
  schemas:
    payment_method_domain:
      description: 'A payment method domain represents a web domain that you have registered with Stripe.

        Stripe Elements use registered payment method domains to control where certain payment methods are shown.


        Related guides: [Payment method domains](https://stripe.com/docs/payments/payment-methods/pmd-registration).'
      properties:
        apple_pay:
          $ref: '#/components/schemas/payment_method_domain_resource_payment_method_status'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        domain_name:
          description: The domain name that this payment method domain object represents.
          maxLength: 5000
          type: string
        enabled:
          description: Whether this payment method domain is enabled. If the domain is not enabled, payment methods that require a payment method domain will not appear in Elements.
          type: boolean
        google_pay:
          $ref: '#/components/schemas/payment_method_domain_resource_payment_method_status'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        link:
          $ref: '#/components/schemas/payment_method_domain_resource_payment_method_status'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - payment_method_domain
          type: string
        paypal:
          $ref: '#/components/schemas/payment_method_domain_resource_payment_method_status'
      required:
      - apple_pay
      - created
      - domain_name
      - enabled
      - google_pay
      - id
      - link
      - livemode
      - object
      - paypal
      title: PaymentMethodDomainResourcePaymentMethodDomain
      type: object
      x-expandableFields:
      - apple_pay
      - google_pay
      - link
      - paypal
      x-resourceId: payment_method_domain
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    PostPaymentMethodDomainsPaymentMethodDomainValidateRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
