openapi: 3.0.0
info:
  title: Stripe Accounts Account Subscription Schedules API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Subscription Schedules
paths:
  /v1/subscription_schedules:
    get:
      description: <p>Retrieves the list of your subscription schedules.</p>
      operationId: GetSubscriptionSchedules
      parameters:
      - description: Only return subscription schedules that were created canceled the given date interval.
        explode: true
        in: query
        name: canceled_at
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: Only return subscription schedules that completed during the given date interval.
        explode: true
        in: query
        name: completed_at
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: Only return subscription schedules that were created during the given date interval.
        explode: true
        in: query
        name: created
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: Only return subscription schedules for the given customer.
        in: query
        name: customer
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return subscription schedules that were released during the given date interval.
        explode: true
        in: query
        name: released_at
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: Only return subscription schedules that have not started yet.
        in: query
        name: scheduled
        required: false
        schema:
          type: boolean
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetSubscriptionSchedulesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/SubscriptionSchedulesResourceScheduleList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Subscription Schedules
    post:
      description: <p>Creates a new subscription schedule object. Each customer can have up to 500 active or scheduled subscriptions.</p>
      operationId: PostSubscriptionSchedules
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              default_settings:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              phases:
                explode: true
                style: deepObject
              start_date:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostSubscriptionSchedulesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_schedule'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Subscription Schedules
  /v1/subscription_schedules/{schedule}:
    get:
      description: <p>Retrieves the details of an existing subscription schedule. You only need to supply the unique subscription schedule identifier that was returned upon subscription schedule creation.</p>
      operationId: GetSubscriptionSchedulesSchedule
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: schedule
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetSubscriptionSchedulesScheduleRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_schedule'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Subscription Schedules
    post:
      description: <p>Updates an existing subscription schedule.</p>
      operationId: PostSubscriptionSchedulesSchedule
      parameters:
      - in: path
        name: schedule
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              default_settings:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              phases:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostSubscriptionSchedulesScheduleRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_schedule'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Subscription Schedules
  /v1/subscription_schedules/{schedule}/cancel:
    post:
      description: <p>Cancels a subscription schedule and its associated subscription immediately (if the subscription schedule has an active subscription). A subscription schedule can only be canceled if its status is <code>not_started</code> or <code>active</code>.</p>
      operationId: PostSubscriptionSchedulesScheduleCancel
      parameters:
      - in: path
        name: schedule
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostSubscriptionSchedulesScheduleCancelRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_schedule'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Subscription Schedules
  /v1/subscription_schedules/{schedule}/release:
    post:
      description: <p>Releases the subscription schedule immediately, which will stop scheduling of its phases, but leave any existing subscription in place. A schedule can only be released if its status is <code>not_started</code> or <code>active</code>. If the subscription schedule is currently associated with a subscription, releasing it will remove its <code>subscription</code> property and set the subscription’s ID to the <code>released_subscription</code> property.</p>
      operationId: PostSubscriptionSchedulesScheduleRelease
      parameters:
      - in: path
        name: schedule
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostSubscriptionSchedulesScheduleReleaseRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_schedule'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Subscription Schedules
components:
  schemas:
    subscription:
      description: 'Subscriptions allow you to charge a customer on a recurring basis.


        Related guide: [Creating subscriptions](https://stripe.com/docs/billing/subscriptions/creating)'
      properties:
        application:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/application'
          - $ref: '#/components/schemas/deleted_application'
          description: ID of the Connect Application that created the subscription.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/application'
            - $ref: '#/components/schemas/deleted_application'
        application_fee_percent:
          description: A non-negative decimal between 0 and 100, with at most two decimal places. This represents the percentage of the subscription invoice total that will be transferred to the application owner's Stripe account.
          nullable: true
          type: number
        automatic_tax:
          $ref: '#/components/schemas/subscription_automatic_tax'
        billing_cycle_anchor:
          description: Determines the date of the first full invoice, and, for plans with `month` or `year` intervals, the day of the month for subsequent invoices. The timestamp is in UTC format.
          format: unix-time
          type: integer
        billing_thresholds:
          anyOf:
          - $ref: '#/components/schemas/subscription_billing_thresholds'
          description: Define thresholds at which an invoice will be sent, and the subscription advanced to a new billing period
          nullable: true
        cancel_at:
          description: A date in the future at which the subscription will automatically get canceled
          format: unix-time
          nullable: true
          type: integer
        cancel_at_period_end:
          description: If the subscription has been canceled with the `at_period_end` flag set to `true`, `cancel_at_period_end` on the subscription will be true. You can use this attribute to determine whether a subscription that has a status of active is scheduled to be canceled at the end of the current period.
          type: boolean
        canceled_at:
          description: If the subscription has been canceled, the date of that cancellation. If the subscription was canceled with `cancel_at_period_end`, `canceled_at` will reflect the time of the most recent update request, not the end of the subscription period when the subscription is automatically moved to a canceled state.
          format: unix-time
          nullable: true
          type: integer
        cancellation_details:
          anyOf:
          - $ref: '#/components/schemas/cancellation_details'
          description: Details about why this subscription was cancelled
          nullable: true
        collection_method:
          description: Either `charge_automatically`, or `send_invoice`. When charging automatically, Stripe will attempt to pay this subscription at the end of the cycle using the default source attached to the customer. When sending an invoice, Stripe will email your customer an invoice with payment instructions and mark the subscription as `active`.
          enum:
          - charge_automatically
          - send_invoice
          type: string
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        current_period_end:
          description: End of the current period that the subscription has been invoiced for. At the end of this period, a new invoice will be created.
          format: unix-time
          type: integer
        current_period_start:
          description: Start of the current period that the subscription has been invoiced for.
          format: unix-time
          type: integer
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: ID of the customer who owns the subscription.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        days_until_due:
          description: Number of days a customer has to pay invoices generated by this subscription. This value will be `null` for subscriptions where `collection_method=charge_automatically`.
          nullable: true
          type: integer
        default_payment_method:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/payment_method'
          description: ID of the default payment method for the subscription. It must belong to the customer associated with the subscription. This takes precedence over `default_source`. If neither are set, invoices will use the customer's [invoice_settings.default_payment_method](https://stripe.com/docs/api/customers/object#customer_object-invoice_settings-default_payment_method) or [default_source](https://stripe.com/docs/api/customers/object#customer_object-default_source).
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/payment_method'
        default_source:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/bank_account'
          - $ref: '#/components/schemas/card'
          - $ref: '#/components/schemas/source'
          description: ID of the default payment source for the subscription. It must belong to the customer associated with the subscription and be in a chargeable state. If `default_payment_method` is also set, `default_payment_method` will take precedence. If neither are set, invoices will use the customer's [invoice_settings.default_payment_method](https://stripe.com/docs/api/customers/object#customer_object-invoice_settings-default_payment_method) or [default_source](https://stripe.com/docs/api/customers/object#customer_object-default_source).
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/bank_account'
            - $ref: '#/components/schemas/card'
            - $ref: '#/components/schemas/source'
          x-stripeBypassValidation: true
        default_tax_rates:
          description: The tax rates that will apply to any subscription item that does not have `tax_rates` set. Invoices created will have their `default_tax_rates` populated from the subscription.
          items:
            $ref: '#/components/schemas/tax_rate'
          nullable: true
          type: array
        description:
          description: The subscription's description, meant to be displayable to the customer. Use this field to optionally store an explanation of the subscription for rendering in Stripe surfaces and certain local payment methods UIs.
          maxLength: 500
          nullable: true
          type: string
        discount:
          anyOf:
          - $ref: '#/components/schemas/discount'
          description: Describes the current discount applied to this subscription, if there is one. When billing, a discount applied to a subscription overrides a discount applied on a customer-wide basis.
          nullable: true
        ended_at:
          description: If the subscription has ended, the date the subscription ended.
          format: unix-time
          nullable: true
          type: integer
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        items:
          description: List of subscription items, each with an attached price.
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/subscription_item'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: SubscriptionItemList
          type: object
          x-expandableFields:
          - data
        latest_invoice:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/invoice'
          description: The most recent invoice this subscription has generated.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/invoice'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        next_pending_invoice_item_invoice:
          description: Specifies the approximate timestamp on which any pending invoice items will be billed according to the schedule provided at `pending_invoice_item_interval`.
          format: unix-time
          nullable: true
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - subscription
          type: string
        on_behalf_of:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/account'
          description: The account (if any) the charge was made on behalf of for charges associated with this subscription. See the Connect documentation for details.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/account'
        pause_collection:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_resource_pause_collection'
          description: If specified, payment collection for this subscription will be paused.
          nullable: true
        payment_settings:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_resource_payment_settings'
          description: Payment settings passed on to invoices created by the subscription.
          nullable: true
        pending_invoice_item_interval:
          anyOf:
          - $ref: '#/components/schemas/subscription_pending_invoice_item_interval'
          description: Specifies an interval for how often to bill for any pending invoice items. It is analogous to calling [Create an invoice](https://stripe.com/docs/api#create_invoice) for the given subscription at the specified interval.
          nullable: true
        pending_setup_intent:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/setup_intent'
          description: You can use this [SetupIntent](https://stripe.com/docs/api/setup_intents) to collect user authentication when creating a subscription without immediate payment or updating a subscription's payment method, allowing you to optimize for off-session payments. Learn more in the [SCA Migration Guide](https://stripe.com/docs/billing/migration/strong-customer-authentication#scenario-2).
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/setup_intent'
        pending_update:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_resource_pending_update'
          description: If specified, [pending updates](https://stripe.com/docs/billing/subscriptions/pending-updates) that will be applied to the subscription once the `latest_invoice` has been paid.
          nullable: true
        schedule:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/subscription_schedule'
          description: The schedule attached to the subscription
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/subscription_schedule'
        start_date:
          description: Date when the subscription was first created. The date might differ from the `created` date due to backdating.
          format: unix-time
          type: integer
        status:
          description: "Possible values are `incomplete`, `incomplete_expired`, `trialing`, `active`, `past_due`, `canceled`, or `unpaid`. \n\nFor `collection_method=charge_automatically` a subscription moves into `incomplete` if the initial payment attempt fails. A subscription in this state can only have metadata and default_source updated. Once the first invoice is paid, the subscription moves into an `active` state. If the first invoice is not paid within 23 hours, the subscription transitions to `incomplete_expired`. This is a terminal state, the open invoice will be voided and no further invoices will be generated. \n\nA subscription that is currently in a trial period is `trialing` and moves to `active` when the trial period is over. \n\nIf subscription `collection_method=charge_automatically`, it becomes `past_due` when payment is required but cannot be paid (due to failed payment or awaiting additional user actions). Once Stripe has exhausted all payment retry attempts, the subscription will become `canceled` or `unpaid` (depending on your subscriptions settings). \n\nIf subscription `collection_method=send_invoice` it becomes `past_due` when its invoice is not paid by the due date, and `canceled` or `unpaid` if it is still not paid by an additional deadline after that. Note that when a subscription has a status of `unpaid`, no subsequent invoices will be attempted (invoices will be created, but then immediately automatically closed). After receiving updated payment information from a customer, you may choose to reopen and pay their closed invoices."
          enum:
          - active
          - canceled
          - incomplete
          - incomplete_expired
          - past_due
          - paused
          - trialing
          - unpaid
          type: string
        test_clock:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock this subscription belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/test_helpers.test_clock'
        transfer_data:
          anyOf:
          - $ref: '#/components/schemas/subscription_transfer_data'
          description: The account (if any) the subscription's payments will be attributed to for tax reporting, and where funds from each payment will be transferred to for each of the subscription's invoices.
          nullable: true
        trial_end:
          description: If the subscription has a trial, the end of that trial.
          format: unix-time
          nullable: true
          type: integer
        trial_settings:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_trials_resource_trial_settings'
          description: Settings related to subscription trials.
          nullable: true
        trial_start:
          description: If the subscription has a trial, the beginning of that trial.
          format: unix-time
          nullable: true
          type: integer
      required:
      - automatic_tax
      - billing_cycle_anchor
      - cancel_at_period_end
      - collection_method
      - created
      - currency
      - current_period_end
      - current_period_start
      - customer
      - id
      - items
      - livemode
      - metadata
      - object
      - start_date
      - status
      title: Subscription
      type: object
      x-expandableFields:
      - application
      - automatic_tax
      - billing_thresholds
      - cancellation_details
      - customer
      - default_payment_method
      - default_source
      - default_tax_rates
      - discount
      - items
      - latest_invoice
      - on_behalf_of
      - pause_collection
      - payment_settings
      - pending_invoice_item_interval
      - pending_setup_intent
      - pending_update
      - schedule
      - test_clock
      - transfer_data
      - trial_settings
      x-resourceId: subscription
    subscription_item:
      description: 'Subscription items allow you to create customer subscriptions with more than

        one plan, making it easy to represent complex billing relationships.'
      properties:
        billing_thresholds:
          anyOf:
          - $ref: '#/components/schemas/subscription_item_billing_thresholds'
          description: Define thresholds at which an invoice will be sent, and the related subscription advanced to a new billing period
          nullable: true
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          type: integer
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - subscription_item
          type: string
        price:
          $ref: '#/components/schemas/price'
        quantity:
          description: The [quantity](https://stripe.com/docs/subscriptions/quantities) of the plan to which the customer should be subscribed.
          type: integer
        subscription:
          description: The `subscription` this `subscription_item` belongs to.
          maxLength: 5000
          type: string
        tax_rates:
          description: The tax rates which apply to this `subscription_item`. When set, the `default_tax_rates` on the subscription do not apply to this `subscription_item`.
          items:
            $ref: '#/components/schemas/tax_rate'
          nullable: true
          type: array
      required:
      - created
      - id
      - metadata
      - object
      - price
      - subscription
      title: SubscriptionItem
      type: object
      x-expandableFields:
      - billing_thresholds
      - price
      - tax_rates
      x-resourceId: subscription_item
    subscription_schedule:
      description: 'A subscription schedule allows you to create and manage the lifecycle of a subscription by predefining expected changes.


        Related guide: [Subscription schedules](https://stripe.com/docs/billing/subscriptions/subscription-schedules)'
      properties:
        application:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/application'
          - $ref: '#/components/schemas/deleted_application'
          description: ID of the Connect Application that created the schedule.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/application'
            - $ref: '#/components/schemas/deleted_application'
        canceled_at:
          description: Time at which the subscription schedule was canceled. Measured in seconds since the Unix epoch.
          format: unix-time
          nullable: true
          type: integer
        completed_at:
          description: Time at which the subscription schedule was completed. Measured in seconds since the Unix epoch.
          format: unix-time
          nullable: true
          type: integer
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        current_phase:
          anyOf:
          - $ref: '#/components/schemas/subscription_schedule_current_phase'
          description: Object representing the start and end dates for the current phase of the subscription schedule, if it is `active`.
          nullable: true
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: ID of the customer who owns the subscription schedule.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        default_settings:
          $ref: '#/components/schemas/subscription_schedules_resource_default_settings'
        end_behavior:
          description: Behavior of the subscription schedule and underlying subscription when it ends. Possible values are `release` or `cancel` with the default being `release`. `release` will end the subscription schedule and keep the underlying subscription running.`cancel` will end the subscription schedule and cancel the underlying subscription.
          enum:
          - cancel
          - none
          - release
          - renew
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          nullable: true
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - subscription_schedule
          type: string
        phases:
          description: Configuration for the subscription schedule's phases.
          items:
            $ref: '#/components/schemas/subscription_schedule_phase_configuration'
          type: array
        released_at:
          description: Time at which the subscription schedule was released. Measured in seconds since the Unix epoch.
          format: unix-time
          nullable: true
          type: integer
        released_subscription:
          description: ID of the subscription once managed by the subscription schedule (if it is released).
          maxLength: 5000
          nullable: true
          type: string
        status:
          description: The present status of the subscription schedule. Possible values are `not_started`, `active`, `completed`, `released`, and `canceled`. You can read more about the different states in our [behavior guide](https://stripe.com/docs/billing/subscriptions/subscription-schedules).
          enum:
          - active
          - canceled
          - completed
          - not_started
          - released
          type: string
        subscription:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/subscription'
          description: ID of the subscription managed by the subscription schedule.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/subscription'
        test_clock:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock this subscription schedule belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/test_helpers.test_clock'
      required:
      - created
      - customer
      - default_settings
      - end_behavior
      - id
      - livemode
      - object
      - phases
      - status
      title: SubscriptionSchedule
      type: object
      x-expandableFields:
      - application
      - current_phase
      - customer
      - default_settings
      - phases
      - subscription
      - test_clock
      x-resourceId: subscription_schedule
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    GetSubscriptionSchedulesRequest:
      type: object
      properties: {}
    GetSubscriptionSchedulesScheduleRequest:
      type: object
      properties: {}
    PostSubscriptionSchedulesScheduleReleaseRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        preserve_cancel_date:
          description: Keep any cancellation on the subscription that the schedule has set
          type: boolean
    SubscriptionSchedulesResourceScheduleList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/subscription_schedule'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/subscription_schedules
          type: string
    PostSubscriptionSchedulesScheduleCancelRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        invoice_now:
          description: If the subscription schedule is `active`, indicates if a final invoice will be generated that contains any un-invoiced metered usage and new/pending proration invoice items. Defaults to `true`.
          type: boolean
        prorate:
          description: If the subscription schedule is `active`, indicates if the cancellation should be prorated. Defaults to `true`.
          type: boolean
    PostSubscriptionSchedulesRequest:
      type: object
      properties:
        customer:
          description: The identifier of the customer to create the subscription schedule for.
          maxLength: 5000
          type: string
        default_settings:
          description: Object representing the subscription schedule's default settings.
          properties:
            application_fee_percent:
              type: number
            automatic_tax:
              properties:
                enabled:
                  type: boolean
              required:
              - enabled
              title: automatic_tax_config
              type: object
            billing_cycle_anchor:
              enum:
              - automatic
              - phase_start
              type: string
            billing_thresholds:
              anyOf:
              - properties:
                  amount_gte:
                    type: integer
                  reset_billing_cycle_anchor:
                    type: boolean
                title: billing_thresholds_param
                type: object
              - enum:
                - ''
                type: string
            collection_method:
              enum:
              - charge_automatically
              - send_invoice
              type: string
            default_payment_method:
              maxLength: 5000
              type: string
            description:
              anyOf:
              - maxLength: 500
                type: string
              - enum:
                - ''
                type: string
            invoice_settings:
              properties:
                days_until_due:
                  type: integer
              title: subscription_schedule_default_settings_param
              type: object
            on_behalf_of:
              anyOf:
              - type: string
              - enum:
                - ''
                type: string
            transfer_data:
              anyOf:
              - properties:
                  amount_percent:
                    type: number
                  destination:
                    type: string
                required:
                - destination
                title: transfer_data_specs
                type: object
              - enum:
                - ''
                type: string
          title: default_settings_params
          type: object
        end_behavior:
          description: Behavior of the subscription schedule and underlying subscription when it ends. Possible values are `release` or `cancel` with the default being `release`. `release` will end the subscription schedule and keep the underlying subscription running.`cancel` will end the subscription schedule and cancel the underlying subscription.
          enum:
          - cancel
          - none
          - release
          - renew
          type: string
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        from_subscription:
          description: Migrate an existing subscription to be managed by a subscription schedule. If this parameter is set, a subscription schedule will be created using the subscription's item(s), set to auto-renew using the subscription's interval. When using this parameter, other parameters (such as phase values) cannot be set. To create a subscription schedule with other modifications, we recommend making two separate API calls.
          maxLength: 5000
          type: string
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        phases:
          description: List representing phases of the subscription schedule. Each phase can be customized to have different durations, plans, and coupons. If there are multiple phases, the `end_date` of one phase will always equal the `start_date` of the next phase.
          items:
            properties:
              add_invoice_items:
                items:
                  properties:
                    price:
                      maxLength: 5000
                      type: string
                    price_data:
                      properties:
                        currency:
                          type: string
                        product:
                          maxLength: 5000
                          type: string
                        tax_behavior:
                          enum:
                          - exclusive
                          - inclusive
                          - unspecified
                          type: string
                        unit_amount:
                          type: integer
                        unit_amount_decimal:
                          format: decimal
                          type: string
                      required:
                      - currency
                      - product
                      title: one_time_price_data_with_negative_amounts
                      type: object
                    quantity:
                      type: integer
                    tax_rates:
                      anyOf:
                      - items:
                          maxLength: 5000
                          type: string
                        type: array
                      - enum:
                        - ''
                        type: string
                  title: add_invoice_item_entry
                  type: object
                type: array
              application_fee_percent:
                type: number
              automatic_tax:
                properties:
                  enabled:
                    type: boolean
                required:
                - enabled
                title: automatic_tax_config
                type: object
              billing_cycle_anchor:
                enum:
                - automatic
                - phase_start
                type: string
              billing_thresholds:
                anyOf:
                - properties:
                    amount_gte:
                      type: integer
                    reset_billing_cycle_anchor:
                      type: boolean
                  title: billing_thresholds_param
                  type: object
                - enum:
                  - ''
                  type: string
              collection_method:
                enum:
                - charge_automatically
                - send_invoice
                type: string
              coupon:
                maxLength: 5000
                type: string
              currency:
                type: string
              default_payment_method:
                maxLength: 5000
                type: string
              default_tax_rates:
                anyOf:
                - items:
                    maxLength: 5000
                    type: string
                  type: array
                - enum:
                  - ''
                  type: string
              description:
                anyOf:
                - maxLength: 500
                  type: string
                - enum:
                  - ''
                  type: string
              end_date:
                format: unix-time
                type: integer
              invoice_settings:
                properties:
                  days_until_due:
                    type: integer
                title: invoice_settings
                type: object
              items:
                items:
                  properties:
                    billing_thresholds:
                      anyOf:
                      - properties:
                          usage_gte:
                            type: integer
                        required:
                        - usage_gte
                        title: item_billing_thresholds_param
                        type: object
                      - enum:
                        - ''
                        type: string
                    metadata:
                      additionalProperties:
                        type: string
                      type: object
                    price:
                      maxLength: 5000
                      type: string
                    price_data:
                      properties:
                        currency:
                          type: string
                        product:
                          maxLength: 5000
                          type: string
                        recurring:
                          properties:
                            interval:
                              enum:
                              - day
                              - month
                              - week
                              - year
                              type: string
                            interval_count:
                              type: integer
                          required:
                          - interval
                          title: recurring_adhoc
                          type: object
                        tax_behavior:
                          enum:
                          - exclusive
                          - inclusive
                          - unspecified
                          type: string
                        unit_amount:
                          type: integer
                        unit_amount_decimal:
                          format: decimal
                          type: string
                      required:
                      - currency
                      - product
                      - recurring
                      title: recurring_price_data
                      type: object
                    quantity:
                      type: integer
                    tax_rates:
                      anyOf:
                      - items:
                          maxLength: 5000
                          type: string
                        type: array
                      - enum:
                        - ''
                        type: string
                  title: configuration_item_params
                  type: object
                type: array
              iterations:
                type: integer
              metadata:
                additionalProperties:
                  type: string
                type: object
              on_behalf_of:
                type: string
              proration_behavior:
                enum:
                - always_invoice
                - create_prorations
                - none
                type: string
              transfer_data:
                properties:
                  amount_percent:
                    type: number
                  destination:
                    type: string
                required:
                - destination
                title: transfer_data_specs
                type: object
              trial:
                type: boolean
              trial_end:
                format: unix-time
                type: integer
            required:
            - items
            title: phase_configuration_params
            type: object
          type: array
        start_date:
          anyOf:
          - format: unix-time
            type: integer
          - enum:
            - now
            maxLength: 5000
            type: string
          description: When the subscription schedule starts. We recommend using `now` so that it starts the subscription immediately. You can also use a Unix timestamp to backdate the subscription so that it starts on a past date, or set a future date for the subscription to start on.
    PostSubscriptionSchedulesScheduleRequest:
      type: object
      properties:
        default_settings:
          description: Object representing the subscription schedule's default settings.
          properties:
            application_fee_percent:
              type: number
            automatic_tax:
              properties:
                enabled:
                  type: boolean
              required:
              - enabled
              title: automatic_tax_config
              type: object
            billing_cycle_anchor:
              enum:
              - automatic
              - phase_start
              type: string
            billing_thresholds:
              anyOf:
              - properties:
                  amount_gte:
                    type: integer
                  reset_billing_cycle_anchor:
                    type: boolean
                title: billing_thresholds_param
                type: object
              - enum:
                - ''
                type: string
            collection_method:
              enum:
              - charge_automatically
              - send_invoice
              type: string
            default_payment_method:
              maxLength: 5000
              type: string
            description:
              anyOf:
              - maxLength: 500
                type: string
              - enum:
                - ''
                type: string
            invoice_settings:
              properties:
                days_until_due:
                  type: integer
              title: subscription_schedule_default_settings_param
              type: object
            on_behalf_of:
              anyOf:
              - type: string
              - enum:
                - ''
                type: string
            transfer_data:
              anyOf:
              - properties:
                  amount_percent:
                    type: number
                  destination:
                    type: string
                required:
                - destination
                title: transfer_data_specs
                type: object
              - enum:
                - ''
                type: string
          title: default_settings_params
          type: object
        end_behavior:
          description: Behavior of the subscription schedule and underlying subscription when it ends. Possible values are `release` or `cancel` with the default being `release`. `release` will end the subscription schedule and keep the underlying subscription running.`cancel` will end the subscription schedule and cancel the underlying subscription.
          enum:
          - cancel
          - none
          - release
          - renew
          type: string
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        phases:
          description: List representing phases of the subscription schedule. Each phase can be customized to have different durations, plans, and coupons. If there are multiple phases, the `end_date` of one phase will always equal the `start_date` of the next phase. Note that past phases can be omitted.
          items:
            properties:
              add_invoice_items:
                items:
                  properties:
                    price:
                      maxLength: 5000
                      type: string
                    price_data:
                      properties:
                        currency:
                          type: string
                        product:
                          maxLength: 5000
                          type: string
                        tax_behavior:
                          enum:
                          - exclusive
                          - inclusive
                          - unspecified
                          type: string
                        unit_amount:
                          type: integer
                        unit_amount_decimal:
                          format: decimal
                          type: string
                      required:
                      - currency
                      - product
                      title: one_time_price_data_with_negative_amounts
                      type: object
                    quantity:
                      type: integer
                    tax_rates:
                      anyOf:
                      - items:
                          maxLength: 5000
                          type: string
                        type: array
                      - enum:
                        - ''
                        type: string
                  title: add_invoice_item_entry
                  type: object
                type: array
              application_fee_percent:
                type: number
              automatic_tax:
                properties:
                  enabled:
                    type: boolean
                required:
                - enabled
                title: automatic_tax_config
                type: object
              billing_cycle_anchor:
                enum:
                - automatic
                - phase_start
                type: string
              billing_thresholds:
                anyOf:
                - properties:
                    amount_gte:
                      type: integer
                    reset_billing_cycle_anchor:
                      type: boolean
                  title: billing_thresholds_param
                  type: object
                - enum:
                  - ''
                  type: string
              collection_method:
                enum:
                - charge_automatically
                - send_invoice
                type: string
              coupon:
                maxLength: 5000
                type: string
              default_payment_method:
                maxLength: 5000
                type: string
              default_tax_rates:
                anyOf:
                - items:
                    maxLength: 5000
                    type: string
                  type: array
                - enum:
                  - ''
                  type: string
              description:
                anyOf:
                - maxLength: 500
                  type: string
                - enum:
                  - ''
                  type: string
              end_date:
                anyOf:
                - format: unix-time
                  type: integer
                - enum:
                  - now
                  maxLength: 5000
                  type: string
              invoice_settings:
                properties:
                  days_until_due:
                    type: integer
                title: invoice_settings
                type: object
              items:
                items:
                  properties:
                    billing_thresholds:
                      anyOf:
                      - properties:
                          usage_gte:
                            type: integer
                        required:
                        - usage_gte
                        title: item_billing_thresholds_param
                        type: object
                      - enum:
                        - ''
                        type: string
                    metadata:
                      additionalProperties:
                        type: string
                      type: object
                    price:
                      maxLength: 5000
                      type: string
                    price_data:
                      properties:
                        currency:
                          type: string
                        product:
                          maxLength: 5000
                          type: string
                        recurring:
                          properties:
                            interval:
                              enum:
                              - day
                              - month
                              - week
                              - year
                              type: string
                            interval_count:
                              type: integer
                          required:
                          - interval
                          title: recurring_adhoc
                          type: object
                        tax_behavior:
                          enum:
                          - exclusive
                          - inclusive
                          - unspecified
                          type: string
                        unit_amount:
                          type: integer
                        unit_amount_decimal:
                          format: decimal
                          type: string
                      required:
                      - currency
                      - product
                      - recurring
                      title: recurring_price_data
                      type: object
                    quantity:
                      type: integer
                    tax_rates:
                      anyOf:
                      - items:
                          maxLength: 5000
                          type: string
                        type: array
                      - enum:
                        - ''
                        type: string
                  title: configuration_item_params
                  type: object
                type: array
              iterations:
                type: integer
              metadata:
                additionalProperties:
                  type: string
                type: object
              on_behalf_of:
                type: string
              proration_behavior:
                enum:
                - always_invoice
                - create_prorations
                - none
                type: string
              start_date:
                anyOf:
                - format: unix-time
                  type: integer
                - enum:
                  - now
                  maxLength: 5000
                  type: string
              transfer_data:
                properties:
                  amount_percent:
                    type: number
                  destination:
                    type: string
                required:
                - destination
                title: transfer_data_specs
                type: object
              trial:
                type: boolean
              trial_end:
                anyOf:
                - format: unix-time
                  type: integer
                - enum:
                  - now
                  maxLength: 5000
                  type: string
            required:
            - items
            title: phase_configuration_params
            type: object
          type: array
        proration_behavior:
          description: If the update changes the current phase, indicates whether the changes should be prorated. The default value is `create_prorations`.
          enum:
          - always_invoice
          - create_prorations
          - none
          type: string
