openapi: 3.0.0
info:
  title: Stripe Accounts Account Methods API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Methods
paths:
  /v1/customers/{customer}/payment_methods:
    get:
      description: <p>Returns a list of PaymentMethods for a given Customer</p>
      operationId: getCustomersCustomerPaymentMethods
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - description: An optional filter on the list, based on the object `type` field. Without the filter, the list includes all current and future payment method types. If your integration expects only one type of payment method in the response, make sure to provide a type value in the request.
        in: query
        name: type
        required: false
        schema:
          enum:
          - acss_debit
          - affirm
          - afterpay_clearpay
          - alipay
          - au_becs_debit
          - bacs_debit
          - bancontact
          - blik
          - boleto
          - card
          - cashapp
          - customer_balance
          - eps
          - fpx
          - giropay
          - grabpay
          - ideal
          - klarna
          - konbini
          - link
          - oxxo
          - p24
          - paynow
          - paypal
          - pix
          - promptpay
          - revolut_pay
          - sepa_debit
          - sofort
          - us_bank_account
          - wechat_pay
          - zip
          type: string
          x-stripeBypassValidation: true
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetCustomersCustomerPaymentMethodsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/CustomerPaymentMethodResourceList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Customers Customer Payment Methods
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
  /v1/customers/{customer}/payment_methods/{payment_method}:
    get:
      description: <p>Retrieves a PaymentMethod object for a given Customer.</p>
      operationId: getCustomersCustomerPaymentMethodsPaymentMethod
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: payment_method
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetCustomersCustomerPaymentMethodsPaymentMethodRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Customers Customer Payment Methods Payment Method
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
  /v1/payment_methods:
    get:
      description: <p>Returns a list of PaymentMethods for Treasury flows. If you want to list the PaymentMethods attached to a Customer for payments, you should use the <a href="/docs/api/payment_methods/customer_list">List a Customer’s PaymentMethods</a> API instead.</p>
      operationId: getPaymentMethods
      parameters:
      - description: The ID of the customer whose PaymentMethods will be retrieved.
        in: query
        name: customer
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - description: An optional filter on the list, based on the object `type` field. Without the filter, the list includes all current and future payment method types. If your integration expects only one type of payment method in the response, make sure to provide a type value in the request.
        in: query
        name: type
        required: false
        schema:
          enum:
          - acss_debit
          - affirm
          - afterpay_clearpay
          - alipay
          - au_becs_debit
          - bacs_debit
          - bancontact
          - blik
          - boleto
          - card
          - cashapp
          - customer_balance
          - eps
          - fpx
          - giropay
          - grabpay
          - ideal
          - klarna
          - konbini
          - link
          - oxxo
          - p24
          - paynow
          - paypal
          - pix
          - promptpay
          - revolut_pay
          - sepa_debit
          - sofort
          - us_bank_account
          - wechat_pay
          - zip
          type: string
          x-stripeBypassValidation: true
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetPaymentMethodsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/PaymentFlowsPaymentMethodList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Payment Methods
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
    post:
      description: '<p>Creates a PaymentMethod object. Read the <a href="/docs/stripe-js/reference#stripe-create-payment-method">Stripe.js reference</a> to learn how to create PaymentMethods via Stripe.js.</p>


        <p>Instead of creating a PaymentMethod directly, we recommend using the <a href="/docs/payments/accept-a-payment">PaymentIntents</a> API to accept a payment immediately or the <a href="/docs/payments/save-and-reuse">SetupIntent</a> API to collect payment method details ahead of a future payment.</p>'
      operationId: postPaymentMethods
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              acss_debit:
                explode: true
                style: deepObject
              affirm:
                explode: true
                style: deepObject
              afterpay_clearpay:
                explode: true
                style: deepObject
              alipay:
                explode: true
                style: deepObject
              au_becs_debit:
                explode: true
                style: deepObject
              bacs_debit:
                explode: true
                style: deepObject
              bancontact:
                explode: true
                style: deepObject
              billing_details:
                explode: true
                style: deepObject
              blik:
                explode: true
                style: deepObject
              boleto:
                explode: true
                style: deepObject
              card:
                explode: true
                style: deepObject
              cashapp:
                explode: true
                style: deepObject
              customer_balance:
                explode: true
                style: deepObject
              eps:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              fpx:
                explode: true
                style: deepObject
              giropay:
                explode: true
                style: deepObject
              grabpay:
                explode: true
                style: deepObject
              ideal:
                explode: true
                style: deepObject
              interac_present:
                explode: true
                style: deepObject
              klarna:
                explode: true
                style: deepObject
              konbini:
                explode: true
                style: deepObject
              link:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              oxxo:
                explode: true
                style: deepObject
              p24:
                explode: true
                style: deepObject
              paynow:
                explode: true
                style: deepObject
              paypal:
                explode: true
                style: deepObject
              pix:
                explode: true
                style: deepObject
              promptpay:
                explode: true
                style: deepObject
              radar_options:
                explode: true
                style: deepObject
              revolut_pay:
                explode: true
                style: deepObject
              sepa_debit:
                explode: true
                style: deepObject
              sofort:
                explode: true
                style: deepObject
              us_bank_account:
                explode: true
                style: deepObject
              wechat_pay:
                explode: true
                style: deepObject
              zip:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostPaymentMethodsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Payment Methods
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
  /v1/payment_methods/{payment_method}:
    get:
      description: <p>Retrieves a PaymentMethod object attached to the StripeAccount. To retrieve a payment method attached to a Customer, you should use <a href="/docs/api/payment_methods/customer">Retrieve a Customer’s PaymentMethods</a></p>
      operationId: getPaymentMethodsPaymentMethod
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: payment_method
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetPaymentMethodsPaymentMethodRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Payment Methods
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
    post:
      description: <p>Updates a PaymentMethod object. A PaymentMethod must be attached a customer to be updated.</p>
      operationId: postPaymentMethodsPaymentMethod
      parameters:
      - in: path
        name: payment_method
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              billing_details:
                explode: true
                style: deepObject
              card:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              link:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              us_bank_account:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostPaymentMethodsPaymentMethodRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Payment Methods
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
  /v1/payment_methods/{payment_method}/attach:
    post:
      description: '<p>Attaches a PaymentMethod object to a Customer.</p>


        <p>To attach a new PaymentMethod to a customer for future payments, we recommend you use a <a href="/docs/api/setup_intents">SetupIntent</a>

        or a PaymentIntent with <a href="/docs/api/payment_intents/create#create_payment_intent-setup_future_usage">setup_future_usage</a>.

        These approaches will perform any necessary steps to set up the PaymentMethod for future payments. Using the <code>/v1/payment_methods/:id/attach</code>

        endpoint without first using a SetupIntent or PaymentIntent with <code>setup_future_usage</code> does not optimize the PaymentMethod for

        future use, which makes later declines and payment friction more likely.

        See <a href="/docs/payments/payment-intents#future-usage">Optimizing cards for future payments</a> for more information about setting up

        future payments.</p>


        <p>To use this PaymentMethod as the default for invoice or subscription payments,

        set <a href="/docs/api/customers/update#update_customer-invoice_settings-default_payment_method"><code>invoice_settings.default_payment_method</code></a>,

        on the Customer to the PaymentMethod’s ID.</p>'
      operationId: postPaymentMethodsPaymentMethodAttach
      parameters:
      - in: path
        name: payment_method
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostPaymentMethodsPaymentMethodAttachRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Payment Methods Attach
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
  /v1/payment_methods/{payment_method}/detach:
    post:
      description: <p>Detaches a PaymentMethod object from a Customer. After a PaymentMethod is detached, it can no longer be used for a payment or re-attached to a Customer.</p>
      operationId: postPaymentMethodsPaymentMethodDetach
      parameters:
      - in: path
        name: payment_method
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostPaymentMethodsPaymentMethodDetachRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Payment Methods Detach
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Methods
components:
  schemas:
    GetCustomersCustomerPaymentMethodsPaymentMethodRequest:
      type: object
      properties: {}
    GetPaymentMethodsRequest:
      type: object
      properties: {}
    PostPaymentMethodsPaymentMethodAttachRequest:
      type: object
      required:
      - customer
      properties:
        customer:
          description: The ID of the customer to which to attach the PaymentMethod.
          maxLength: 5000
          type: string
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    PostPaymentMethodsRequest:
      type: object
      properties:
        acss_debit:
          description: If this is an `acss_debit` PaymentMethod, this hash contains details about the ACSS Debit payment method.
          properties:
            account_number:
              maxLength: 5000
              type: string
            institution_number:
              maxLength: 5000
              type: string
            transit_number:
              maxLength: 5000
              type: string
          required:
          - account_number
          - institution_number
          - transit_number
          title: payment_method_param
          type: object
        affirm:
          description: If this is an `affirm` PaymentMethod, this hash contains details about the Affirm payment method.
          properties: {}
          title: param
          type: object
        afterpay_clearpay:
          description: If this is an `AfterpayClearpay` PaymentMethod, this hash contains details about the AfterpayClearpay payment method.
          properties: {}
          title: param
          type: object
        alipay:
          description: If this is an `Alipay` PaymentMethod, this hash contains details about the Alipay payment method.
          properties: {}
          title: param
          type: object
        au_becs_debit:
          description: If this is an `au_becs_debit` PaymentMethod, this hash contains details about the bank account.
          properties:
            account_number:
              maxLength: 5000
              type: string
            bsb_number:
              maxLength: 5000
              type: string
          required:
          - account_number
          - bsb_number
          title: param
          type: object
        bacs_debit:
          description: If this is a `bacs_debit` PaymentMethod, this hash contains details about the Bacs Direct Debit bank account.
          properties:
            account_number:
              maxLength: 5000
              type: string
            sort_code:
              maxLength: 5000
              type: string
          title: param
          type: object
        bancontact:
          description: If this is a `bancontact` PaymentMethod, this hash contains details about the Bancontact payment method.
          properties: {}
          title: param
          type: object
        billing_details:
          description: Billing information associated with the PaymentMethod that may be used or required by particular types of payment methods.
          properties:
            address:
              anyOf:
              - properties:
                  city:
                    maxLength: 5000
                    type: string
                  country:
                    maxLength: 5000
                    type: string
                  line1:
                    maxLength: 5000
                    type: string
                  line2:
                    maxLength: 5000
                    type: string
                  postal_code:
                    maxLength: 5000
                    type: string
                  state:
                    maxLength: 5000
                    type: string
                title: billing_details_address
                type: object
              - enum:
                - ''
                type: string
            email:
              anyOf:
              - type: string
              - enum:
                - ''
                type: string
            name:
              anyOf:
              - maxLength: 5000
                type: string
              - enum:
                - ''
                type: string
            phone:
              anyOf:
              - maxLength: 5000
                type: string
              - enum:
                - ''
                type: string
          title: billing_details_inner_params
          type: object
        blik:
          description: If this is a `blik` PaymentMethod, this hash contains details about the BLIK payment method.
          properties: {}
          title: param
          type: object
        boleto:
          description: If this is a `boleto` PaymentMethod, this hash contains details about the Boleto payment method.
          properties:
            tax_id:
              maxLength: 5000
              type: string
          required:
          - tax_id
          title: param
          type: object
        card:
          anyOf:
          - properties:
              cvc:
                maxLength: 5000
                type: string
              exp_month:
                type: integer
              exp_year:
                type: integer
              number:
                maxLength: 5000
                type: string
            required:
            - exp_month
            - exp_year
            - number
            title: card_details_params
            type: object
          - properties:
              token:
                maxLength: 5000
                type: string
            required:
            - token
            title: token_params
            type: object
          description: 'If this is a `card` PaymentMethod, this hash contains the user''s card details. For backwards compatibility, you can alternatively provide a Stripe token (e.g., for Apple Pay, Amex Express Checkout, or legacy Checkout) into the card hash with format `card: {token: "tok_visa"}`. When providing a card number, you must meet the requirements for [PCI compliance](https://stripe.com/docs/security#validating-pci-compliance). We strongly recommend using Stripe.js instead of interacting with this API directly.'
          x-stripeBypassValidation: true
        cashapp:
          description: If this is a `cashapp` PaymentMethod, this hash contains details about the Cash App Pay payment method.
          properties: {}
          title: param
          type: object
        customer:
          description: The `Customer` to whom the original PaymentMethod is attached.
          maxLength: 5000
          type: string
        customer_balance:
          description: If this is a `customer_balance` PaymentMethod, this hash contains details about the CustomerBalance payment method.
          properties: {}
          title: param
          type: object
        eps:
          description: If this is an `eps` PaymentMethod, this hash contains details about the EPS payment method.
          properties:
            bank:
              enum:
              - arzte_und_apotheker_bank
              - austrian_anadi_bank_ag
              - bank_austria
              - bankhaus_carl_spangler
              - bankhaus_schelhammer_und_schattera_ag
              - bawag_psk_ag
              - bks_bank_ag
              - brull_kallmus_bank_ag
              - btv_vier_lander_bank
              - capital_bank_grawe_gruppe_ag
              - deutsche_bank_ag
              - dolomitenbank
              - easybank_ag
              - erste_bank_und_sparkassen
              - hypo_alpeadriabank_international_ag
              - hypo_bank_burgenland_aktiengesellschaft
              - hypo_noe_lb_fur_niederosterreich_u_wien
              - hypo_oberosterreich_salzburg_steiermark
              - hypo_tirol_bank_ag
              - hypo_vorarlberg_bank_ag
              - marchfelder_bank
              - oberbank_ag
              - raiffeisen_bankengruppe_osterreich
              - schoellerbank_ag
              - sparda_bank_wien
              - volksbank_gruppe
              - volkskreditbank_ag
              - vr_bank_braunau
              maxLength: 5000
              type: string
          title: param
          type: object
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        fpx:
          description: If this is an `fpx` PaymentMethod, this hash contains details about the FPX payment method.
          properties:
            bank:
              enum:
              - affin_bank
              - agrobank
              - alliance_bank
              - ambank
              - bank_islam
              - bank_muamalat
              - bank_of_china
              - bank_rakyat
              - bsn
              - cimb
              - deutsche_bank
              - hong_leong_bank
              - hsbc
              - kfh
              - maybank2e
              - maybank2u
              - ocbc
              - pb_enterprise
              - public_bank
              - rhb
              - standard_chartered
              - uob
              maxLength: 5000
              type: string
              x-stripeBypassValidation: true
          required:
          - bank
          title: param
          type: object
        giropay:
          description: If this is a `giropay` PaymentMethod, this hash contains details about the Giropay payment method.
          properties: {}
          title: param
          type: object
        grabpay:
          description: If this is a `grabpay` PaymentMethod, this hash contains details about the GrabPay payment method.
          properties: {}
          title: param
          type: object
        ideal:
          description: If this is an `ideal` PaymentMethod, this hash contains details about the iDEAL payment method.
          properties:
            bank:
              enum:
              - abn_amro
              - asn_bank
              - bunq
              - handelsbanken
              - ing
              - knab
              - moneyou
              - n26
              - rabobank
              - regiobank
              - revolut
              - sns_bank
              - triodos_bank
              - van_lanschot
              - yoursafe
              maxLength: 5000
              type: string
          title: param
          type: object
        interac_present:
          description: If this is an `interac_present` PaymentMethod, this hash contains details about the Interac Present payment method.
          properties: {}
          title: param
          type: object
        klarna:
          description: If this is a `klarna` PaymentMethod, this hash contains details about the Klarna payment method.
          properties:
            dob:
              properties:
                day:
                  type: integer
                month:
                  type: integer
                year:
                  type: integer
              required:
              - day
              - month
              - year
              title: date_of_birth
              type: object
          title: param
          type: object
        konbini:
          description: If this is a `konbini` PaymentMethod, this hash contains details about the Konbini payment method.
          properties: {}
          title: param
          type: object
        link:
          description: If this is an `Link` PaymentMethod, this hash contains details about the Link payment method.
          properties: {}
          title: param
          type: object
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
          type: object
        oxxo:
          description: If this is an `oxxo` PaymentMethod, this hash contains details about the OXXO payment method.
          properties: {}
          title: param
          type: object
        p24:
          description: If this is a `p24` PaymentMethod, this hash contains details about the P24 payment method.
          properties:
            bank:
              enum:
              - alior_bank
              - bank_millennium
              - bank_nowy_bfg_sa
              - bank_pekao_sa
              - banki_spbdzielcze
              - blik
              - bnp_paribas
              - boz
              - citi_handlowy
              - credit_agricole
              - envelobank
              - etransfer_pocztowy24
              - getin_bank
              - ideabank
              - ing
              - inteligo
              - mbank_mtransfer
              - nest_przelew
              - noble_pay
              - pbac_z_ipko
              - plus_bank
              - santander_przelew24
              - tmobile_usbugi_bankowe
              - toyota_bank
              - volkswagen_bank
              type: string
              x-stripeBypassValidation: true
          title: param
          type: object
        payment_method:
          description: The PaymentMethod to share.
          maxLength: 5000
          type: string
        paynow:
          description: If this is a `paynow` PaymentMethod, this hash contains details about the PayNow payment method.
          properties: {}
          title: param
          type: object
        paypal:
          description: If this is a `paypal` PaymentMethod, this hash contains details about the PayPal payment method.
          properties: {}
          title: param
          type: object
        pix:
          description: If this is a `pix` PaymentMethod, this hash contains details about the Pix payment method.
          properties: {}
          title: param
          type: object
        promptpay:
          description: If this is a `promptpay` PaymentMethod, this hash contains details about the PromptPay payment method.
          properties: {}
          title: param
          type: object
        radar_options:
          description: Options to configure Radar. See [Radar Session](https://stripe.com/docs/radar/radar-session) for more information.
          properties:
            session:
              maxLength: 5000
              type: string
          title: radar_options
          type: object
        revolut_pay:
          description: If this is a `Revolut Pay` PaymentMethod, this hash contains details about the Revolut Pay payment method.
          properties: {}
          title: param
          type: object
        sepa_debit:
          description: If this is a `sepa_debit` PaymentMethod, this hash contains details about the SEPA debit bank account.
          properties:
            iban:
              maxLength: 5000
              type: string
          required:
          - iban
          title: param
          type: object
        sofort:
          description: If this is a `sofort` PaymentMethod, this hash contains details about the SOFORT payment method.
          properties:
            country:
              enum:
              - AT
              - BE
              - DE
              - ES
              - IT
              - NL
              type: string
          required:
          - country
          title: param
          type: object
        type:
          description: The type of the PaymentMethod. An additional hash is included on the PaymentMethod with a name matching this value. It contains additional information specific to the PaymentMethod type.
          enum:
          - acss_debit
          - affirm
          - afterpay_clearpay
          - alipay
          - au_becs_debit
          - bacs_debit
          - bancontact
          - blik
          - boleto
          - card
          - cashapp
          - customer_balance
          - eps
          - fpx
          - giropay
          - grabpay
          - ideal
          - klarna
          - konbini
          - link
          - oxxo
          - p24
          - paynow
          - paypal
          - pix
          - promptpay
          - revolut_pay
          - sepa_debit
          - sofort
          - us_bank_account
          - wechat_pay
          - zip
          type: string
          x-stripeBypassValidation: true
        us_bank_account:
          description: If this is an `us_bank_account` PaymentMethod, this hash contains details about the US bank account payment method.
          properties:
            account_holder_type:
              enum:
              - company
              - individual
              type: string
            account_number:
              maxLength: 5000
              type: string
            account_type:
              enum:
              - checking
              - savings
              type: string
            financial_connections_account:
              maxLength: 5000
              type: string
            routing_number:
              maxLength: 5000
              type: string
          title: payment_method_param
          type: object
        wechat_pay:
          description: If this is an `wechat_pay` PaymentMethod, this hash contains details about the wechat_pay payment method.
          properties: {}
          title: param
          type: object
        zip:
          description: If this is a `zip` PaymentMethod, this hash contains details about the Zip payment method.
          properties: {}
          title: param
          type: object
    PostPaymentMethodsPaymentMethodRequest:
      type: object
      properties:
        billing_details:
          description: Billing information associated with the PaymentMethod that may be used or required by particular types of payment methods.
          properties:
            address:
              anyOf:
              - properties:
                  city:
                    maxLength: 5000
                    type: string
                  country:
                    maxLength: 5000
                    type: string
                  line1:
                    maxLength: 5000
                    type: string
                  line2:
                    maxLength: 5000
                    type: string
                  postal_code:
                    maxLength: 5000
                    type: string
                  state:
                    maxLength: 5000
                    type: string
                title: billing_details_address
                type: object
              - enum:
                - ''
                type: string
            email:
              anyOf:
              - type: string
              - enum:
                - ''
                type: string
            name:
              anyOf:
              - maxLength: 5000
                type: string
              - enum:
                - ''
                type: string
            phone:
              anyOf:
              - maxLength: 5000
                type: string
              - enum:
                - ''
                type: string
          title: billing_details_inner_params
          type: object
        card:
          description: If this is a `card` PaymentMethod, this hash contains the user's card details.
          properties:
            exp_month:
              type: integer
            exp_year:
              type: integer
          title: update_api_param
          type: object
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        link:
          description: If this is an `Link` PaymentMethod, this hash contains details about the Link payment method.
          properties: {}
          title: param
          type: object
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        us_bank_account:
          description: If this is an `us_bank_account` PaymentMethod, this hash contains details about the US bank account payment method.
          properties:
            account_holder_type:
              enum:
              - company
              - individual
              type: string
          title: update_param
          type: object
    deleted_customer:
      description: ''
      properties:
        deleted:
          description: Always true for a deleted object
          enum:
          - true
          type: boolean
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - customer
          type: string
      required:
      - deleted
      - id
      - object
      title: DeletedCustomer
      type: object
      x-expandableFields: []
      x-resourceId: deleted_customer
    GetCustomersCustomerPaymentMethodsRequest:
      type: object
      properties: {}
    customer:
      description: 'This object represents a customer of your business. Use it to create recurring charges and track payments that belong to the same customer.


        Related guide: [Save a card during payment](https://stripe.com/docs/payments/save-during-payment)'
      properties:
        address:
          anyOf:
          - $ref: '#/components/schemas/address'
          description: The customer's address.
          nullable: true
        balance:
          description: The current balance, if any, that's stored on the customer. If negative, the customer has credit to apply to their next invoice. If positive, the customer has an amount owed that's added to their next invoice. The balance only considers amounts that Stripe hasn't successfully applied to any invoice. It doesn't reflect unpaid invoices. This balance is only taken into account after invoices finalize.
          type: integer
        cash_balance:
          anyOf:
          - $ref: '#/components/schemas/cash_balance'
          description: The current funds being held by Stripe on behalf of the customer. You can apply these funds towards payment intents when the source is "cash_balance". The `settings[reconciliation_mode]` field describes if these funds apply to these payment intents manually or automatically.
          nullable: true
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO code for the currency](https://stripe.com/docs/currencies) the customer can be charged in for recurring billing purposes.
          maxLength: 5000
          nullable: true
          type: string
        default_source:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/bank_account'
          - $ref: '#/components/schemas/card'
          - $ref: '#/components/schemas/source'
          description: 'ID of the default payment source for the customer.


            If you use payment methods created through the PaymentMethods API, see the [invoice_settings.default_payment_method](https://stripe.com/docs/api/customers/object#customer_object-invoice_settings-default_payment_method) field instead.'
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/bank_account'
            - $ref: '#/components/schemas/card'
            - $ref: '#/components/schemas/source'
          x-stripeBypassValidation: true
        delinquent:
          description: 'Tracks the most recent state change on any invoice belonging to the customer. Paying an invoice or marking it uncollectible via the API will set this field to false. An automatic payment failure or passing the `invoice.due_date` will set this field to `true`.


            If an invoice becomes uncollectible by [dunning](https://stripe.com/docs/billing/automatic-collection), `delinquent` doesn''t reset to `false`.


            If you care whether the customer has paid their most recent subscription invoice, use `subscription.status` instead. Paying or marking uncollectible any customer invoice regardless of whether it is the latest invoice for a subscription will always set this field to `false`.'
          nullable: true
          type: boolean
        description:
          description: An arbitrary string attached to the object. Often useful for displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        discount:
          anyOf:
          - $ref: '#/components/schemas/discount'
          description: Describes the current discount active on the customer, if there is one.
          nullable: true
        email:
          description: The customer's email address.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        invoice_credit_balance:
          additionalProperties:
            type: integer
          description: The current multi-currency balances, if any, that's stored on the customer. If positive in a currency, the customer has a credit to apply to their next invoice denominated in that currency. If negative, the customer has an amount owed that's added to their next invoice denominated in that currency. These balances don't apply to unpaid invoices. They solely track amounts that Stripe hasn't successfully applied to any invoice. Stripe only applies a balance in a specific currency to an invoice after that invoice (which is in the same currency) finalizes.
          type: object
        invoice_prefix:
          description: The prefix for the customer used to generate unique invoice numbers.
          maxLength: 5000
          nullable: true
          type: string
        invoice_settings:
          $ref: '#/components/schemas/invoice_setting_customer_setting'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        name:
          description: The customer's full name or business name.
          maxLength: 5000
          nullable: true
          type: string
        next_invoice_sequence:
          description: The suffix of the customer's next invoice number (for example, 0001).
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - customer
          type: string
        phone:
          description: The customer's phone number.
          maxLength: 5000
          nullable: true
          type: string
        preferred_locales:
          description: The customer's preferred locales (languages), ordered by preference.
          items:
            maxLength: 5000
            type: string
          nullable: true
          type: array
        shipping:
          anyOf:
          - $ref: '#/components/schemas/shipping'
          description: Mailing and shipping address for the customer. Appears on invoices emailed to this customer.
          nullable: true
        sources:
          description: The customer's payment sources, if any.
          properties:
            data:
              description: Details about each object.
              items:
                anyOf:
                - $ref: '#/components/schemas/bank_account'
                - $ref: '#/components/schemas/card'
                - $ref: '#/components/schemas/source'
                title: Polymorphic
                x-stripeBypassValidation: true
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: ApmsSourcesSourceList
          type: object
          x-expandableFields:
          - data
        subscriptions:
          description: The customer's current subscriptions, if any.
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/subscription'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: SubscriptionList
          type: object
          x-expandableFields:
          - data
        tax:
          $ref: '#/components/schemas/customer_tax'
        tax_exempt:
          description: 'Describes the customer''s tax exemption status, which is `none`, `exempt`, or `reverse`. When set to `reverse`, invoice and receipt PDFs include the following text: **"Reverse charge"**.'
          enum:
          - exempt
          - none
          - reverse
          nullable: true
          type: string
        tax_ids:
          description: The customer's tax IDs.
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/tax_id'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: TaxIDsList
          type: object
          x-expandableFields:
          - data
        test_clock:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock that this customer belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/test_helpers.test_clock'
      required:
      - created
      - id
      - livemode
      - object
      title: Customer
      type: object
      x-expandableFields:
      - address
      - cash_balance
      - default_source
      - discount
      - invoice_settings
      - shipping
      - sources
      - subscriptions
      - tax
      - tax_ids
      - test_clock
      x-resourceId: customer
    PostPaymentMethodsPaymentMethodDetachRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    card:
      description: 'You can store multiple cards on a customer in order to charge the customer

        later. You can also store multiple debit cards on a recipient in order to

        transfer to those cards later.


        Related guide: [Card payments with Sources](https://stripe.com/docs/sources/cards)'
      properties:
        account:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/account'
          description: The account this card belongs to. This attribute will not be in the card object if the card belongs to a customer or recipient instead.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/account'
        address_city:
          description: City/District/Suburb/Town/Village.
          maxLength: 5000
          nullable: true
          type: string
        address_country:
          description: Billing address country, if provided when creating card.
          maxLength: 5000
          nullable: true
          type: string
        address_line1:
          description: Address line 1 (Street address/PO Box/Company name).
          maxLength: 5000
          nullable: true
          type: string
        address_line1_check:
          description: 'If `address_line1` was provided, results of the check: `pass`, `fail`, `unavailable`, or `unchecked`.'
          maxLength: 5000
          nullable: true
          type: string
        address_line2:
          description: Address line 2 (Apartment/Suite/Unit/Building).
          maxLength: 5000
          nullable: true
          type: string
        address_state:
          description: State/County/Province/Region.
          maxLength: 5000
          nullable: true
          type: string
        address_zip:
          description: ZIP or postal code.
          maxLength: 5000
          nullable: true
          type: string
        address_zip_check:
          description: 'If `address_zip` was provided, results of the check: `pass`, `fail`, `unavailable`, or `unchecked`.'
          maxLength: 5000
          nullable: true
          type: string
        available_payout_methods:
          description: A set of available payout methods for this card. Only values from this set should be passed as the `method` when creating a payout.
          items:
            enum:
            - instant
            - standard
            type: string
          nullable: true
          type: array
        brand:
          description: Card brand. Can be `American Express`, `Diners Club`, `Discover`, `Eftpos Australia`, `JCB`, `MasterCard`, `UnionPay`, `Visa`, or `Unknown`.
          maxLength: 5000
          type: string
        country:
          description: Two-letter ISO code representing the country of the card. You could use this attribute to get a sense of the international breakdown of cards you've collected.
          maxLength: 5000
          nullable: true
          type: string
        currency:
          description: Three-letter [ISO code for currency](https://stripe.com/docs/payouts). Only applicable on accounts (not customers or recipients). The card can be used as a transfer destination for funds in this currency.
          nullable: true
          type: string
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: The customer that this card belongs to. This attribute will not be in the card object if the card belongs to an account or recipient instead.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        cvc_check:
          description: 'If a CVC was provided, results of the check: `pass`, `fail`, `unavailable`, or `unchecked`. A result of unchecked indicates that CVC was provided but hasn''t been checked yet. Checks are typically performed when attaching a card to a Customer object, or when creating a charge. For more details, see [Check if a card is valid without a charge](https://support.stripe.com/questions/check-if-a-card-is-valid-without-a-charge).'
          maxLength: 5000
          nullable: true
          type: string
        default_for_currency:
          description: Whether this card is the default external account for its currency.
          nullable: true
          type: boolean
        dynamic_last4:
          description: (For tokenized numbers only.) The last four digits of the device account number.
          maxLength: 5000
          nullable: true
          type: string
        exp_month:
          description: Two-digit number representing the card's expiration month.
          type: integer
        exp_year:
          description: Four-digit number representing the card's expiration year.
          type: integer
        fingerprint:
          description: 'Uniquely identifies this particular card number. You can use this attribute to check whether two customers who’ve signed up with you are using the same card number, for example. For payment methods that tokenize card information (Apple Pay, Google Pay), the tokenized number might be provided instead of the underlying card number.


            *As of May 1, 2021, card fingerprint in India for Connect changed to allow two fingerprints for the same cardone for India and one for the rest of the world.*'
          maxLength: 5000
          nullable: true
          type: string
        funding:
          description: Card funding type. Can be `credit`, `debit`, `prepaid`, or `unknown`.
          maxLength: 5000
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last four digits of the card.
          maxLength: 5000
          type: string
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          nullable: true
          type: object
        name:
          description: Cardholder name.
          maxLength: 5000
          nullable: true
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - card
          type: string
        status:
          description: For external accounts that are cards, possible values are `new` and `errored`. If a payout fails, the status is set to `errored` and [scheduled payouts](https://stripe.com/docs/payouts#payout-schedule) are stopped until account details are updated.
          maxLength: 5000
          nullable: true
          type: string
        tokenization_method:
          description: If the card number is tokenized, this is the method that was used. Can be `android_pay` (includes Google Pay), `apple_pay`, `masterpass`, `visa_checkout`, or null.
          maxLength: 5000
          nullable: true
          type: string
      required:
      - brand
      - exp_month
      - exp_year
      - funding
      - id
      - last4
      - object
      title: Card
      type: object
      x-expandableFields:
      - account
      - customer
      x-resourceId: card
    PaymentFlowsPaymentMethodList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/payment_method'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/payment_methods
          type: string
    GetPaymentMethodsPaymentMethodRequest:
      type: object
      properties: {}
    cash_balance:
      description: A customer's `Cash balance` represents real funds. Customers can add funds to their cash balance by sending a bank transfer. These funds can be used for payment and can eventually be paid out to your bank account.
      properties:
        available:
          additionalProperties:
            type: integer
          description: A hash of all cash balances available to this customer. You cannot delete a customer with any cash balances, even if the balance is 0. Amounts are represented in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
          type: object
        customer:
          description: The ID of the customer whose cash balance this object represents.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - cash_balance
          type: string
        settings:
          $ref: '#/components/schemas/customer_balance_customer_balance_settings'
      required:
      - customer
      - livemode
      - object
      - settings
      title: cash_balance
      type: object
      x-expandableFields:
      - settings
      x-resourceId: cash_balance
    subscription:
      description: 'Subscriptions allow you to charge a customer on a recurring basis.


        Related guide: [Creating subscriptions](https://stripe.com/docs/billing/subscriptions/creating)'
      properties:
        application:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/application'
          - $ref: '#/components/schemas/deleted_application'
          description: ID of the Connect Application that created the subscription.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/application'
            - $ref: '#/components/schemas/deleted_application'
        application_fee_percent:
          description: A non-negative decimal between 0 and 100, with at most two decimal places. This represents the percentage of the subscription invoice total that will be transferred to the application owner's Stripe account.
          nullable: true
          type: number
        automatic_tax:
          $ref: '#/components/schemas/subscription_automatic_tax'
        billing_cycle_anchor:
          description: Determines the date of the first full invoice, and, for plans with `month` or `year` intervals, the day of the month for subsequent invoices. The timestamp is in UTC format.
          format: unix-time
          type: integer
        billing_thresholds:
          anyOf:
          - $ref: '#/components/schemas/subscription_billing_thresholds'
          description: Define thresholds at which an invoice will be sent, and the subscription advanced to a new billing period
          nullable: true
        cancel_at:
          description: A date in the future at which the subscription will automatically get canceled
          format: unix-time
          nullable: true
          type: integer
        cancel_at_period_end:
          description: If the subscription has been canceled with the `at_period_end` flag set to `true`, `cancel_at_period_end` on the subscription will be true. You can use this attribute to determine whether a subscription that has a status of active is scheduled to be canceled at the end of the current period.
          type: boolean
        canceled_at:
          description: If the subscription has been canceled, the date of that cancellation. If the subscription was canceled with `cancel_at_period_end`, `canceled_at` will reflect the time of the most recent update request, not the end of the subscription period when the subscription is automatically moved to a canceled state.
          format: unix-time
          nullable: true
          type: integer
        cancellation_details:
          anyOf:
          - $ref: '#/components/schemas/cancellation_details'
          description: Details about why this subscription was cancelled
          nullable: true
        collection_method:
          description: Either `charge_automatically`, or `send_invoice`. When charging automatically, Stripe will attempt to pay this subscription at the end of the cycle using the default source attached to the customer. When sending an invoice, Stripe will email your customer an invoice with payment instructions and mark the subscription as `active`.
          enum:
          - charge_automatically
          - send_invoice
          type: string
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        current_period_end:
          description: End of the current period that the subscription has been invoiced for. At the end of this period, a new invoice will be created.
          format: unix-time
          type: integer
        current_period_start:
          description: Start of the current period that the subscription has been invoiced for.
          format: unix-time
          type: integer
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: ID of the customer who owns the subscription.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        days_until_due:
          description: Number of days a customer has to pay invoices generated by this subscription. This value will be `null` for subscriptions where `collection_method=charge_automatically`.
          nullable: true
          type: integer
        default_payment_method:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/payment_method'
          description: ID of the default payment method for the subscription. It must belong to the customer associated with the subscription. This takes precedence over `default_source`. If neither are set, invoices will use the customer's [invoice_settings.default_payment_method](https://stripe.com/docs/api/customers/object#customer_object-invoice_settings-default_payment_method) or [default_source](https://stripe.com/docs/api/customers/object#customer_object-default_source).
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/payment_method'
        default_source:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/bank_account'
          - $ref: '#/components/schemas/card'
          - $ref: '#/components/schemas/source'
          description: ID of the default payment source for the subscription. It must belong to the customer associated with the subscription and be in a chargeable state. If `default_payment_method` is also set, `default_payment_method` will take precedence. If neither are set, invoices will use the customer's [invoice_settings.default_payment_method](https://stripe.com/docs/api/customers/object#customer_object-invoice_settings-default_payment_method) or [default_source](https://stripe.com/docs/api/customers/object#customer_object-default_source).
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/bank_account'
            - $ref: '#/components/schemas/card'
            - $ref: '#/components/schemas/source'
          x-stripeBypassValidation: true
        default_tax_rates:
          description: The tax rates that will apply to any subscription item that does not have `tax_rates` set. Invoices created will have their `default_tax_rates` populated from the subscription.
          items:
            $ref: '#/components/schemas/tax_rate'
          nullable: true
          type: array
        description:
          description: The subscription's description, meant to be displayable to the customer. Use this field to optionally store an explanation of the subscription for rendering in Stripe surfaces and certain local payment methods UIs.
          maxLength: 500
          nullable: true
          type: string
        discount:
          anyOf:
          - $ref: '#/components/schemas/discount'
          description: Describes the current discount applied to this subscription, if there is one. When billing, a discount applied to a subscription overrides a discount applied on a customer-wide basis.
          nullable: true
        ended_at:
          description: If the subscription has ended, the date the subscription ended.
          format: unix-time
          nullable: true
          type: integer
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        items:
          description: List of subscription items, each with an attached price.
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/subscription_item'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: SubscriptionItemList
          type: object
          x-expandableFields:
          - data
        latest_invoice:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/invoice'
          description: The most recent invoice this subscription has generated.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/invoice'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        next_pending_invoice_item_invoice:
          description: Specifies the approximate timestamp on which any pending invoice items will be billed according to the schedule provided at `pending_invoice_item_interval`.
          format: unix-time
          nullable: true
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - subscription
          type: string
        on_behalf_of:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/account'
          description: The account (if any) the charge was made on behalf of for charges associated with this subscription. See the Connect documentation for details.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/account'
        pause_collection:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_resource_pause_collection'
          description: If specified, payment collection for this subscription will be paused.
          nullable: true
        payment_settings:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_resource_payment_settings'
          description: Payment settings passed on to invoices created by the subscription.
          nullable: true
        pending_invoice_item_interval:
          anyOf:
          - $ref: '#/components/schemas/subscription_pending_invoice_item_interval'
          description: Specifies an interval for how often to bill for any pending invoice items. It is analogous to calling [Create an invoice](https://stripe.com/docs/api#create_invoice) for the given subscription at the specified interval.
          nullable: true
        pending_setup_intent:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/setup_intent'
          description: You can use this [SetupIntent](https://stripe.com/docs/api/setup_intents) to collect user authentication when creating a subscription without immediate payment or updating a subscription's payment method, allowing you to optimize for off-session payments. Learn more in the [SCA Migration Guide](https://stripe.com/docs/billing/migration/strong-customer-authentication#scenario-2).
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/setup_intent'
        pending_update:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_resource_pending_update'
          description: If specified, [pending updates](https://stripe.com/docs/billing/subscriptions/pending-updates) that will be applied to the subscription once the `latest_invoice` has been paid.
          nullable: true
        schedule:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/subscription_schedule'
          description: The schedule attached to the subscription
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/subscription_schedule'
        start_date:
          description: Date when the subscription was first created. The date might differ from the `created` date due to backdating.
          format: unix-time
          type: integer
        status:
          description: "Possible values are `incomplete`, `incomplete_expired`, `trialing`, `active`, `past_due`, `canceled`, or `unpaid`. \n\nFor `collection_method=charge_automatically` a subscription moves into `incomplete` if the initial payment attempt fails. A subscription in this state can only have metadata and default_source updated. Once the first invoice is paid, the subscription moves into an `active` state. If the first invoice is not paid within 23 hours, the subscription transitions to `incomplete_expired`. This is a terminal state, the open invoice will be voided and no further invoices will be generated. \n\nA subscription that is currently in a trial period is `trialing` and moves to `active` when the trial period is over. \n\nIf subscription `collection_method=charge_automatically`, it becomes `past_due` when payment is required but cannot be paid (due to failed payment or awaiting additional user actions). Once Stripe has exhausted all payment retry attempts, the subscription will become `canceled` or `unpaid` (depending on your subscriptions settings). \n\nIf subscription `collection_method=send_invoice` it becomes `past_due` when its invoice is not paid by the due date, and `canceled` or `unpaid` if it is still not paid by an additional deadline after that. Note that when a subscription has a status of `unpaid`, no subsequent invoices will be attempted (invoices will be created, but then immediately automatically closed). After receiving updated payment information from a customer, you may choose to reopen and pay their closed invoices."
          enum:
          - active
          - canceled
          - incomplete
          - incomplete_expired
          - past_due
          - paused
          - trialing
          - unpaid
          type: string
        test_clock:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock this subscription belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/test_helpers.test_clock'
        transfer_data:
          anyOf:
          - $ref: '#/components/schemas/subscription_transfer_data'
          description: The account (if any) the subscription's payments will be attributed to for tax reporting, and where funds from each payment will be transferred to for each of the subscription's invoices.
          nullable: true
        trial_end:
          description: If the subscription has a trial, the end of that trial.
          format: unix-time
          nullable: true
          type: integer
        trial_settings:
          anyOf:
          - $ref: '#/components/schemas/subscriptions_trials_resource_trial_settings'
          description: Settings related to subscription trials.
          nullable: true
        trial_start:
          description: If the subscription has a trial, the beginning of that trial.
          format: unix-time
          nullable: true
          type: integer
      required:
      - automatic_tax
      - billing_cycle_anchor
      - cancel_at_period_end
      - collection_method
      - created
      - currency
      - current_period_end
      - current_period_start
      - customer
      - id
      - items
      - livemode
      - metadata
      - object
      - start_date
      - status
      title: Subscription
      type: object
      x-expandableFields:
      - application
      - automatic_tax
      - billing_thresholds
      - cancellation_details
      - customer
      - default_payment_method
      - default_source
      - default_tax_rates
      - discount
      - items
      - latest_invoice
      - on_behalf_of
      - pause_collection
      - payment_settings
      - pending_invoice_item_interval
      - pending_setup_intent
      - pending_update
      - schedule
      - test_clock
      - transfer_data
      - trial_settings
      x-resourceId: subscription
    bank_account:
      description: 'These bank accounts are payment methods on `Customer` objects.


        On the other hand [External Accounts](https://stripe.com/docs/api#external_accounts) are transfer

        destinations on `Account` objects for [Custom accounts](https://stripe.com/docs/connect/custom-accounts).

        They can be bank accounts or debit cards as well, and are documented in the links above.


        Related guide: [Bank debits and transfers](https://stripe.com/docs/payments/bank-debits-transfers)'
      properties:
        account:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/account'
          description: The ID of the account that the bank account is associated with.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/account'
        account_holder_name:
          description: The name of the person or business that owns the bank account.
          maxLength: 5000
          nullable: true
          type: string
        account_holder_type:
          description: The type of entity that holds the account. This can be either `individual` or `company`.
          maxLength: 5000
          nullable: true
          type: string
        account_type:
          description: The bank account type. This can only be `checking` or `savings` in most countries. In Japan, this can only be `futsu` or `toza`.
          maxLength: 5000
          nullable: true
          type: string
        available_payout_methods:
          description: A set of available payout methods for this bank account. Only values from this set should be passed as the `method` when creating a payout.
          items:
            enum:
            - instant
            - standard
            type: string
          nullable: true
          type: array
        bank_name:
          description: Name of the bank associated with the routing number (e.g., `WELLS FARGO`).
          maxLength: 5000
          nullable: true
          type: string
        country:
          description: Two-letter ISO code representing the country the bank account is located in.
          maxLength: 5000
          type: string
        currency:
          description: Three-letter [ISO code for the currency](https://stripe.com/docs/payouts) paid out to the bank account.
          type: string
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: The ID of the customer that the bank account is associated with.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        default_for_currency:
          description: Whether this bank account is the default external account for its currency.
          nullable: true
          type: boolean
        fingerprint:
          description: Uniquely identifies this particular bank account. You can use this attribute to check whether two bank accounts are the same.
          maxLength: 5000
          nullable: true
          type: string
        future_requirements:
          anyOf:
          - $ref: '#/components/schemas/external_account_requirements'
          description: Information about the [upcoming new requirements for the bank account](https://stripe.com/docs/connect/custom-accounts/future-requirements), including what information needs to be collected, and by when.
          nullable: true
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last four digits of the bank account number.
          maxLength: 5000
          type: string
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          nullable: true
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - bank_account
          type: string
        requirements:
          anyOf:
          - $ref: '#/components/schemas/external_account_requirements'
          description: Information about the requirements for the bank account, including what information needs to be collected.
          nullable: true
        routing_number:
          description: The routing transit number for the bank account.
          maxLength: 5000
          nullable: true
          type: string
        status:
          description: 'For bank accounts, possible values are `new`, `validated`, `verified`, `verification_failed`, or `errored`. A bank account that hasn''t had any activity or validation performed is `new`. If Stripe can determine that the bank account exists, its status will be `validated`. Note that there often isn’t enough information to know (e.g., for smaller credit unions), and the validation is not always run. If customer bank account verification has succeeded, the bank account status will be `verified`. If the verification failed for any reason, such as microdeposit failure, the status will be `verification_failed`. If a payout sent to this bank account fails, we''ll set the status to `errored` and will not continue to send [scheduled payouts](https://stripe.com/docs/payouts#payout-schedule) until the bank details are updated.


            For external accounts, possible values are `new`, `errored` and `verification_failed`. If a payouts fails, the status is set to `errored` and scheduled payouts are stopped until account details are updated. In India, if we can''t [verify the owner of the bank account](https://support.stripe.com/questions/bank-account-ownership-verification), we''ll set the status to `verification_failed`. Other validations aren''t run against external accounts because they''re only used for payouts. This means the other statuses don''t apply.'
          maxLength: 5000
          type: string
      required:
      - country
      - currency
      - id
      - last4
      - object
      - status
      title: BankAccount
      type: object
      x-expandableFields:
      - account
      - customer
      - future_requirements
      - requirements
      x-resourceId: bank_account
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    discount:
      description: 'A discount represents the actual application of a [coupon](https://stripe.com/docs/api#coupons) or [promotion code](https://stripe.com/docs/api#promotion_codes).

        It contains information about when the discount began, when it will end, and what it is applied to.


        Related guide: [Applying discounts to subscriptions](https://stripe.com/docs/billing/subscriptions/discounts)'
      properties:
        checkout_session:
          description: The Checkout session that this coupon is applied to, if it is applied to a particular session in payment mode. Will not be present for subscription mode.
          maxLength: 5000
          nullable: true
          type: string
        coupon:
          $ref: '#/components/schemas/coupon'
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: The ID of the customer associated with this discount.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        end:
          description: If the coupon has a duration of `repeating`, the date that this discount will end. If the coupon has a duration of `once` or `forever`, this attribute will be null.
          format: unix-time
          nullable: true
          type: integer
        id:
          description: The ID of the discount object. Discounts cannot be fetched by ID. Use `expand[]=discounts` in API calls to expand discount IDs in an array.
          maxLength: 5000
          type: string
        invoice:
          description: The invoice that the discount's coupon was applied to, if it was applied directly to a particular invoice.
          maxLength: 5000
          nullable: true
          type: string
        invoice_item:
          description: The invoice item `id` (or invoice line item `id` for invoice line items of type='subscription') that the discount's coupon was applied to, if it was applied directly to a particular invoice item or invoice line item.
          maxLength: 5000
          nullable: true
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - discount
          type: string
        promotion_code:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/promotion_code'
          description: The promotion code applied to create this discount.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/promotion_code'
        start:
          description: Date that the coupon was applied.
          format: unix-time
          type: integer
        subscription:
          description: The subscription that this coupon is applied to, if it is applied to a particular subscription.
          maxLength: 5000
          nullable: true
          type: string
      required:
      - coupon
      - id
      - object
      - start
      title: Discount
      type: object
      x-expandableFields:
      - coupon
      - customer
      - promotion_code
      x-resourceId: discount
    tax_id:
      description: 'You can add one or multiple tax IDs to a [customer](https://stripe.com/docs/api/customers) or account.

        Customer and account tax IDs get displayed on related invoices and credit notes.


        Related guides: [Customer tax identification numbers](https://stripe.com/docs/billing/taxes/tax-ids), [Account tax IDs](https://stripe.com/docs/invoicing/connect#account-tax-ids)'
      properties:
        country:
          description: Two-letter ISO code representing the country of the tax ID.
          maxLength: 5000
          nullable: true
          type: string
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          description: ID of the customer.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - tax_id
          type: string
        type:
          description: Type of the tax ID, one of `ad_nrt`, `ae_trn`, `ar_cuit`, `au_abn`, `au_arn`, `bg_uic`, `bo_tin`, `br_cnpj`, `br_cpf`, `ca_bn`, `ca_gst_hst`, `ca_pst_bc`, `ca_pst_mb`, `ca_pst_sk`, `ca_qst`, `ch_vat`, `cl_tin`, `cn_tin`, `co_nit`, `cr_tin`, `do_rcn`, `ec_ruc`, `eg_tin`, `es_cif`, `eu_oss_vat`, `eu_vat`, `gb_vat`, `ge_vat`, `hk_br`, `hu_tin`, `id_npwp`, `il_vat`, `in_gst`, `is_vat`, `jp_cn`, `jp_rn`, `jp_trn`, `ke_pin`, `kr_brn`, `li_uid`, `mx_rfc`, `my_frp`, `my_itn`, `my_sst`, `no_vat`, `nz_gst`, `pe_ruc`, `ph_tin`, `ro_tin`, `rs_pib`, `ru_inn`, `ru_kpp`, `sa_vat`, `sg_gst`, `sg_uen`, `si_tin`, `sv_nit`, `th_vat`, `tr_tin`, `tw_vat`, `ua_vat`, `us_ein`, `uy_ruc`, `ve_rif`, `vn_tin`, or `za_vat`. Note that some legacy tax IDs have type `unknown`
          enum:
          - ad_nrt
          - ae_trn
          - ar_cuit
          - au_abn
          - au_arn
          - bg_uic
          - bo_tin
          - br_cnpj
          - br_cpf
          - ca_bn
          - ca_gst_hst
          - ca_pst_bc
          - ca_pst_mb
          - ca_pst_sk
          - ca_qst
          - ch_vat
          - cl_tin
          - cn_tin
          - co_nit
          - cr_tin
          - do_rcn
          - ec_ruc
          - eg_tin
          - es_cif
          - eu_oss_vat
          - eu_vat
          - gb_vat
          - ge_vat
          - hk_br
          - hu_tin
          - id_npwp
          - il_vat
          - in_gst
          - is_vat
          - jp_cn
          - jp_rn
          - jp_trn
          - ke_pin
          - kr_brn
          - li_uid
          - mx_rfc
          - my_frp
          - my_itn
          - my_sst
          - no_vat
          - nz_gst
          - pe_ruc
          - ph_tin
          - ro_tin
          - rs_pib
          - ru_inn
          - ru_kpp
          - sa_vat
          - sg_gst
          - sg_uen
          - si_tin
          - sv_nit
          - th_vat
          - tr_tin
          - tw_vat
          - ua_vat
          - unknown
          - us_ein
          - uy_ruc
          - ve_rif
          - vn_tin
          - za_vat
          type: string
        value:
          description: Value of the tax ID.
          maxLength: 5000
          type: string
        verification:
          anyOf:
          - $ref: '#/components/schemas/tax_id_verification'
          description: Tax ID verification information.
          nullable: true
      required:
      - created
      - id
      - livemode
      - object
      - type
      - value
      title: tax_id
      type: object
      x-expandableFields:
      - customer
      - verification
      x-resourceId: tax_id
    CustomerPaymentMethodResourceList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/payment_method'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          type: string
    payment_method:
      description: 'PaymentMethod objects represent your customer''s payment instruments.

        You can use them with [PaymentIntents](https://stripe.com/docs/payments/payment-intents) to collect payments or save them to

        Customer objects to store instrument details for future payments.


        Related guides: [Payment Methods](https://stripe.com/docs/payments/payment-methods) and [More Payment Scenarios](https://stripe.com/docs/payments/more-payment-scenarios).'
      properties:
        acss_debit:
          $ref: '#/components/schemas/payment_method_acss_debit'
        affirm:
          $ref: '#/components/schemas/payment_method_affirm'
        afterpay_clearpay:
          $ref: '#/components/schemas/payment_method_afterpay_clearpay'
        alipay:
          $ref: '#/components/schemas/payment_flows_private_payment_methods_alipay'
        au_becs_debit:
          $ref: '#/components/schemas/payment_method_au_becs_debit'
        bacs_debit:
          $ref: '#/components/schemas/payment_method_bacs_debit'
        bancontact:
          $ref: '#/components/schemas/payment_method_bancontact'
        billing_details:
          $ref: '#/components/schemas/billing_details'
        blik:
          $ref: '#/components/schemas/payment_method_blik'
        boleto:
          $ref: '#/components/schemas/payment_method_boleto'
        card:
          $ref: '#/components/schemas/payment_method_card'
        card_present:
          $ref: '#/components/schemas/payment_method_card_present'
[...]
