openapi: 3.0.0
info:
  title: Stripe Accounts Account Card API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Card
paths:
  /v1/issuing/cards/{card}:
    get:
      description: <p>Retrieves an Issuing <code>Card</code> object.</p>
      operationId: getIssuingCardsCard
      parameters:
      - in: path
        name: card
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardsCardRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Issuing Cards Card
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Card
    post:
      description: <p>Updates the specified Issuing <code>Card</code> object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.</p>
      operationId: postIssuingCardsCard
      parameters:
      - in: path
        name: card
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              pin:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardsCardRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Cards Card
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Card
components:
  schemas:
    issuing.cardholder:
      description: 'An Issuing `Cardholder` object represents an individual or business entity who is [issued](https://stripe.com/docs/issuing) cards.


        Related guide: [How to create a cardholder](https://stripe.com/docs/issuing/cards#create-cardholder)'
      properties:
        billing:
          $ref: '#/components/schemas/issuing_cardholder_address'
        company:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_company'
          description: Additional information about a `company` cardholder.
          nullable: true
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        email:
          description: The cardholder's email address.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        individual:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_individual'
          description: Additional information about an `individual` cardholder.
          nullable: true
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        name:
          description: The cardholder's name. This will be printed on cards issued to them.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.cardholder
          type: string
        phone_number:
          description: The cardholder's phone number. This is required for all cardholders who will be creating EU cards. See the [3D Secure documentation](https://stripe.com/docs/issuing/3d-secure#when-is-3d-secure-applied) for more details.
          maxLength: 5000
          nullable: true
          type: string
        preferred_locales:
          description: "The cardholder’s preferred locales (languages), ordered by preference. Locales can be `de`, `en`, `es`, `fr`, or `it`.\n This changes the language of the [3D Secure flow](https://stripe.com/docs/issuing/3d-secure) and one-time password messages sent to the cardholder."
          items:
            enum:
            - de
            - en
            - es
            - fr
            - it
            type: string
          nullable: true
          type: array
        requirements:
          $ref: '#/components/schemas/issuing_cardholder_requirements'
        spending_controls:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_authorization_controls'
          description: Rules that control spending across this cardholder's cards. Refer to our [documentation](https://stripe.com/docs/issuing/controls/spending-controls) for more details.
          nullable: true
        status:
          description: Specifies whether to permit authorizations on this cardholder's cards.
          enum:
          - active
          - blocked
          - inactive
          type: string
        type:
          description: One of `individual` or `company`. See [Choose a cardholder type](https://stripe.com/docs/issuing/other/choose-cardholder) for more details.
          enum:
          - company
          - individual
          type: string
          x-stripeBypassValidation: true
      required:
      - billing
      - created
      - id
      - livemode
      - metadata
      - name
      - object
      - requirements
      - status
      - type
      title: IssuingCardholder
      type: object
      x-expandableFields:
      - billing
      - company
      - individual
      - requirements
      - spending_controls
      x-resourceId: issuing.cardholder
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    PostIssuingCardsCardRequest:
      type: object
      properties:
        cancellation_reason:
          description: Reason why the `status` of this card is `canceled`.
          enum:
          - lost
          - stolen
          type: string
          x-stripeBypassValidation: true
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        pin:
          description: The desired new PIN for this card.
          properties:
            encrypted_number:
              maxLength: 5000
              type: string
          title: encrypted_pin_param
          type: object
        spending_controls:
          description: Rules that control spending for this card. Refer to our [documentation](https://stripe.com/docs/issuing/controls/spending-controls) for more details.
          properties:
            allowed_categories:
              items:
                enum:
                - ac_refrigeration_repair
                - accounting_bookkeeping_services
                - advertising_services
                - agricultural_cooperative
                - airlines_air_carriers
                - airports_flying_fields
                - ambulance_services
                - amusement_parks_carnivals
                - antique_reproductions
                - antique_shops
                - aquariums
                - architectural_surveying_services
                - art_dealers_and_galleries
                - artists_supply_and_craft_shops
                - auto_and_home_supply_stores
                - auto_body_repair_shops
                - auto_paint_shops
                - auto_service_shops
                - automated_cash_disburse
                - automated_fuel_dispensers
                - automobile_associations
                - automotive_parts_and_accessories_stores
                - automotive_tire_stores
                - bail_and_bond_payments
                - bakeries
                - bands_orchestras
                - barber_and_beauty_shops
                - betting_casino_gambling
                - bicycle_shops
                - billiard_pool_establishments
                - boat_dealers
                - boat_rentals_and_leases
                - book_stores
                - books_periodicals_and_newspapers
                - bowling_alleys
                - bus_lines
                - business_secretarial_schools
                - buying_shopping_services
                - cable_satellite_and_other_pay_television_and_radio
                - camera_and_photographic_supply_stores
                - candy_nut_and_confectionery_stores
                - car_and_truck_dealers_new_used
                - car_and_truck_dealers_used_only
                - car_rental_agencies
                - car_washes
                - carpentry_services
                - carpet_upholstery_cleaning
                - caterers
                - charitable_and_social_service_organizations_fundraising
                - chemicals_and_allied_products
                - child_care_services
                - childrens_and_infants_wear_stores
                - chiropodists_podiatrists
                - chiropractors
                - cigar_stores_and_stands
                - civic_social_fraternal_associations
                - cleaning_and_maintenance
                - clothing_rental
                - colleges_universities
                - commercial_equipment
                - commercial_footwear
                - commercial_photography_art_and_graphics
                - commuter_transport_and_ferries
                - computer_network_services
                - computer_programming
                - computer_repair
                - computer_software_stores
                - computers_peripherals_and_software
                - concrete_work_services
                - construction_materials
                - consulting_public_relations
                - correspondence_schools
                - cosmetic_stores
                - counseling_services
                - country_clubs
                - courier_services
                - court_costs
                - credit_reporting_agencies
                - cruise_lines
                - dairy_products_stores
                - dance_hall_studios_schools
                - dating_escort_services
                - dentists_orthodontists
                - department_stores
                - detective_agencies
                - digital_goods_applications
                - digital_goods_games
                - digital_goods_large_volume
                - digital_goods_media
                - direct_marketing_catalog_merchant
                - direct_marketing_combination_catalog_and_retail_merchant
                - direct_marketing_inbound_telemarketing
                - direct_marketing_insurance_services
                - direct_marketing_other
                - direct_marketing_outbound_telemarketing
                - direct_marketing_subscription
                - direct_marketing_travel
                - discount_stores
                - doctors
                - door_to_door_sales
                - drapery_window_covering_and_upholstery_stores
                - drinking_places
                - drug_stores_and_pharmacies
                - drugs_drug_proprietaries_and_druggist_sundries
                - dry_cleaners
                - durable_goods
                - duty_free_stores
                - eating_places_restaurants
                - educational_services
                - electric_razor_stores
                - electric_vehicle_charging
                - electrical_parts_and_equipment
                - electrical_services
                - electronics_repair_shops
                - electronics_stores
                - elementary_secondary_schools
                - emergency_services_gcas_visa_use_only
                - employment_temp_agencies
                - equipment_rental
                - exterminating_services
                - family_clothing_stores
                - fast_food_restaurants
                - financial_institutions
                - fines_government_administrative_entities
                - fireplace_fireplace_screens_and_accessories_stores
                - floor_covering_stores
                - florists
                - florists_supplies_nursery_stock_and_flowers
                - freezer_and_locker_meat_provisioners
                - fuel_dealers_non_automotive
                - funeral_services_crematories
                - furniture_home_furnishings_and_equipment_stores_except_appliances
                - furniture_repair_refinishing
                - furriers_and_fur_shops
                - general_services
                - gift_card_novelty_and_souvenir_shops
                - glass_paint_and_wallpaper_stores
                - glassware_crystal_stores
                - golf_courses_public
                - government_licensed_horse_dog_racing_us_region_only
                - government_licensed_online_casions_online_gambling_us_region_only
                - government_owned_lotteries_non_us_region
                - government_owned_lotteries_us_region_only
                - government_services
                - grocery_stores_supermarkets
                - hardware_equipment_and_supplies
                - hardware_stores
                - health_and_beauty_spas
                - hearing_aids_sales_and_supplies
                - heating_plumbing_a_c
                - hobby_toy_and_game_shops
                - home_supply_warehouse_stores
                - hospitals
                - hotels_motels_and_resorts
                - household_appliance_stores
                - industrial_supplies
                - information_retrieval_services
                - insurance_default
                - insurance_underwriting_premiums
                - intra_company_purchases
                - jewelry_stores_watches_clocks_and_silverware_stores
                - landscaping_services
                - laundries
                - laundry_cleaning_services
                - legal_services_attorneys
                - luggage_and_leather_goods_stores
                - lumber_building_materials_stores
                - manual_cash_disburse
                - marinas_service_and_supplies
                - marketplaces
                - masonry_stonework_and_plaster
                - massage_parlors
                - medical_and_dental_labs
                - medical_dental_ophthalmic_and_hospital_equipment_and_supplies
                - medical_services
                - membership_organizations
                - mens_and_boys_clothing_and_accessories_stores
                - mens_womens_clothing_stores
                - metal_service_centers
                - miscellaneous
                - miscellaneous_apparel_and_accessory_shops
                - miscellaneous_auto_dealers
                - miscellaneous_business_services
                - miscellaneous_food_stores
                - miscellaneous_general_merchandise
                - miscellaneous_general_services
                - miscellaneous_home_furnishing_specialty_stores
                - miscellaneous_publishing_and_printing
                - miscellaneous_recreation_services
                - miscellaneous_repair_shops
                - miscellaneous_specialty_retail
                - mobile_home_dealers
                - motion_picture_theaters
                - motor_freight_carriers_and_trucking
                - motor_homes_dealers
                - motor_vehicle_supplies_and_new_parts
                - motorcycle_shops_and_dealers
                - motorcycle_shops_dealers
                - music_stores_musical_instruments_pianos_and_sheet_music
                - news_dealers_and_newsstands
                - non_fi_money_orders
                - non_fi_stored_value_card_purchase_load
                - nondurable_goods
                - nurseries_lawn_and_garden_supply_stores
                - nursing_personal_care
                - office_and_commercial_furniture
                - opticians_eyeglasses
                - optometrists_ophthalmologist
                - orthopedic_goods_prosthetic_devices
                - osteopaths
                - package_stores_beer_wine_and_liquor
                - paints_varnishes_and_supplies
                - parking_lots_garages
                - passenger_railways
                - pawn_shops
                - pet_shops_pet_food_and_supplies
                - petroleum_and_petroleum_products
                - photo_developing
                - photographic_photocopy_microfilm_equipment_and_supplies
                - photographic_studios
                - picture_video_production
                - piece_goods_notions_and_other_dry_goods
                - plumbing_heating_equipment_and_supplies
                - political_organizations
                - postal_services_government_only
                - precious_stones_and_metals_watches_and_jewelry
                - professional_services
                - public_warehousing_and_storage
                - quick_copy_repro_and_blueprint
                - railroads
                - real_estate_agents_and_managers_rentals
                - record_stores
                - recreational_vehicle_rentals
                - religious_goods_stores
                - religious_organizations
                - roofing_siding_sheet_metal
                - secretarial_support_services
                - security_brokers_dealers
                - service_stations
                - sewing_needlework_fabric_and_piece_goods_stores
                - shoe_repair_hat_cleaning
                - shoe_stores
                - small_appliance_repair
                - snowmobile_dealers
                - special_trade_services
                - specialty_cleaning
                - sporting_goods_stores
                - sporting_recreation_camps
                - sports_and_riding_apparel_stores
                - sports_clubs_fields
                - stamp_and_coin_stores
                - stationary_office_supplies_printing_and_writing_paper
                - stationery_stores_office_and_school_supply_stores
                - swimming_pools_sales
                - t_ui_travel_germany
                - tailors_alterations
                - tax_payments_government_agencies
                - tax_preparation_services
                - taxicabs_limousines
                - telecommunication_equipment_and_telephone_sales
                - telecommunication_services
                - telegraph_services
                - tent_and_awning_shops
                - testing_laboratories
                - theatrical_ticket_agencies
                - timeshares
                - tire_retreading_and_repair
                - tolls_bridge_fees
                - tourist_attractions_and_exhibits
                - towing_services
                - trailer_parks_campgrounds
                - transportation_services
                - travel_agencies_tour_operators
                - truck_stop_iteration
                - truck_utility_trailer_rentals
                - typesetting_plate_making_and_related_services
                - typewriter_stores
                - u_s_federal_government_agencies_or_departments
                - uniforms_commercial_clothing
                - used_merchandise_and_secondhand_stores
                - utilities
                - variety_stores
                - veterinary_services
                - video_amusement_game_supplies
                - video_game_arcades
                - video_tape_rental_stores
                - vocational_trade_schools
                - watch_jewelry_repair
                - welding_repair
                - wholesale_clubs
                - wig_and_toupee_stores
                - wires_money_orders
                - womens_accessory_and_specialty_shops
                - womens_ready_to_wear_stores
                - wrecking_and_salvage_yards
                maxLength: 5000
                type: string
              type: array
            blocked_categories:
              items:
                enum:
                - ac_refrigeration_repair
                - accounting_bookkeeping_services
                - advertising_services
                - agricultural_cooperative
                - airlines_air_carriers
                - airports_flying_fields
                - ambulance_services
                - amusement_parks_carnivals
                - antique_reproductions
                - antique_shops
                - aquariums
                - architectural_surveying_services
                - art_dealers_and_galleries
                - artists_supply_and_craft_shops
                - auto_and_home_supply_stores
                - auto_body_repair_shops
                - auto_paint_shops
                - auto_service_shops
                - automated_cash_disburse
                - automated_fuel_dispensers
                - automobile_associations
                - automotive_parts_and_accessories_stores
                - automotive_tire_stores
                - bail_and_bond_payments
                - bakeries
                - bands_orchestras
                - barber_and_beauty_shops
                - betting_casino_gambling
                - bicycle_shops
                - billiard_pool_establishments
                - boat_dealers
                - boat_rentals_and_leases
                - book_stores
                - books_periodicals_and_newspapers
                - bowling_alleys
                - bus_lines
                - business_secretarial_schools
                - buying_shopping_services
                - cable_satellite_and_other_pay_television_and_radio
                - camera_and_photographic_supply_stores
                - candy_nut_and_confectionery_stores
                - car_and_truck_dealers_new_used
                - car_and_truck_dealers_used_only
                - car_rental_agencies
                - car_washes
                - carpentry_services
                - carpet_upholstery_cleaning
                - caterers
                - charitable_and_social_service_organizations_fundraising
                - chemicals_and_allied_products
                - child_care_services
                - childrens_and_infants_wear_stores
                - chiropodists_podiatrists
                - chiropractors
                - cigar_stores_and_stands
                - civic_social_fraternal_associations
                - cleaning_and_maintenance
                - clothing_rental
                - colleges_universities
                - commercial_equipment
                - commercial_footwear
                - commercial_photography_art_and_graphics
                - commuter_transport_and_ferries
                - computer_network_services
                - computer_programming
                - computer_repair
                - computer_software_stores
                - computers_peripherals_and_software
                - concrete_work_services
                - construction_materials
                - consulting_public_relations
                - correspondence_schools
                - cosmetic_stores
                - counseling_services
                - country_clubs
                - courier_services
                - court_costs
                - credit_reporting_agencies
                - cruise_lines
                - dairy_products_stores
                - dance_hall_studios_schools
                - dating_escort_services
                - dentists_orthodontists
                - department_stores
                - detective_agencies
                - digital_goods_applications
                - digital_goods_games
                - digital_goods_large_volume
                - digital_goods_media
                - direct_marketing_catalog_merchant
                - direct_marketing_combination_catalog_and_retail_merchant
                - direct_marketing_inbound_telemarketing
                - direct_marketing_insurance_services
                - direct_marketing_other
                - direct_marketing_outbound_telemarketing
                - direct_marketing_subscription
                - direct_marketing_travel
                - discount_stores
                - doctors
                - door_to_door_sales
                - drapery_window_covering_and_upholstery_stores
                - drinking_places
                - drug_stores_and_pharmacies
                - drugs_drug_proprietaries_and_druggist_sundries
                - dry_cleaners
                - durable_goods
                - duty_free_stores
                - eating_places_restaurants
                - educational_services
                - electric_razor_stores
                - electric_vehicle_charging
                - electrical_parts_and_equipment
                - electrical_services
                - electronics_repair_shops
                - electronics_stores
                - elementary_secondary_schools
                - emergency_services_gcas_visa_use_only
                - employment_temp_agencies
                - equipment_rental
                - exterminating_services
                - family_clothing_stores
                - fast_food_restaurants
                - financial_institutions
                - fines_government_administrative_entities
                - fireplace_fireplace_screens_and_accessories_stores
                - floor_covering_stores
                - florists
                - florists_supplies_nursery_stock_and_flowers
                - freezer_and_locker_meat_provisioners
                - fuel_dealers_non_automotive
                - funeral_services_crematories
                - furniture_home_furnishings_and_equipment_stores_except_appliances
                - furniture_repair_refinishing
                - furriers_and_fur_shops
                - general_services
                - gift_card_novelty_and_souvenir_shops
                - glass_paint_and_wallpaper_stores
                - glassware_crystal_stores
                - golf_courses_public
                - government_licensed_horse_dog_racing_us_region_only
                - government_licensed_online_casions_online_gambling_us_region_only
                - government_owned_lotteries_non_us_region
                - government_owned_lotteries_us_region_only
                - government_services
                - grocery_stores_supermarkets
                - hardware_equipment_and_supplies
                - hardware_stores
                - health_and_beauty_spas
                - hearing_aids_sales_and_supplies
                - heating_plumbing_a_c
                - hobby_toy_and_game_shops
                - home_supply_warehouse_stores
                - hospitals
                - hotels_motels_and_resorts
                - household_appliance_stores
                - industrial_supplies
                - information_retrieval_services
                - insurance_default
                - insurance_underwriting_premiums
                - intra_company_purchases
                - jewelry_stores_watches_clocks_and_silverware_stores
                - landscaping_services
                - laundries
                - laundry_cleaning_services
                - legal_services_attorneys
                - luggage_and_leather_goods_stores
                - lumber_building_materials_stores
                - manual_cash_disburse
                - marinas_service_and_supplies
                - marketplaces
                - masonry_stonework_and_plaster
                - massage_parlors
                - medical_and_dental_labs
                - medical_dental_ophthalmic_and_hospital_equipment_and_supplies
                - medical_services
                - membership_organizations
                - mens_and_boys_clothing_and_accessories_stores
                - mens_womens_clothing_stores
                - metal_service_centers
                - miscellaneous
                - miscellaneous_apparel_and_accessory_shops
                - miscellaneous_auto_dealers
                - miscellaneous_business_services
                - miscellaneous_food_stores
                - miscellaneous_general_merchandise
                - miscellaneous_general_services
                - miscellaneous_home_furnishing_specialty_stores
                - miscellaneous_publishing_and_printing
                - miscellaneous_recreation_services
                - miscellaneous_repair_shops
                - miscellaneous_specialty_retail
                - mobile_home_dealers
                - motion_picture_theaters
                - motor_freight_carriers_and_trucking
                - motor_homes_dealers
                - motor_vehicle_supplies_and_new_parts
                - motorcycle_shops_and_dealers
                - motorcycle_shops_dealers
                - music_stores_musical_instruments_pianos_and_sheet_music
                - news_dealers_and_newsstands
                - non_fi_money_orders
                - non_fi_stored_value_card_purchase_load
                - nondurable_goods
                - nurseries_lawn_and_garden_supply_stores
                - nursing_personal_care
                - office_and_commercial_furniture
                - opticians_eyeglasses
                - optometrists_ophthalmologist
                - orthopedic_goods_prosthetic_devices
                - osteopaths
                - package_stores_beer_wine_and_liquor
                - paints_varnishes_and_supplies
                - parking_lots_garages
                - passenger_railways
                - pawn_shops
                - pet_shops_pet_food_and_supplies
                - petroleum_and_petroleum_products
                - photo_developing
                - photographic_photocopy_microfilm_equipment_and_supplies
                - photographic_studios
                - picture_video_production
                - piece_goods_notions_and_other_dry_goods
                - plumbing_heating_equipment_and_supplies
                - political_organizations
                - postal_services_government_only
                - precious_stones_and_metals_watches_and_jewelry
                - professional_services
                - public_warehousing_and_storage
                - quick_copy_repro_and_blueprint
                - railroads
                - real_estate_agents_and_managers_rentals
                - record_stores
                - recreational_vehicle_rentals
                - religious_goods_stores
                - religious_organizations
                - roofing_siding_sheet_metal
                - secretarial_support_services
                - security_brokers_dealers
                - service_stations
                - sewing_needlework_fabric_and_piece_goods_stores
                - shoe_repair_hat_cleaning
                - shoe_stores
                - small_appliance_repair
                - snowmobile_dealers
                - special_trade_services
                - specialty_cleaning
                - sporting_goods_stores
                - sporting_recreation_camps
                - sports_and_riding_apparel_stores
                - sports_clubs_fields
                - stamp_and_coin_stores
                - stationary_office_supplies_printing_and_writing_paper
                - stationery_stores_office_and_school_supply_stores
                - swimming_pools_sales
                - t_ui_travel_germany
                - tailors_alterations
                - tax_payments_government_agencies
                - tax_preparation_services
                - taxicabs_limousines
                - telecommunication_equipment_and_telephone_sales
                - telecommunication_services
                - telegraph_services
                - tent_and_awning_shops
                - testing_laboratories
                - theatrical_ticket_agencies
                - timeshares
                - tire_retreading_and_repair
                - tolls_bridge_fees
                - tourist_attractions_and_exhibits
                - towing_services
                - trailer_parks_campgrounds
                - transportation_services
                - travel_agencies_tour_operators
                - truck_stop_iteration
                - truck_utility_trailer_rentals
                - typesetting_plate_making_and_related_services
                - typewriter_stores
                - u_s_federal_government_agencies_or_departments
                - uniforms_commercial_clothing
                - used_merchandise_and_secondhand_stores
                - utilities
                - variety_stores
                - veterinary_services
                - video_amusement_game_supplies
                - video_game_arcades
                - video_tape_rental_stores
                - vocational_trade_schools
                - watch_jewelry_repair
                - welding_repair
                - wholesale_clubs
                - wig_and_toupee_stores
                - wires_money_orders
                - womens_accessory_and_specialty_shops
                - womens_ready_to_wear_stores
                - wrecking_and_salvage_yards
                maxLength: 5000
                type: string
              type: array
            spending_limits:
              items:
                properties:
                  amount:
                    type: integer
                  categories:
                    items:
                      enum:
                      - ac_refrigeration_repair
                      - accounting_bookkeeping_services
                      - advertising_services
                      - agricultural_cooperative
                      - airlines_air_carriers
                      - airports_flying_fields
                      - ambulance_services
                      - amusement_parks_carnivals
                      - antique_reproductions
                      - antique_shops
                      - aquariums
                      - architectural_surveying_services
                      - art_dealers_and_galleries
                      - artists_supply_and_craft_shops
                      - auto_and_home_supply_stores
                      - auto_body_repair_shops
                      - auto_paint_shops
                      - auto_service_shops
                      - automated_cash_disburse
                      - automated_fuel_dispensers
                      - automobile_associations
                      - automotive_parts_and_accessories_stores
                      - automotive_tire_stores
                      - bail_and_bond_payments
                      - bakeries
                      - bands_orchestras
                      - barber_and_beauty_shops
                      - betting_casino_gambling
                      - bicycle_shops
                      - billiard_pool_establishments
                      - boat_dealers
                      - boat_rentals_and_leases
                      - book_stores
                      - books_periodicals_and_newspapers
                      - bowling_alleys
                      - bus_lines
                      - business_secretarial_schools
                      - buying_shopping_services
                      - cable_satellite_and_other_pay_television_and_radio
                      - camera_and_photographic_supply_stores
                      - candy_nut_and_confectionery_stores
                      - car_and_truck_dealers_new_used
                      - car_and_truck_dealers_used_only
                      - car_rental_agencies
                      - car_washes
                      - carpentry_services
                      - carpet_upholstery_cleaning
                      - caterers
                      - charitable_and_social_service_organizations_fundraising
                      - chemicals_and_allied_products
                      - child_care_services
                      - childrens_and_infants_wear_stores
                      - chiropodists_podiatrists
                      - chiropractors
                      - cigar_stores_and_stands
                      - civic_social_fraternal_associations
                      - cleaning_and_maintenance
                      - clothing_rental
                      - colleges_universities
                      - commercial_equipment
                      - commercial_footwear
                      - commercial_photography_art_and_graphics
                      - commuter_transport_and_ferries
                      - computer_network_services
                      - computer_programming
                      - computer_repair
                      - computer_software_stores
                      - computers_peripherals_and_software
                      - concrete_work_services
                      - construction_materials
                      - consulting_public_relations
                      - correspondence_schools
                      - cosmetic_stores
                      - counseling_services
                      - country_clubs
                      - courier_services
                      - court_costs
                      - credit_reporting_agencies
                      - cruise_lines
                      - dairy_products_stores
                      - dance_hall_studios_schools
                      - dating_escort_services
                      - dentists_orthodontists
                      - department_stores
                      - detective_agencies
                      - digital_goods_applications
                      - digital_goods_games
                      - digital_goods_large_volume
                      - digital_goods_media
                      - direct_marketing_catalog_merchant
                      - direct_marketing_combination_catalog_and_retail_merchant
                      - direct_marketing_inbound_telemarketing
                      - direct_marketing_insurance_services
                      - direct_marketing_other
                      - direct_marketing_outbound_telemarketing
                      - direct_marketing_subscription
                      - direct_marketing_travel
                      - discount_stores
                      - doctors
                      - door_to_door_sales
                      - drapery_window_covering_and_upholstery_stores
                      - drinking_places
                      - drug_stores_and_pharmacies
                      - drugs_drug_proprietaries_and_druggist_sundries
                      - dry_cleaners
                      - durable_goods
                      - duty_free_stores
                      - eating_places_restaurants
                      - educational_services
                      - electric_razor_stores
                      - electric_vehicle_charging
                      - electrical_parts_and_equipment
                      - electrical_services
                      - electronics_repair_shops
                      - electronics_stores
                      - elementary_secondary_schools
                      - emergency_services_gcas_visa_use_only
                      - employment_temp_agencies
                      - equipment_rental
                      - exterminating_services
                      - family_clothing_stores
                      - fast_food_restaurants
                      - financial_institutions
                      - fines_government_administrative_entities
                      - fireplace_fireplace_screens_and_accessories_stores
                      - floor_covering_stores
                      - florists
                      - florists_supplies_nursery_stock_and_flowers
                      - freezer_and_locker_meat_provisioners
                      - fuel_dealers_non_automotive
                      - funeral_services_crematories
                      - furniture_home_furnishings_and_equipment_stores_except_appliances
                      - furniture_repair_refinishing
                      - furriers_and_fur_shops
                      - general_services
                      - gift_card_novelty_and_souvenir_shops
                      - glass_paint_and_wallpaper_stores
                      - glassware_crystal_stores
                      - golf_courses_public
                      - government_licensed_horse_dog_racing_us_region_only
                      - government_licensed_online_casions_online_gambling_us_region_only
                      - government_owned_lotteries_non_us_region
                      - government_owned_lotteries_us_region_only
                      - government_services
                      - grocery_stores_supermarkets
                      - hardware_equipment_and_supplies
                      - hardware_stores
                      - health_and_beauty_spas
                      - hearing_aids_sales_and_supplies
                      - heating_plumbing_a_c
                      - hobby_toy_and_game_shops
                      - home_supply_warehouse_stores
                      - hospitals
                      - hotels_motels_and_resorts
                      - household_appliance_stores
                      - industrial_supplies
                      - information_retrieval_services
                      - insurance_default
                      - insurance_underwriting_premiums
                      - intra_company_purchases
                      - jewelry_stores_watches_clocks_and_silverware_stores
                      - landscaping_services
                      - laundries
                      - laundry_cleaning_services
                      - legal_services_attorneys
                      - luggage_and_leather_goods_stores
                      - lumber_building_materials_stores
                      - manual_cash_disburse
                      - marinas_service_and_supplies
                      - marketplaces
                      - masonry_stonework_and_plaster
                      - massage_parlors
                      - medical_and_dental_labs
                      - medical_dental_ophthalmic_and_hospital_equipment_and_supplies
                      - medical_services
                      - membership_organizations
                      - mens_and_boys_clothing_and_accessories_stores
                      - mens_womens_clothing_stores
                      - metal_service_centers
                      - miscellaneous
                      - miscellaneous_apparel_and_accessory_shops
                      - miscellaneous_auto_dealers
                      - miscellaneous_business_services
                      - miscellaneous_food_stores
                      - miscellaneous_general_merchandise
                      - miscellaneous_general_services
                      - miscellaneous_home_furnishing_specialty_stores
                      - miscellaneous_publishing_and_printing
                      - miscellaneous_recreation_services
                      - miscellaneous_repair_shops
                      - miscellaneous_specialty_retail
                      - mobile_home_dealers
                      - motion_picture_theaters
                      - motor_freight_carriers_and_trucking
                      - motor_homes_dealers
                      - motor_vehicle_supplies_and_new_parts
                      - motorcycle_shops_and_dealers
                      - motorcycle_shops_dealers
                      - music_stores_musical_instruments_pianos_and_sheet_music
                      - news_dealers_and_newsstands
                      - non_fi_money_orders
                      - non_fi_stored_value_card_purchase_load
                      - nondurable_goods
                      - nurseries_lawn_and_garden_supply_stores
                      - nursing_personal_care
                      - office_and_commercial_furniture
                      - opticians_eyeglasses
                      - optometrists_ophthalmologist
                      - orthopedic_goods_prosthetic_devices
                      - osteopaths
                      - package_stores_beer_wine_and_liquor
                      - paints_varnishes_and_supplies
                      - parking_lots_garages
                      - passenger_railways
                      - pawn_shops
                      - pet_shops_pet_food_and_supplies
                      - petroleum_and_petroleum_products
                      - photo_developing
                      - photographic_photocopy_microfilm_equipment_and_supplies
                      - photographic_studios
                      - picture_video_production
                      - piece_goods_notions_and_other_dry_goods
                      - plumbing_heating_equipment_and_supplies
                      - political_organizations
                      - postal_services_government_only
                      - precious_stones_and_metals_watches_and_jewelry
                      - professional_services
                      - public_warehousing_and_storage
                      - quick_copy_repro_and_blueprint
                      - railroads
                      - real_estate_agents_and_managers_rentals
                      - record_stores
                      - recreational_vehicle_rentals
                      - religious_goods_stores
                      - religious_organizations
                      - roofing_siding_sheet_metal
                      - secretarial_support_services
                      - security_brokers_dealers
                      - service_stations
                      - sewing_needlework_fabric_and_piece_goods_stores
                      - shoe_repair_hat_cleaning
                      - shoe_stores
                      - small_appliance_repair
                      - snowmobile_dealers
                      - special_trade_services
                      - specialty_cleaning
                      - sporting_goods_stores
                      - sporting_recreation_camps
                      - sports_and_riding_apparel_stores
                      - sports_clubs_fields
                      - stamp_and_coin_stores
                      - stationary_office_supplies_printing_and_writing_paper
                      - stationery_stores_office_and_school_supply_stores
                      - swimming_pools_sales
                      - t_ui_travel_germany
                      - tailors_alterations
                      - tax_payments_government_agencies
                      - tax_preparation_services
                      - taxicabs_limousines
                      - telecommunication_equipment_and_telephone_sales
                      - telecommunication_services
                      - telegraph_services
                      - tent_and_awning_shops
                      - testing_laboratories
                      - theatrical_ticket_agencies
                      - timeshares
                      - tire_retreading_and_repair
                      - tolls_bridge_fees
                      - tourist_attractions_and_exhibits
                      - towing_services
                      - trailer_parks_campgrounds
                      - transportation_services
                      - travel_agencies_tour_operators
                      - truck_stop_iteration
                      - truck_utility_trailer_rentals
                      - typesetting_plate_making_and_related_services
                      - typewriter_stores
                      - u_s_federal_government_agencies_or_departments
                      - uniforms_commercial_clothing
                      - used_merchandise_and_secondhand_stores
                      - utilities
                      - variety_stores
                      - veterinary_services
                      - video_amusement_game_supplies
                      - video_game_arcades
                      - video_tape_rental_stores
                      - vocational_trade_schools
                      - watch_jewelry_repair
                      - welding_repair
                      - wholesale_clubs
                      - wig_and_toupee_stores
                      - wires_money_orders
                      - womens_accessory_and_specialty_shops
                      - womens_ready_to_wear_stores
                      - wrecking_and_salvage_yards
                      maxLength: 5000
                      type: string
                    type: array
                  interval:
                    enum:
                    - all_time
                    - daily
                    - monthly
                    - per_authorization
                    - weekly
                    - yearly
                    type: string
                required:
                - amount
                - interval
                title: spending_limits_param
                type: object
              type: array
          title: authorization_controls_param
          type: object
        status:
          description: Dictates whether authorizations can be approved on this card. May be blocked from activating cards depending on past-due Cardholder requirements. Defaults to `inactive`. If this card is being canceled because it was lost or stolen, this information should be provided as `cancellation_reason`.
          enum:
          - active
          - canceled
          - inactive
          type: string
          x-stripeBypassValidation: true
    GetIssuingCardsCardRequest:
      type: object
      properties: {}
    issuing.card:
      description: You can [create physical or virtual cards](https://stripe.com/docs/issuing/cards) that are issued to cardholders.
      properties:
        brand:
          description: The brand of the card.
          maxLength: 5000
          type: string
        cancellation_reason:
          description: The reason why the card was canceled.
          enum:
          - design_rejected
          - lost
          - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        cardholder:
          $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Supported currencies are `usd` in the US, `eur` in the EU, and `gbp` in the UK.
          type: string
        cvc:
          description: The card's CVC. For security reasons, this is only available for virtual cards, and will be omitted unless you explicitly request it with [the `expand` parameter](https://stripe.com/docs/api/expanding_objects). Additionally, it's only available via the ["Retrieve a card" endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        exp_month:
          description: The expiration month of the card.
          type: integer
        exp_year:
          description: The expiration year of the card.
          type: integer
        financial_account:
          description: The financial account this card is attached to.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last 4 digits of the card number.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        number:
          description: The full unredacted card number. For security reasons, this is only available for virtual cards, and will be omitted unless you explicitly request it with [the `expand` parameter](https://stripe.com/docs/api/expanding_objects). Additionally, it's only available via the ["Retrieve a card" endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.card
          type: string
        replaced_by:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The latest card that replaces this card, if any.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        replacement_for:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The card this card replaces, if any.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        replacement_reason:
          description: The reason why the previous card needed to be replaced.
          enum:
          - damaged
          - expired
          - lost
          - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        shipping:
          anyOf:
          - $ref: '#/components/schemas/issuing_card_shipping'
          description: Where and how the card will be shipped.
          nullable: true
        spending_controls:
          $ref: '#/components/schemas/issuing_card_authorization_controls'
        status:
          description: Whether authorizations can be approved on this card. May be blocked from activating cards depending on past-due Cardholder requirements. Defaults to `inactive`.
          enum:
          - active
          - canceled
          - inactive
          type: string
          x-stripeBypassValidation: true
        type:
          description: The type of the card.
          enum:
          - physical
          - virtual
          type: string
        wallets:
          anyOf:
          - $ref: '#/components/schemas/issuing_card_wallets'
          description: Information relating to digital wallets (like Apple Pay and Google Pay).
          nullable: true
      required:
      - brand
      - cardholder
      - created
      - currency
      - exp_month
      - exp_year
      - id
      - last4
      - livemode
      - metadata
      - object
      - spending_controls
      - status
      - type
      title: IssuingCard
      type: object
      x-expandableFields:
      - cardholder
      - replaced_by
      - replacement_for
      - shipping
      - spending_controls
      - wallets
      x-resourceId: issuing.card
