openapi: 3.0.0
info:
  title: Stripe Accounts Account Cards API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Cards
paths:
  /v1/customers/{customer}/cards:
    get:
      deprecated: true
      description: '<p>You can see a list of the cards belonging to a customer.

        Note that the 10 most recent sources are always available on the <code>Customer</code> object.

        If you need more than those 10, you can use this API method and the <code>limit</code> and <code>starting_after</code> parameters to page through additional cards.</p>'
      operationId: getCustomersCustomerCards
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetCustomersCustomerCardsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/CardList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Customers Customer Cards
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
    post:
      description: '<p>When you create a new credit card, you must specify a customer or recipient on which to create it.</p>


        <p>If the card’s owner has no default card, then the new card will become the default.

        However, if the owner already has a default, then it will not change.

        To change the default, you should <a href="/docs/api#update_customer">update the customer</a> to have a new <code>default_source</code>.</p>'
      operationId: postCustomersCustomerCards
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              bank_account:
                explode: true
                style: deepObject
              card:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostCustomersCustomerCardsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_source'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Customers Customer Cards
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
  /v1/customers/{customer}/cards/{id}:
    delete:
      description: <p>Delete a specified source for a given customer.</p>
      operationId: deleteCustomersCustomerCardsId
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/DeleteCustomersCustomerCardsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/payment_source'
                - $ref: '#/components/schemas/deleted_payment_source'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Delete   Customers Customer Cards Id
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
    get:
      deprecated: true
      description: <p>You can always see the 10 most recent cards directly on a customer; this method lets you retrieve details about a specific card stored on the customer.</p>
      operationId: getCustomersCustomerCardsId
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetCustomersCustomerCardsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Customers Customer Cards Id
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
    post:
      description: <p>Update a specified source for a given customer.</p>
      operationId: postCustomersCustomerCardsId
      parameters:
      - in: path
        name: customer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              owner:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostCustomersCustomerCardsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/card'
                - $ref: '#/components/schemas/bank_account'
                - $ref: '#/components/schemas/source'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Customers Customer Cards Id
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
  /v1/issuing/cards:
    get:
      description: <p>Returns a list of Issuing <code>Card</code> objects. The objects are sorted in descending order by creation date, with the most recently created object appearing first.</p>
      operationId: getIssuingCards
      parameters:
      - description: Only return cards belonging to the Cardholder with the provided ID.
        in: query
        name: cardholder
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return cards that were issued during the given date interval.
        explode: true
        in: query
        name: created
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return cards that have the given expiration month.
        in: query
        name: exp_month
        required: false
        schema:
          type: integer
        style: form
      - description: Only return cards that have the given expiration year.
        in: query
        name: exp_year
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: Only return cards that have the given last four digits.
        in: query
        name: last4
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return cards that have the given status. One of `active`, `inactive`, or `canceled`.
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - canceled
          - inactive
          type: string
          x-stripeBypassValidation: true
        style: form
      - description: Only return cards that have the given type. One of `virtual` or `physical`.
        in: query
        name: type
        required: false
        schema:
          enum:
          - physical
          - virtual
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/IssuingCardList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Issuing Cards
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
    post:
      description: <p>Creates an Issuing <code>Card</code> object.</p>
      operationId: postIssuingCards
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              shipping:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Cards
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
  /v1/issuing/cards/{card}:
    get:
      description: <p>Retrieves an Issuing <code>Card</code> object.</p>
      operationId: getIssuingCardsCard
      parameters:
      - in: path
        name: card
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardsCardRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Issuing Cards Card
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
    post:
      description: <p>Updates the specified Issuing <code>Card</code> object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.</p>
      operationId: postIssuingCardsCard
      parameters:
      - in: path
        name: card
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              pin:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardsCardRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Cards Card
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Cards
components:
  schemas:
    PostIssuingCardsCardRequest:
      type: object
      properties:
        cancellation_reason:
          description: Reason why the `status` of this card is `canceled`.
          enum:
          - lost
          - stolen
          type: string
          x-stripeBypassValidation: true
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        pin:
          description: The desired new PIN for this card.
          properties:
            encrypted_number:
              maxLength: 5000
              type: string
          title: encrypted_pin_param
          type: object
        spending_controls:
          description: Rules that control spending for this card. Refer to our [documentation](https://stripe.com/docs/issuing/controls/spending-controls) for more details.
          properties:
            allowed_categories:
              items:
                enum:
                - ac_refrigeration_repair
                - accounting_bookkeeping_services
                - advertising_services
                - agricultural_cooperative
                - airlines_air_carriers
                - airports_flying_fields
                - ambulance_services
                - amusement_parks_carnivals
                - antique_reproductions
                - antique_shops
                - aquariums
                - architectural_surveying_services
                - art_dealers_and_galleries
                - artists_supply_and_craft_shops
                - auto_and_home_supply_stores
                - auto_body_repair_shops
                - auto_paint_shops
                - auto_service_shops
                - automated_cash_disburse
                - automated_fuel_dispensers
                - automobile_associations
                - automotive_parts_and_accessories_stores
                - automotive_tire_stores
                - bail_and_bond_payments
                - bakeries
                - bands_orchestras
                - barber_and_beauty_shops
                - betting_casino_gambling
                - bicycle_shops
                - billiard_pool_establishments
                - boat_dealers
                - boat_rentals_and_leases
                - book_stores
                - books_periodicals_and_newspapers
                - bowling_alleys
                - bus_lines
                - business_secretarial_schools
                - buying_shopping_services
                - cable_satellite_and_other_pay_television_and_radio
                - camera_and_photographic_supply_stores
                - candy_nut_and_confectionery_stores
                - car_and_truck_dealers_new_used
                - car_and_truck_dealers_used_only
                - car_rental_agencies
                - car_washes
                - carpentry_services
                - carpet_upholstery_cleaning
                - caterers
                - charitable_and_social_service_organizations_fundraising
                - chemicals_and_allied_products
                - child_care_services
                - childrens_and_infants_wear_stores
                - chiropodists_podiatrists
                - chiropractors
                - cigar_stores_and_stands
                - civic_social_fraternal_associations
                - cleaning_and_maintenance
                - clothing_rental
                - colleges_universities
                - commercial_equipment
                - commercial_footwear
                - commercial_photography_art_and_graphics
                - commuter_transport_and_ferries
                - computer_network_services
                - computer_programming
                - computer_repair
                - computer_software_stores
                - computers_peripherals_and_software
                - concrete_work_services
                - construction_materials
                - consulting_public_relations
                - correspondence_schools
                - cosmetic_stores
                - counseling_services
                - country_clubs
                - courier_services
                - court_costs
                - credit_reporting_agencies
                - cruise_lines
                - dairy_products_stores
                - dance_hall_studios_schools
                - dating_escort_services
                - dentists_orthodontists
                - department_stores
                - detective_agencies
                - digital_goods_applications
                - digital_goods_games
                - digital_goods_large_volume
                - digital_goods_media
                - direct_marketing_catalog_merchant
                - direct_marketing_combination_catalog_and_retail_merchant
                - direct_marketing_inbound_telemarketing
                - direct_marketing_insurance_services
                - direct_marketing_other
                - direct_marketing_outbound_telemarketing
                - direct_marketing_subscription
                - direct_marketing_travel
                - discount_stores
                - doctors
                - door_to_door_sales
                - drapery_window_covering_and_upholstery_stores
                - drinking_places
                - drug_stores_and_pharmacies
                - drugs_drug_proprietaries_and_druggist_sundries
                - dry_cleaners
                - durable_goods
                - duty_free_stores
                - eating_places_restaurants
                - educational_services
                - electric_razor_stores
                - electric_vehicle_charging
                - electrical_parts_and_equipment
                - electrical_services
                - electronics_repair_shops
                - electronics_stores
                - elementary_secondary_schools
                - emergency_services_gcas_visa_use_only
                - employment_temp_agencies
                - equipment_rental
                - exterminating_services
                - family_clothing_stores
                - fast_food_restaurants
                - financial_institutions
                - fines_government_administrative_entities
                - fireplace_fireplace_screens_and_accessories_stores
                - floor_covering_stores
                - florists
                - florists_supplies_nursery_stock_and_flowers
                - freezer_and_locker_meat_provisioners
                - fuel_dealers_non_automotive
                - funeral_services_crematories
                - furniture_home_furnishings_and_equipment_stores_except_appliances
                - furniture_repair_refinishing
                - furriers_and_fur_shops
                - general_services
                - gift_card_novelty_and_souvenir_shops
                - glass_paint_and_wallpaper_stores
                - glassware_crystal_stores
                - golf_courses_public
                - government_licensed_horse_dog_racing_us_region_only
                - government_licensed_online_casions_online_gambling_us_region_only
                - government_owned_lotteries_non_us_region
                - government_owned_lotteries_us_region_only
                - government_services
                - grocery_stores_supermarkets
                - hardware_equipment_and_supplies
                - hardware_stores
                - health_and_beauty_spas
                - hearing_aids_sales_and_supplies
                - heating_plumbing_a_c
                - hobby_toy_and_game_shops
                - home_supply_warehouse_stores
                - hospitals
                - hotels_motels_and_resorts
                - household_appliance_stores
                - industrial_supplies
                - information_retrieval_services
                - insurance_default
                - insurance_underwriting_premiums
                - intra_company_purchases
                - jewelry_stores_watches_clocks_and_silverware_stores
                - landscaping_services
                - laundries
                - laundry_cleaning_services
                - legal_services_attorneys
                - luggage_and_leather_goods_stores
                - lumber_building_materials_stores
                - manual_cash_disburse
                - marinas_service_and_supplies
                - marketplaces
                - masonry_stonework_and_plaster
                - massage_parlors
                - medical_and_dental_labs
                - medical_dental_ophthalmic_and_hospital_equipment_and_supplies
                - medical_services
                - membership_organizations
                - mens_and_boys_clothing_and_accessories_stores
                - mens_womens_clothing_stores
                - metal_service_centers
                - miscellaneous
                - miscellaneous_apparel_and_accessory_shops
                - miscellaneous_auto_dealers
                - miscellaneous_business_services
                - miscellaneous_food_stores
                - miscellaneous_general_merchandise
                - miscellaneous_general_services
                - miscellaneous_home_furnishing_specialty_stores
                - miscellaneous_publishing_and_printing
                - miscellaneous_recreation_services
                - miscellaneous_repair_shops
                - miscellaneous_specialty_retail
                - mobile_home_dealers
                - motion_picture_theaters
                - motor_freight_carriers_and_trucking
                - motor_homes_dealers
                - motor_vehicle_supplies_and_new_parts
                - motorcycle_shops_and_dealers
                - motorcycle_shops_dealers
                - music_stores_musical_instruments_pianos_and_sheet_music
                - news_dealers_and_newsstands
                - non_fi_money_orders
                - non_fi_stored_value_card_purchase_load
                - nondurable_goods
                - nurseries_lawn_and_garden_supply_stores
                - nursing_personal_care
                - office_and_commercial_furniture
                - opticians_eyeglasses
                - optometrists_ophthalmologist
                - orthopedic_goods_prosthetic_devices
                - osteopaths
                - package_stores_beer_wine_and_liquor
                - paints_varnishes_and_supplies
                - parking_lots_garages
                - passenger_railways
                - pawn_shops
                - pet_shops_pet_food_and_supplies
                - petroleum_and_petroleum_products
                - photo_developing
                - photographic_photocopy_microfilm_equipment_and_supplies
                - photographic_studios
                - picture_video_production
                - piece_goods_notions_and_other_dry_goods
                - plumbing_heating_equipment_and_supplies
                - political_organizations
                - postal_services_government_only
                - precious_stones_and_metals_watches_and_jewelry
                - professional_services
                - public_warehousing_and_storage
                - quick_copy_repro_and_blueprint
                - railroads
                - real_estate_agents_and_managers_rentals
                - record_stores
                - recreational_vehicle_rentals
                - religious_goods_stores
                - religious_organizations
                - roofing_siding_sheet_metal
                - secretarial_support_services
                - security_brokers_dealers
                - service_stations
                - sewing_needlework_fabric_and_piece_goods_stores
                - shoe_repair_hat_cleaning
                - shoe_stores
                - small_appliance_repair
                - snowmobile_dealers
                - special_trade_services
                - specialty_cleaning
                - sporting_goods_stores
                - sporting_recreation_camps
                - sports_and_riding_apparel_stores
                - sports_clubs_fields
                - stamp_and_coin_stores
                - stationary_office_supplies_printing_and_writing_paper
                - stationery_stores_office_and_school_supply_stores
                - swimming_pools_sales
                - t_ui_travel_germany
                - tailors_alterations
                - tax_payments_government_agencies
                - tax_preparation_services
                - taxicabs_limousines
                - telecommunication_equipment_and_telephone_sales
                - telecommunication_services
                - telegraph_services
                - tent_and_awning_shops
                - testing_laboratories
                - theatrical_ticket_agencies
                - timeshares
                - tire_retreading_and_repair
                - tolls_bridge_fees
                - tourist_attractions_and_exhibits
                - towing_services
                - trailer_parks_campgrounds
                - transportation_services
                - travel_agencies_tour_operators
                - truck_stop_iteration
                - truck_utility_trailer_rentals
                - typesetting_plate_making_and_related_services
                - typewriter_stores
                - u_s_federal_government_agencies_or_departments
                - uniforms_commercial_clothing
                - used_merchandise_and_secondhand_stores
                - utilities
                - variety_stores
                - veterinary_services
                - video_amusement_game_supplies
                - video_game_arcades
                - video_tape_rental_stores
                - vocational_trade_schools
                - watch_jewelry_repair
                - welding_repair
                - wholesale_clubs
                - wig_and_toupee_stores
                - wires_money_orders
                - womens_accessory_and_specialty_shops
                - womens_ready_to_wear_stores
                - wrecking_and_salvage_yards
                maxLength: 5000
                type: string
              type: array
            blocked_categories:
              items:
                enum:
                - ac_refrigeration_repair
                - accounting_bookkeeping_services
                - advertising_services
                - agricultural_cooperative
                - airlines_air_carriers
                - airports_flying_fields
                - ambulance_services
                - amusement_parks_carnivals
                - antique_reproductions
                - antique_shops
                - aquariums
                - architectural_surveying_services
                - art_dealers_and_galleries
                - artists_supply_and_craft_shops
                - auto_and_home_supply_stores
                - auto_body_repair_shops
                - auto_paint_shops
                - auto_service_shops
                - automated_cash_disburse
                - automated_fuel_dispensers
                - automobile_associations
                - automotive_parts_and_accessories_stores
                - automotive_tire_stores
                - bail_and_bond_payments
                - bakeries
                - bands_orchestras
                - barber_and_beauty_shops
                - betting_casino_gambling
                - bicycle_shops
                - billiard_pool_establishments
                - boat_dealers
                - boat_rentals_and_leases
                - book_stores
                - books_periodicals_and_newspapers
                - bowling_alleys
                - bus_lines
                - business_secretarial_schools
                - buying_shopping_services
                - cable_satellite_and_other_pay_television_and_radio
                - camera_and_photographic_supply_stores
                - candy_nut_and_confectionery_stores
                - car_and_truck_dealers_new_used
                - car_and_truck_dealers_used_only
                - car_rental_agencies
                - car_washes
                - carpentry_services
                - carpet_upholstery_cleaning
                - caterers
                - charitable_and_social_service_organizations_fundraising
                - chemicals_and_allied_products
                - child_care_services
                - childrens_and_infants_wear_stores
                - chiropodists_podiatrists
                - chiropractors
                - cigar_stores_and_stands
                - civic_social_fraternal_associations
                - cleaning_and_maintenance
                - clothing_rental
                - colleges_universities
                - commercial_equipment
                - commercial_footwear
                - commercial_photography_art_and_graphics
                - commuter_transport_and_ferries
                - computer_network_services
                - computer_programming
                - computer_repair
                - computer_software_stores
                - computers_peripherals_and_software
                - concrete_work_services
                - construction_materials
                - consulting_public_relations
                - correspondence_schools
                - cosmetic_stores
                - counseling_services
                - country_clubs
                - courier_services
                - court_costs
                - credit_reporting_agencies
                - cruise_lines
                - dairy_products_stores
                - dance_hall_studios_schools
                - dating_escort_services
                - dentists_orthodontists
                - department_stores
                - detective_agencies
                - digital_goods_applications
                - digital_goods_games
                - digital_goods_large_volume
                - digital_goods_media
                - direct_marketing_catalog_merchant
                - direct_marketing_combination_catalog_and_retail_merchant
                - direct_marketing_inbound_telemarketing
                - direct_marketing_insurance_services
                - direct_marketing_other
                - direct_marketing_outbound_telemarketing
                - direct_marketing_subscription
                - direct_marketing_travel
                - discount_stores
                - doctors
                - door_to_door_sales
                - drapery_window_covering_and_upholstery_stores
                - drinking_places
                - drug_stores_and_pharmacies
                - drugs_drug_proprietaries_and_druggist_sundries
                - dry_cleaners
                - durable_goods
                - duty_free_stores
                - eating_places_restaurants
                - educational_services
                - electric_razor_stores
                - electric_vehicle_charging
                - electrical_parts_and_equipment
                - electrical_services
                - electronics_repair_shops
                - electronics_stores
                - elementary_secondary_schools
                - emergency_services_gcas_visa_use_only
                - employment_temp_agencies
                - equipment_rental
                - exterminating_services
                - family_clothing_stores
                - fast_food_restaurants
                - financial_institutions
                - fines_government_administrative_entities
                - fireplace_fireplace_screens_and_accessories_stores
                - floor_covering_stores
                - florists
                - florists_supplies_nursery_stock_and_flowers
                - freezer_and_locker_meat_provisioners
                - fuel_dealers_non_automotive
                - funeral_services_crematories
                - furniture_home_furnishings_and_equipment_stores_except_appliances
                - furniture_repair_refinishing
                - furriers_and_fur_shops
                - general_services
                - gift_card_novelty_and_souvenir_shops
                - glass_paint_and_wallpaper_stores
                - glassware_crystal_stores
                - golf_courses_public
                - government_licensed_horse_dog_racing_us_region_only
                - government_licensed_online_casions_online_gambling_us_region_only
                - government_owned_lotteries_non_us_region
                - government_owned_lotteries_us_region_only
                - government_services
                - grocery_stores_supermarkets
                - hardware_equipment_and_supplies
                - hardware_stores
                - health_and_beauty_spas
                - hearing_aids_sales_and_supplies
                - heating_plumbing_a_c
                - hobby_toy_and_game_shops
                - home_supply_warehouse_stores
                - hospitals
                - hotels_motels_and_resorts
                - household_appliance_stores
                - industrial_supplies
                - information_retrieval_services
                - insurance_default
                - insurance_underwriting_premiums
                - intra_company_purchases
                - jewelry_stores_watches_clocks_and_silverware_stores
                - landscaping_services
                - laundries
                - laundry_cleaning_services
                - legal_services_attorneys
                - luggage_and_leather_goods_stores
                - lumber_building_materials_stores
                - manual_cash_disburse
                - marinas_service_and_supplies
                - marketplaces
                - masonry_stonework_and_plaster
                - massage_parlors
                - medical_and_dental_labs
                - medical_dental_ophthalmic_and_hospital_equipment_and_supplies
                - medical_services
                - membership_organizations
                - mens_and_boys_clothing_and_accessories_stores
                - mens_womens_clothing_stores
                - metal_service_centers
                - miscellaneous
                - miscellaneous_apparel_and_accessory_shops
                - miscellaneous_auto_dealers
                - miscellaneous_business_services
                - miscellaneous_food_stores
                - miscellaneous_general_merchandise
                - miscellaneous_general_services
                - miscellaneous_home_furnishing_specialty_stores
                - miscellaneous_publishing_and_printing
                - miscellaneous_recreation_services
                - miscellaneous_repair_shops
                - miscellaneous_specialty_retail
                - mobile_home_dealers
                - motion_picture_theaters
                - motor_freight_carriers_and_trucking
                - motor_homes_dealers
                - motor_vehicle_supplies_and_new_parts
                - motorcycle_shops_and_dealers
                - motorcycle_shops_dealers
                - music_stores_musical_instruments_pianos_and_sheet_music
                - news_dealers_and_newsstands
                - non_fi_money_orders
                - non_fi_stored_value_card_purchase_load
                - nondurable_goods
                - nurseries_lawn_and_garden_supply_stores
                - nursing_personal_care
                - office_and_commercial_furniture
                - opticians_eyeglasses
                - optometrists_ophthalmologist
                - orthopedic_goods_prosthetic_devices
                - osteopaths
                - package_stores_beer_wine_and_liquor
                - paints_varnishes_and_supplies
                - parking_lots_garages
                - passenger_railways
                - pawn_shops
                - pet_shops_pet_food_and_supplies
                - petroleum_and_petroleum_products
                - photo_developing
                - photographic_photocopy_microfilm_equipment_and_supplies
                - photographic_studios
                - picture_video_production
                - piece_goods_notions_and_other_dry_goods
                - plumbing_heating_equipment_and_supplies
                - political_organizations
                - postal_services_government_only
                - precious_stones_and_metals_watches_and_jewelry
                - professional_services
                - public_warehousing_and_storage
                - quick_copy_repro_and_blueprint
                - railroads
                - real_estate_agents_and_managers_rentals
                - record_stores
                - recreational_vehicle_rentals
                - religious_goods_stores
                - religious_organizations
                - roofing_siding_sheet_metal
                - secretarial_support_services
                - security_brokers_dealers
                - service_stations
                - sewing_needlework_fabric_and_piece_goods_stores
                - shoe_repair_hat_cleaning
                - shoe_stores
                - small_appliance_repair
                - snowmobile_dealers
                - special_trade_services
                - specialty_cleaning
                - sporting_goods_stores
                - sporting_recreation_camps
                - sports_and_riding_apparel_stores
                - sports_clubs_fields
                - stamp_and_coin_stores
                - stationary_office_supplies_printing_and_writing_paper
                - stationery_stores_office_and_school_supply_stores
                - swimming_pools_sales
                - t_ui_travel_germany
                - tailors_alterations
                - tax_payments_government_agencies
                - tax_preparation_services
                - taxicabs_limousines
                - telecommunication_equipment_and_telephone_sales
                - telecommunication_services
                - telegraph_services
                - tent_and_awning_shops
                - testing_laboratories
                - theatrical_ticket_agencies
                - timeshares
                - tire_retreading_and_repair
                - tolls_bridge_fees
                - tourist_attractions_and_exhibits
                - towing_services
                - trailer_parks_campgrounds
                - transportation_services
                - travel_agencies_tour_operators
                - truck_stop_iteration
                - truck_utility_trailer_rentals
                - typesetting_plate_making_and_related_services
                - typewriter_stores
                - u_s_federal_government_agencies_or_departments
                - uniforms_commercial_clothing
                - used_merchandise_and_secondhand_stores
                - utilities
                - variety_stores
                - veterinary_services
                - video_amusement_game_supplies
                - video_game_arcades
                - video_tape_rental_stores
                - vocational_trade_schools
                - watch_jewelry_repair
                - welding_repair
                - wholesale_clubs
                - wig_and_toupee_stores
                - wires_money_orders
                - womens_accessory_and_specialty_shops
                - womens_ready_to_wear_stores
                - wrecking_and_salvage_yards
                maxLength: 5000
                type: string
              type: array
            spending_limits:
              items:
                properties:
                  amount:
                    type: integer
                  categories:
                    items:
                      enum:
                      - ac_refrigeration_repair
                      - accounting_bookkeeping_services
                      - advertising_services
                      - agricultural_cooperative
                      - airlines_air_carriers
                      - airports_flying_fields
                      - ambulance_services
                      - amusement_parks_carnivals
                      - antique_reproductions
                      - antique_shops
                      - aquariums
                      - architectural_surveying_services
                      - art_dealers_and_galleries
                      - artists_supply_and_craft_shops
                      - auto_and_home_supply_stores
                      - auto_body_repair_shops
                      - auto_paint_shops
                      - auto_service_shops
                      - automated_cash_disburse
                      - automated_fuel_dispensers
                      - automobile_associations
                      - automotive_parts_and_accessories_stores
                      - automotive_tire_stores
                      - bail_and_bond_payments
                      - bakeries
                      - bands_orchestras
                      - barber_and_beauty_shops
                      - betting_casino_gambling
                      - bicycle_shops
                      - billiard_pool_establishments
                      - boat_dealers
                      - boat_rentals_and_leases
                      - book_stores
                      - books_periodicals_and_newspapers
                      - bowling_alleys
                      - bus_lines
                      - business_secretarial_schools
                      - buying_shopping_services
                      - cable_satellite_and_other_pay_television_and_radio
                      - camera_and_photographic_supply_stores
                      - candy_nut_and_confectionery_stores
                      - car_and_truck_dealers_new_used
                      - car_and_truck_dealers_used_only
                      - car_rental_agencies
                      - car_washes
                      - carpentry_services
                      - carpet_upholstery_cleaning
                      - caterers
                      - charitable_and_social_service_organizations_fundraising
                      - chemicals_and_allied_products
                      - child_care_services
                      - childrens_and_infants_wear_stores
                      - chiropodists_podiatrists
                      - chiropractors
                      - cigar_stores_and_stands
                      - civic_social_fraternal_associations
                      - cleaning_and_maintenance
                      - clothing_rental
                      - colleges_universities
                      - commercial_equipment
                      - commercial_footwear
                      - commercial_photography_art_and_graphics
                      - commuter_transport_and_ferries
                      - computer_network_services
                      - computer_programming
                      - computer_repair
                      - computer_software_stores
                      - computers_peripherals_and_software
                      - concrete_work_services
                      - construction_materials
                      - consulting_public_relations
                      - correspondence_schools
                      - cosmetic_stores
                      - counseling_services
                      - country_clubs
                      - courier_services
                      - court_costs
                      - credit_reporting_agencies
                      - cruise_lines
                      - dairy_products_stores
                      - dance_hall_studios_schools
                      - dating_escort_services
                      - dentists_orthodontists
                      - department_stores
                      - detective_agencies
                      - digital_goods_applications
                      - digital_goods_games
                      - digital_goods_large_volume
                      - digital_goods_media
                      - direct_marketing_catalog_merchant
                      - direct_marketing_combination_catalog_and_retail_merchant
                      - direct_marketing_inbound_telemarketing
                      - direct_marketing_insurance_services
                      - direct_marketing_other
                      - direct_marketing_outbound_telemarketing
                      - direct_marketing_subscription
                      - direct_marketing_travel
                      - discount_stores
                      - doctors
                      - door_to_door_sales
                      - drapery_window_covering_and_upholstery_stores
                      - drinking_places
                      - drug_stores_and_pharmacies
                      - drugs_drug_proprietaries_and_druggist_sundries
                      - dry_cleaners
                      - durable_goods
                      - duty_free_stores
                      - eating_places_restaurants
                      - educational_services
                      - electric_razor_stores
                      - electric_vehicle_charging
                      - electrical_parts_and_equipment
                      - electrical_services
                      - electronics_repair_shops
                      - electronics_stores
                      - elementary_secondary_schools
                      - emergency_services_gcas_visa_use_only
                      - employment_temp_agencies
                      - equipment_rental
                      - exterminating_services
                      - family_clothing_stores
                      - fast_food_restaurants
                      - financial_institutions
                      - fines_government_administrative_entities
                      - fireplace_fireplace_screens_and_accessories_stores
                      - floor_covering_stores
                      - florists
                      - florists_supplies_nursery_stock_and_flowers
                      - freezer_and_locker_meat_provisioners
                      - fuel_dealers_non_automotive
                      - funeral_services_crematories
                      - furniture_home_furnishings_and_equipment_stores_except_appliances
                      - furniture_repair_refinishing
                      - furriers_and_fur_shops
                      - general_services
                      - gift_card_novelty_and_souvenir_shops
                      - glass_paint_and_wallpaper_stores
                      - glassware_crystal_stores
                      - golf_courses_public
                      - government_licensed_horse_dog_racing_us_region_only
                      - government_licensed_online_casions_online_gambling_us_region_only
                      - government_owned_lotteries_non_us_region
                      - government_owned_lotteries_us_region_only
                      - government_services
                      - grocery_stores_supermarkets
                      - hardware_equipment_and_supplies
                      - hardware_stores
                      - health_and_beauty_spas
                      - hearing_aids_sales_and_supplies
                      - heating_plumbing_a_c
                      - hobby_toy_and_game_shops
                      - home_supply_warehouse_stores
                      - hospitals
                      - hotels_motels_and_resorts
                      - household_appliance_stores
                      - industrial_supplies
                      - information_retrieval_services
                      - insurance_default
                      - insurance_underwriting_premiums
                      - intra_company_purchases
                      - jewelry_stores_watches_clocks_and_silverware_stores
                      - landscaping_services
                      - laundries
                      - laundry_cleaning_services
                      - legal_services_attorneys
                      - luggage_and_leather_goods_stores
                      - lumber_building_materials_stores
                      - manual_cash_disburse
                      - marinas_service_and_supplies
                      - marketplaces
                      - masonry_stonework_and_plaster
                      - massage_parlors
                      - medical_and_dental_labs
                      - medical_dental_ophthalmic_and_hospital_equipment_and_supplies
                      - medical_services
                      - membership_organizations
                      - mens_and_boys_clothing_and_accessories_stores
                      - mens_womens_clothing_stores
                      - metal_service_centers
                      - miscellaneous
                      - miscellaneous_apparel_and_accessory_shops
                      - miscellaneous_auto_dealers
                      - miscellaneous_business_services
                      - miscellaneous_food_stores
                      - miscellaneous_general_merchandise
                      - miscellaneous_general_services
                      - miscellaneous_home_furnishing_specialty_stores
                      - miscellaneous_publishing_and_printing
                      - miscellaneous_recreation_services
                      - miscellaneous_repair_shops
                      - miscellaneous_specialty_retail
                      - mobile_home_dealers
                      - motion_picture_theaters
                      - motor_freight_carriers_and_trucking
                      - motor_homes_dealers
                      - motor_vehicle_supplies_and_new_parts
                      - motorcycle_shops_and_dealers
                      - motorcycle_shops_dealers
                      - music_stores_musical_instruments_pianos_and_sheet_music
                      - news_dealers_and_newsstands
                      - non_fi_money_orders
                      - non_fi_stored_value_card_purchase_load
                      - nondurable_goods
                      - nurseries_lawn_and_garden_supply_stores
                      - nursing_personal_care
                      - office_and_commercial_furniture
                      - opticians_eyeglasses
                      - optometrists_ophthalmologist
                      - orthopedic_goods_prosthetic_devices
                      - osteopaths
                      - package_stores_beer_wine_and_liquor
                      - paints_varnishes_and_supplies
                      - parking_lots_garages
                      - passenger_railways
                      - pawn_shops
                      - pet_shops_pet_food_and_supplies
                      - petroleum_and_petroleum_products
                      - photo_developing
                      - photographic_photocopy_microfilm_equipment_and_supplies
                      - photographic_studios
                      - picture_video_production
                      - piece_goods_notions_and_other_dry_goods
                      - plumbing_heating_equipment_and_supplies
                      - political_organizations
                      - postal_services_government_only
                      - precious_stones_and_metals_watches_and_jewelry
                      - professional_services
                      - public_warehousing_and_storage
                      - quick_copy_repro_and_blueprint
                      - railroads
                      - real_estate_agents_and_managers_rentals
                      - record_stores
                      - recreational_vehicle_rentals
                      - religious_goods_stores
                      - religious_organizations
                      - roofing_siding_sheet_metal
                      - secretarial_support_services
                      - security_brokers_dealers
                      - service_stations
                      - sewing_needlework_fabric_and_piece_goods_stores
                      - shoe_repair_hat_cleaning
                      - shoe_stores
                      - small_appliance_repair
                      - snowmobile_dealers
                      - special_trade_services
                      - specialty_cleaning
                      - sporting_goods_stores
                      - sporting_recreation_camps
                      - sports_and_riding_apparel_stores
                      - sports_clubs_fields
                      - stamp_and_coin_stores
                      - stationary_office_supplies_printing_and_writing_paper
                      - stationery_stores_office_and_school_supply_stores
                      - swimming_pools_sales
                      - t_ui_travel_germany
                      - tailors_alterations
                      - tax_payments_government_agencies
                      - tax_preparation_services
                      - taxicabs_limousines
                      - telecommunication_equipment_and_telephone_sales
                      - telecommunication_services
                      - telegraph_services
                      - tent_and_awning_shops
                      - testing_laboratories
                      - theatrical_ticket_agencies
                      - timeshares
                      - tire_retreading_and_repair
                      - tolls_bridge_fees
                      - tourist_attractions_and_exhibits
                      - towing_services
                      - trailer_parks_campgrounds
                      - transportation_services
                      - travel_agencies_tour_operators
                      - truck_stop_iteration
                      - truck_utility_trailer_rentals
                      - typesetting_plate_making_and_related_services
                      - typewriter_stores
                      - u_s_federal_government_agencies_or_departments
                      - uniforms_commercial_clothing
                      - used_merchandise_and_secondhand_stores
                      - utilities
                      - variety_stores
                      - veterinary_services
                      - video_amusement_game_supplies
                      - video_game_arcades
                      - video_tape_rental_stores
                      - vocational_trade_schools
                      - watch_jewelry_repair
                      - welding_repair
                      - wholesale_clubs
                      - wig_and_toupee_stores
                      - wires_money_orders
                      - womens_accessory_and_specialty_shops
                      - womens_ready_to_wear_stores
                      - wrecking_and_salvage_yards
                      maxLength: 5000
                      type: string
                    type: array
                  interval:
                    enum:
                    - all_time
                    - daily
                    - monthly
                    - per_authorization
                    - weekly
                    - yearly
                    type: string
                required:
                - amount
                - interval
                title: spending_limits_param
                type: object
              type: array
          title: authorization_controls_param
          type: object
        status:
          description: Dictates whether authorizations can be approved on this card. May be blocked from activating cards depending on past-due Cardholder requirements. Defaults to `inactive`. If this card is being canceled because it was lost or stolen, this information should be provided as `cancellation_reason`.
          enum:
          - active
          - canceled
          - inactive
          type: string
          x-stripeBypassValidation: true
    GetIssuingCardsCardRequest:
      type: object
      properties: {}
    PostCustomersCustomerCardsIdRequest:
      type: object
      properties:
        account_holder_name:
          description: The name of the person or business that owns the bank account.
          maxLength: 5000
          type: string
        account_holder_type:
          description: The type of entity that holds the account. This can be either `individual` or `company`.
          enum:
          - company
          - individual
          maxLength: 5000
          type: string
        address_city:
          description: City/District/Suburb/Town/Village.
          maxLength: 5000
          type: string
        address_country:
          description: Billing address country, if provided when creating card.
          maxLength: 5000
          type: string
        address_line1:
          description: Address line 1 (Street address/PO Box/Company name).
          maxLength: 5000
          type: string
        address_line2:
          description: Address line 2 (Apartment/Suite/Unit/Building).
          maxLength: 5000
          type: string
        address_state:
          description: State/County/Province/Region.
          maxLength: 5000
          type: string
        address_zip:
          description: ZIP or postal code.
          maxLength: 5000
          type: string
        exp_month:
          description: Two digit number representing the card’s expiration month.
          maxLength: 5000
          type: string
        exp_year:
          description: Four digit number representing the card’s expiration year.
          maxLength: 5000
          type: string
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        name:
          description: Cardholder name.
          maxLength: 5000
          type: string
        owner:
          properties:
            address:
              properties:
                city:
                  maxLength: 5000
                  type: string
                country:
                  maxLength: 5000
                  type: string
                line1:
                  maxLength: 5000
                  type: string
                line2:
                  maxLength: 5000
                  type: string
                postal_code:
                  maxLength: 5000
                  type: string
                state:
                  maxLength: 5000
                  type: string
              title: source_address
              type: object
            email:
              type: string
            name:
              maxLength: 5000
              type: string
            phone:
              maxLength: 5000
              type: string
          title: owner
          type: object
    PostCustomersCustomerCardsRequest:
      type: object
      properties:
        alipay_account:
          description: A token returned by [Stripe.js](https://stripe.com/docs/js) representing the user’s Alipay account details.
          maxLength: 5000
          type: string
        bank_account:
          anyOf:
          - properties:
              account_holder_name:
                maxLength: 5000
                type: string
              account_holder_type:
                enum:
                - company
                - individual
                maxLength: 5000
                type: string
              account_number:
                maxLength: 5000
                type: string
              country:
                maxLength: 5000
                type: string
              currency:
                type: string
              object:
                enum:
                - bank_account
                maxLength: 5000
                type: string
              routing_number:
                maxLength: 5000
                type: string
            required:
            - account_number
            - country
            title: customer_payment_source_bank_account
            type: object
          - maxLength: 5000
            type: string
          description: Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/js), or a dictionary containing a user's bank account details.
        card:
          anyOf:
          - properties:
              address_city:
                maxLength: 5000
                type: string
              address_country:
                maxLength: 5000
                type: string
              address_line1:
                maxLength: 5000
                type: string
              address_line2:
                maxLength: 5000
                type: string
              address_state:
                maxLength: 5000
                type: string
              address_zip:
                maxLength: 5000
                type: string
              cvc:
                maxLength: 5000
                type: string
              exp_month:
                type: integer
              exp_year:
                type: integer
              metadata:
                additionalProperties:
                  type: string
                type: object
              name:
                maxLength: 5000
                type: string
              number:
                maxLength: 5000
                type: string
              object:
                enum:
                - card
                maxLength: 5000
                type: string
            required:
            - exp_month
            - exp_year
            - number
            title: customer_payment_source_card
            type: object
          - maxLength: 5000
            type: string
          description: A token, like the ones returned by [Stripe.js](https://stripe.com/docs/js).
          x-stripeBypassValidation: true
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
          type: object
        source:
          description: Please refer to full [documentation](https://stripe.com/docs/api) instead.
          maxLength: 5000
          type: string
          x-stripeBypassValidation: true
    CardList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/card'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          type: string
    IssuingCardList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/issuing.card'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/issuing/cards
          type: string
    GetIssuingCardsRequest:
      type: object
      properties: {}
    deleted_customer:
      description: ''
      properties:
        deleted:
          description: Always true for a deleted object
          enum:
          - true
          type: boolean
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - customer
          type: string
      required:
      - deleted
      - id
      - object
      title: DeletedCustomer
      type: object
      x-expandableFields: []
      x-resourceId: deleted_customer
    customer:
      description: 'This object represents a customer of your business. Use it to create recurring charges and track payments that belong to the same customer.


        Related guide: [Save a card during payment](https://stripe.com/docs/payments/save-during-payment)'
      properties:
        address:
          anyOf:
          - $ref: '#/components/schemas/address'
          description: The customer's address.
          nullable: true
        balance:
          description: The current balance, if any, that's stored on the customer. If negative, the customer has credit to apply to their next invoice. If positive, the customer has an amount owed that's added to their next invoice. The balance only considers amounts that Stripe hasn't successfully applied to any invoice. It doesn't reflect unpaid invoices. This balance is only taken into account after invoices finalize.
          type: integer
        cash_balance:
          anyOf:
          - $ref: '#/components/schemas/cash_balance'
          description: The current funds being held by Stripe on behalf of the customer. You can apply these funds towards payment intents when the source is "cash_balance". The `settings[reconciliation_mode]` field describes if these funds apply to these payment intents manually or automatically.
          nullable: true
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO code for the currency](https://stripe.com/docs/currencies) the customer can be charged in for recurring billing purposes.
          maxLength: 5000
          nullable: true
          type: string
        default_source:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/bank_account'
          - $ref: '#/components/schemas/card'
          - $ref: '#/components/schemas/source'
          description: 'ID of the default payment source for the customer.


            If you use payment methods created through the PaymentMethods API, see the [invoice_settings.default_payment_method](https://stripe.com/docs/api/customers/object#customer_object-invoice_settings-default_payment_method) field instead.'
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/bank_account'
            - $ref: '#/components/schemas/card'
            - $ref: '#/components/schemas/source'
          x-stripeBypassValidation: true
        delinquent:
          description: 'Tracks the most recent state change on any invoice belonging to the customer. Paying an invoice or marking it uncollectible via the API will set this field to false. An automatic payment failure or passing the `invoice.due_date` will set this field to `true`.


            If an invoice becomes uncollectible by [dunning](https://stripe.com/docs/billing/automatic-collection), `delinquent` doesn''t reset to `false`.


            If you care whether the customer has paid their most recent subscription invoice, use `subscription.status` instead. Paying or marking uncollectible any customer invoice regardless of whether it is the latest invoice for a subscription will always set this field to `false`.'
          nullable: true
          type: boolean
        description:
          description: An arbitrary string attached to the object. Often useful for displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        discount:
          anyOf:
          - $ref: '#/components/schemas/discount'
          description: Describes the current discount active on the customer, if there is one.
          nullable: true
        email:
          description: The customer's email address.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        invoice_credit_balance:
          additionalProperties:
            type: integer
          description: The current multi-currency balances, if any, that's stored on the customer. If positive in a currency, the customer has a credit to apply to their next invoice denominated in that currency. If negative, the customer has an amount owed that's added to their next invoice denominated in that currency. These balances don't apply to unpaid invoices. They solely track amounts that Stripe hasn't successfully applied to any invoice. Stripe only applies a balance in a specific currency to an invoice after that invoice (which is in the same currency) finalizes.
          type: object
        invoice_prefix:
          description: The prefix for the customer used to generate unique invoice numbers.
          maxLength: 5000
          nullable: true
          type: string
        invoice_settings:
          $ref: '#/components/schemas/invoice_setting_customer_setting'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        name:
          description: The customer's full name or business name.
          maxLength: 5000
          nullable: true
          type: string
        next_invoice_sequence:
          description: The suffix of the customer's next invoice number (for example, 0001).
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - customer
          type: string
        phone:
          description: The customer's phone number.
          maxLength: 5000
          nullable: true
          type: string
        preferred_locales:
          description: The customer's preferred locales (languages), ordered by preference.
          items:
            maxLength: 5000
            type: string
          nullable: true
          type: array
        shipping:
          anyOf:
          - $ref: '#/components/schemas/shipping'
          description: Mailing and shipping address for the customer. Appears on invoices emailed to this customer.
          nullable: true
        sources:
          description: The customer's payment sources, if any.
          properties:
            data:
              description: Details about each object.
              items:
                anyOf:
                - $ref: '#/components/schemas/bank_account'
                - $ref: '#/components/schemas/card'
                - $ref: '#/components/schemas/source'
                title: Polymorphic
                x-stripeBypassValidation: true
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: ApmsSourcesSourceList
          type: object
          x-expandableFields:
          - data
        subscriptions:
          description: The customer's current subscriptions, if any.
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/subscription'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: SubscriptionList
          type: object
          x-expandableFields:
          - data
        tax:
          $ref: '#/components/schemas/customer_tax'
        tax_exempt:
          description: 'Describes the customer''s tax exemption status, which is `none`, `exempt`, or `reverse`. When set to `reverse`, invoice and receipt PDFs include the following text: **"Reverse charge"**.'
          enum:
          - exempt
          - none
          - reverse
          nullable: true
          type: string
        tax_ids:
          description: The customer's tax IDs.
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/tax_id'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: TaxIDsList
          type: object
          x-expandableFields:
          - data
        test_clock:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock that this customer belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/test_helpers.test_clock'
      required:
      - created
      - id
      - livemode
      - object
      title: Customer
      type: object
      x-expandableFields:
      - address
      - cash_balance
      - default_source
      - discount
      - invoice_settings
      - shipping
      - sources
      - subscriptions
      - tax
      - tax_ids
      - test_clock
      x-resourceId: customer
    DeleteCustomersCustomerCardsIdRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    GetCustomersCustomerCardsRequest:
      type: object
      properties: {}
    card:
      description: 'You can store multiple cards on a customer in order to charge the customer

        later. You can also store multiple debit cards on a recipient in order to

        transfer to those cards later.


        Related guide: [Card payments with Sources](https://stripe.com/docs/sources/cards)'
      properties:
        account:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/account'
          description: The account this card belongs to. This attribute will not be in the card object if the card belongs to a customer or recipient instead.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/account'
        address_city:
          description: City/District/Suburb/Town/Village.
          maxLength: 5000
          nullable: true
          type: string
        address_country:
          description: Billing address country, if provided when creating card.
          maxLength: 5000
          nullable: true
          type: string
        address_line1:
          description: Address line 1 (Street address/PO Box/Company name).
          maxLength: 5000
          nullable: true
          type: string
        address_line1_check:
          description: 'If `address_line1` was provided, results of the check: `pass`, `fail`, `unavailable`, or `unchecked`.'
          maxLength: 5000
          nullable: true
          type: string
        address_line2:
          description: Address line 2 (Apartment/Suite/Unit/Building).
          maxLength: 5000
          nullable: true
          type: string
        address_state:
          description: State/County/Province/Region.
          maxLength: 5000
          nullable: true
          type: string
        address_zip:
          description: ZIP or postal code.
          maxLength: 5000
          nullable: true
          type: string
        address_zip_check:
          description: 'If `address_zip` was provided, results of the check: `pass`, `fail`, `unavailable`, or `unchecked`.'
          maxLength: 5000
          nullable: true
          type: string
        available_payout_methods:
          description: A set of available payout methods for this card. Only values from this set should be passed as the `method` when creating a payout.
          items:
            enum:
            - instant
            - standard
            type: string
          nullable: true
          type: array
        brand:
          description: Card brand. Can be `American Express`, `Diners Club`, `Discover`, `Eftpos Australia`, `JCB`, `MasterCard`, `UnionPay`, `Visa`, or `Unknown`.
          maxLength: 5000
          type: string
        country:
          description: Two-letter ISO code representing the country of the card. You could use this attribute to get a sense of the international breakdown of cards you've collected.
          maxLength: 5000
          nullable: true
          type: string
        currency:
          description: Three-letter [ISO code for currency](https://stripe.com/docs/payouts). Only applicable on accounts (not customers or recipients). The card can be used as a transfer destination for funds in this currency.
          nullable: true
          type: string
        customer:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: The customer that this card belongs to. This attribute will not be in the card object if the card belongs to an account or recipient instead.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
        cvc_check:
          description: 'If a CVC was provided, results of the check: `pass`, `fail`, `unavailable`, or `unchecked`. A result of unchecked indicates that CVC was provided but hasn''t been checked yet. Checks are typically performed when attaching a card to a Customer object, or when creating a charge. For more details, see [Check if a card is valid without a charge](https://support.stripe.com/questions/check-if-a-card-is-valid-without-a-charge).'
          maxLength: 5000
          nullable: true
          type: string
        default_for_currency:
          description: Whether this card is the default external account for its currency.
          nullable: true
          type: boolean
        dynamic_last4:
          description: (For tokenized numbers only.) The last four digits of the device account number.
          maxLength: 5000
          nullable: true
          type: string
        exp_month:
          description: Two-digit number representing the card's expiration month.
          type: integer
        exp_year:
          description: Four-digit number representing the card's expiration year.
          type: integer
        fingerprint:
          description: 'Uniquely identifies this particular card number. You can use this attribute to check whether two customers who’ve signed up with you are using the same card number, for example. For payment methods that tokenize card information (Apple Pay, Google Pay), the tokenized number might be provided instead of the underlying card number.


            *As of May 1, 2021, card fingerprint in India for Connect changed to allow two fingerprints for the same cardone for India and one for the rest of the world.*'
          maxLength: 5000
          nullable: true
          type: string
        funding:
          description: Card funding type. Can be `credit`, `debit`, `prepaid`, or `unknown`.
          maxLength: 5000
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last four digits of the card.
          maxLength: 5000
          type: string
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          nullable: true
          type: object
        name:
          description: Cardholder name.
          maxLength: 5000
          nullable: true
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - card
          type: string
        status:
          description: For external accounts that are cards, possible values are `new` and `errored`. If a payout fails, the status is set to `errored` and [scheduled payouts](https://stripe.com/docs/payouts#payout-schedule) are stopped until account details are updated.
          maxLength: 5000
          nullable: true
          type: string
        tokenization_method:
          description: If the card number is tokenized, this is the method that was used. Can be `android_pay` (includes Google Pay), `apple_pay`, `masterpass`, `visa_checkout`, or null.
          maxLength: 5000
          nullable: true
          type: string
      required:
      - brand
      - exp_month
      - exp_year
      - funding
      - id
      - last4
      - object
      title: Card
      type: object
      x-expandableFields:
      - account
      - customer
      x-resourceId: card
    cash_balance:
      description: A customer's `Cash balance` represents real funds. Customers can add funds to their cash balance by sending a bank transfer. These funds can be used for payment and can eventually be paid out to your bank account.
      properties:
        available:
          additionalProperties:
            type: integer
          description: A hash of all cash balances available to this customer. You cannot delete a customer with any cash balances, even if the balance is 0. Amounts are represented in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
          type: object
        customer:
          description: The ID of the customer whose cash balance this object represents.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - cash_balance
          type: string
        settings:
          $ref: '#/components/schemas/customer_balance_customer_balance_settings'
      required:
      - customer
      - livemode
      - object
      - settings
      title: cash_balance
      type: object
      x-expandableFields:
      - settings
      x-resourceId: cash_balance
    PostIssuingCardsRequest:
      type: object
      required:
      - currency
      - type
      properties:
        cardholder:
          description: The [Cardholder](https://stripe.com/docs/api#issuing_cardholder_object) object with which the card will be associated.
          maxLength: 5000
          type: string
        currency:
          description: The currency for the card.
          type: string
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        financial_account:
          type: string
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
          type: object
        replacement_for:
          description: The card this is meant to be a replacement for (if any).
          maxLength: 5000
          type: string
        replacement_reason:
          description: If `replacement_for` is specified, this should indicate why that card is being replaced.
          enum:
          - damaged
          - expired
          - lost
          - stolen
          type: string
          x-stripeBypassValidation: true
        shipping:
          description: The address where the card will be shipped.
          properties:
            address:
              properties:
                city:
                  maxLength: 5000
                  type: string
                country:
                  maxLength: 5000
                  type: string
                line1:
                  maxLength: 5000
                  type: string
                line2:
                  maxLength: 5000
                  type: string
                postal_code:
                  maxLength: 5000
                  type: string
                state:
                  maxLength: 5000
                  type: string
              required:
              - city
              - country
              - line1
              - postal_code
              title: required_address
              type: object
            customs:
              properties:
                eori_number:
                  maxLength: 5000
                  type: string
              title: customs_param
              type: object
            name:
              maxLength: 5000
              type: string
            phone_number:
              type: string
            require_signature:
              type: boolean
            service:
              enum:
              - express
              - priority
              - standard
              type: string
              x-stripeBypassValidation: true
            type:
              enum:
              - bulk
              - individual
              type: string
          required:
          - address
          - name
          title: shipping_specs
          type: object
        spending_controls:
          description: Rules that control spending for this card. Refer to our [documentation](https://stripe.com/docs/issuing/controls/spending-controls) for more details.
          properties:
            allowed_categories:
              items:
                enum:
                - ac_refrigeration_repair
                - accounting_bookkeeping_services
                - advertising_services
                - agricultural_cooperative
                - airlines_air_carriers
                - airports_flying_fields
                - ambulance_services
                - amusement_parks_carnivals
                - antique_reproductions
                - antique_shops
                - aquariums
                - architectural_surveying_services
                - art_dealers_and_galleries
                - artists_supply_and_craft_shops
                - auto_and_home_supply_stores
                - auto_body_repair_shops
                - auto_paint_shops
                - auto_service_shops
                - automated_cash_disburse
                - automated_fuel_dispensers
                - automobile_associations
                - automotive_parts_and_accessories_stores
                - automotive_tire_stores
                - bail_and_bond_payments
                - bakeries
                - bands_orchestras
                - barber_and_beauty_shops
                - betting_casino_gambling
                - bicycle_shops
                - billiard_pool_establishments
                - boat_dealers
                - boat_rentals_and_leases
                - book_stores
                - books_periodicals_and_newspapers
                - bowling_alleys
                - bus_lines
                - business_secretarial_schools
                - buying_shopping_services
                - cable_satellite_and_other_pay_television_and_radio
                - camera_and_photographic_supply_stores
                - candy_nut_and_confectionery_stores
                - car_and_truck_dealers_new_used
                - car_and_truck_dealers_used_only
                - car_rental_agencies
                - car_washes
                - carpentry_services
                - carpet_upholstery_cleaning
                - caterers
                - charitable_and_social_service_organizations_fundraising
                - chemicals_and_allied_products
[...]
