openapi: 3.0.0
info:
  title: Stripe Accounts Account Treasury API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Treasury
paths:
  /v1/treasury/financial_accounts:
    get:
      summary: Stripe List Financial Accounts
      description: <p>Returns a list of FinancialAccounts.</p>
      operationId: GetTreasuryFinancialAccounts
      parameters:
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
          maxLength: 5000
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
          maxLength: 5000
      - name: expand
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            maxLength: 5000
        style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/treasury.financial_account'
                  has_more:
                    type: boolean
                  url:
                    type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
    post:
      summary: Stripe Create Financial Account
      description: <p>Creates a new FinancialAccount.</p>
      operationId: PostTreasuryFinancialAccounts
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - supported_currencies
              properties:
                supported_currencies:
                  type: array
                  items:
                    type: string
                features:
                  type: object
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                platform_restrictions:
                  type: object
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/financial_accounts/{financial_account}:
    get:
      summary: Stripe Retrieve Financial Account
      description: <p>Retrieves the details of a FinancialAccount.</p>
      operationId: GetTreasuryFinancialAccountsFinancialAccount
      parameters:
      - name: financial_account
        in: path
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: expand
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            maxLength: 5000
        style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
    post:
      summary: Stripe Update Financial Account
      description: <p>Updates the details of a FinancialAccount.</p>
      operationId: PostTreasuryFinancialAccountsFinancialAccount
      parameters:
      - name: financial_account
        in: path
        required: true
        schema:
          type: string
          maxLength: 5000
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                features:
                  type: object
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                platform_restrictions:
                  type: object
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/transactions:
    get:
      summary: Stripe List Transactions
      description: <p>Retrieves a list of Transaction objects.</p>
      operationId: GetTreasuryTransactions
      parameters:
      - name: financial_account
        in: query
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - open
          - posted
          - void
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
          maxLength: 5000
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
          maxLength: 5000
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/treasury.transaction'
                  has_more:
                    type: boolean
                  url:
                    type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/transactions/{id}:
    get:
      summary: Stripe Retrieve Transaction
      description: <p>Retrieves the details of an existing Transaction.</p>
      operationId: GetTreasuryTransactionsId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: expand
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            maxLength: 5000
        style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.transaction'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/outbound_payments:
    get:
      summary: Stripe List Outbound Payments
      description: <p>Returns a list of OutboundPayments sent from the specified FinancialAccount.</p>
      operationId: GetTreasuryOutboundPayments
      parameters:
      - name: financial_account
        in: query
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - canceled
          - failed
          - posted
          - processing
          - returned
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/treasury.outbound_payment'
                  has_more:
                    type: boolean
                  url:
                    type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
    post:
      summary: Stripe Create Outbound Payment
      description: <p>Creates an OutboundPayment.</p>
      operationId: PostTreasuryOutboundPayments
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - amount
              - currency
              - financial_account
              properties:
                amount:
                  type: integer
                currency:
                  type: string
                financial_account:
                  type: string
                  maxLength: 5000
                customer:
                  type: string
                  maxLength: 5000
                description:
                  type: string
                  maxLength: 5000
                destination_payment_method:
                  type: string
                  maxLength: 5000
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                statement_descriptor:
                  type: string
                  maxLength: 5000
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_payment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/outbound_transfers:
    get:
      summary: Stripe List Outbound Transfers
      description: <p>Returns a list of OutboundTransfers sent from the specified FinancialAccount.</p>
      operationId: GetTreasuryOutboundTransfers
      parameters:
      - name: financial_account
        in: query
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - canceled
          - failed
          - posted
          - processing
          - returned
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/treasury.outbound_transfer'
                  has_more:
                    type: boolean
                  url:
                    type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
    post:
      summary: Stripe Create Outbound Transfer
      description: <p>Creates an OutboundTransfer.</p>
      operationId: PostTreasuryOutboundTransfers
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - amount
              - currency
              - destination_payment_method
              - financial_account
              properties:
                amount:
                  type: integer
                currency:
                  type: string
                destination_payment_method:
                  type: string
                  maxLength: 5000
                financial_account:
                  type: string
                  maxLength: 5000
                description:
                  type: string
                  maxLength: 5000
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                statement_descriptor:
                  type: string
                  maxLength: 5000
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_transfer'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/inbound_transfers:
    get:
      summary: Stripe List Inbound Transfers
      description: <p>Returns a list of InboundTransfers sent from the specified FinancialAccount.</p>
      operationId: GetTreasuryInboundTransfers
      parameters:
      - name: financial_account
        in: query
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - canceled
          - failed
          - processing
          - succeeded
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/treasury.inbound_transfer'
                  has_more:
                    type: boolean
                  url:
                    type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
    post:
      summary: Stripe Create Inbound Transfer
      description: <p>Creates an InboundTransfer.</p>
      operationId: PostTreasuryInboundTransfers
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - amount
              - currency
              - financial_account
              - origin_payment_method
              properties:
                amount:
                  type: integer
                currency:
                  type: string
                financial_account:
                  type: string
                  maxLength: 5000
                origin_payment_method:
                  type: string
                  maxLength: 5000
                description:
                  type: string
                  maxLength: 5000
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                statement_descriptor:
                  type: string
                  maxLength: 5000
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.inbound_transfer'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Treasury
  /v1/treasury/credit_reversals:
    get:
      description: <p>Returns a list of CreditReversals.</p>
      operationId: GetTreasuryCreditReversals
      parameters:
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: Returns objects associated with this FinancialAccount.
        in: query
        name: financial_account
        required: true
        schema:
          type: string
        style: form
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return CreditReversals for the ReceivedCredit ID.
        in: query
        name: received_credit
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return CreditReversals for a given status.
        in: query
        name: status
        required: false
        schema:
          enum:
          - canceled
          - posted
          - processing
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryCreditReversalsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/TreasuryReceivedCreditsResourceCreditReversalList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
    post:
      description: <p>Reverses a ReceivedCredit and creates a CreditReversal object.</p>
      operationId: PostTreasuryCreditReversals
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryCreditReversalsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.credit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/credit_reversals/{credit_reversal}:
    get:
      description: <p>Retrieves the details of an existing CreditReversal by passing the unique CreditReversal ID from either the CreditReversal creation request or CreditReversal list</p>
      operationId: GetTreasuryCreditReversalsCreditReversal
      parameters:
      - in: path
        name: credit_reversal
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryCreditReversalsCreditReversalRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.credit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/debit_reversals:
    get:
      description: <p>Returns a list of DebitReversals.</p>
      operationId: GetTreasuryDebitReversals
      parameters:
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: Returns objects associated with this FinancialAccount.
        in: query
        name: financial_account
        required: true
        schema:
          type: string
        style: form
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return DebitReversals for the ReceivedDebit ID.
        in: query
        name: received_debit
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return DebitReversals for a given resolution.
        in: query
        name: resolution
        required: false
        schema:
          enum:
          - lost
          - won
          type: string
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return DebitReversals for a given status.
        in: query
        name: status
        required: false
        schema:
          enum:
          - canceled
          - completed
          - processing
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryDebitReversalsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/TreasuryReceivedDebitsResourceDebitReversalList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
    post:
      description: <p>Reverses a ReceivedDebit and creates a DebitReversal object.</p>
      operationId: PostTreasuryDebitReversals
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryDebitReversalsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.debit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/debit_reversals/{debit_reversal}:
    get:
      description: <p>Retrieves a DebitReversal object.</p>
      operationId: GetTreasuryDebitReversalsDebitReversal
      parameters:
      - in: path
        name: debit_reversal
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryDebitReversalsDebitReversalRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.debit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/financial_accounts/{financial_account}/features:
    get:
      description: <p>Retrieves Features information associated with the FinancialAccount.</p>
      operationId: GetTreasuryFinancialAccountsFinancialAccountFeatures
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: financial_account
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryFinancialAccountsFinancialAccountFeaturesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account_features'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
    post:
      description: <p>Updates the Features associated with a FinancialAccount.</p>
      operationId: PostTreasuryFinancialAccountsFinancialAccountFeatures
      parameters:
      - in: path
        name: financial_account
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              card_issuing:
                explode: true
                style: deepObject
              deposit_insurance:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              financial_addresses:
                explode: true
                style: deepObject
              inbound_transfers:
                explode: true
                style: deepObject
              intra_stripe_flows:
                explode: true
                style: deepObject
              outbound_payments:
                explode: true
                style: deepObject
              outbound_transfers:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryFinancialAccountsFinancialAccountFeaturesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account_features'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/inbound_transfers/{id}:
    get:
      description: <p>Retrieves the details of an existing InboundTransfer.</p>
      operationId: GetTreasuryInboundTransfersId
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryInboundTransfersIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.inbound_transfer_2'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/inbound_transfers/{inbound_transfer}/cancel:
    post:
      description: <p>Cancels an InboundTransfer.</p>
      operationId: PostTreasuryInboundTransfersInboundTransferCancel
      parameters:
      - in: path
        name: inbound_transfer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryInboundTransfersInboundTransferCancelRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.inbound_transfer_2'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/outbound_payments/{id}:
    get:
      description: <p>Retrieves the details of an existing OutboundPayment by passing the unique OutboundPayment ID from either the OutboundPayment creation request or OutboundPayment list.</p>
      operationId: GetTreasuryOutboundPaymentsId
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryOutboundPaymentsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_payment_2'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/outbound_payments/{id}/cancel:
    post:
      description: <p>Cancel an OutboundPayment.</p>
      operationId: PostTreasuryOutboundPaymentsIdCancel
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryOutboundPaymentsIdCancelRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_payment_2'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/outbound_transfers/{outbound_transfer}:
    get:
      description: <p>Retrieves the details of an existing OutboundTransfer by passing the unique OutboundTransfer ID from either the OutboundTransfer creation request or OutboundTransfer list.</p>
      operationId: GetTreasuryOutboundTransfersOutboundTransfer
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: outbound_transfer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryOutboundTransfersOutboundTransferRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_transfer_2'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/outbound_transfers/{outbound_transfer}/cancel:
    post:
      description: <p>An OutboundTransfer can be canceled if the funds have not yet been paid out.</p>
      operationId: PostTreasuryOutboundTransfersOutboundTransferCancel
      parameters:
      - in: path
        name: outbound_transfer
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryOutboundTransfersOutboundTransferCancelRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_transfer_2'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/received_credits:
    get:
      description: <p>Returns a list of ReceivedCredits.</p>
      operationId: GetTreasuryReceivedCredits
      parameters:
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: The FinancialAccount that received the funds.
        in: query
        name: financial_account
        required: true
        schema:
          type: string
        style: form
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return ReceivedCredits described by the flow.
        explode: true
        in: query
        name: linked_flows
        required: false
        schema:
          properties:
            source_flow_type:
              enum:
              - credit_reversal
              - other
              - outbound_payment
              - payout
              type: string
              x-stripeBypassValidation: true
          required:
          - source_flow_type
          title: linked_flows_param
          type: object
        style: deepObject
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: 'Only return ReceivedCredits that have the given status: `succeeded` or `failed`.'
        in: query
        name: status
        required: false
        schema:
          enum:
          - failed
          - succeeded
          type: string
          x-stripeBypassValidation: true
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedCreditsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/TreasuryReceivedCreditsResourceReceivedCreditList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/received_credits/{id}:
    get:
      description: <p>Retrieves the details of an existing ReceivedCredit by passing the unique ReceivedCredit ID from the ReceivedCredit list.</p>
      operationId: GetTreasuryReceivedCreditsId
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedCreditsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.received_credit'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/received_debits:
    get:
      description: <p>Returns a list of ReceivedDebits.</p>
      operationId: GetTreasuryReceivedDebits
      parameters:
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: The FinancialAccount that funds were pulled from.
        in: query
        name: financial_account
        required: true
        schema:
          type: string
        style: form
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: 'Only return ReceivedDebits that have the given status: `succeeded` or `failed`.'
        in: query
        name: status
        required: false
        schema:
          enum:
          - failed
          - succeeded
          type: string
          x-stripeBypassValidation: true
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedDebitsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/TreasuryReceivedDebitsResourceReceivedDebitList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/received_debits/{id}:
    get:
      description: <p>Retrieves the details of an existing ReceivedDebit by passing the unique ReceivedDebit ID from the ReceivedDebit list</p>
      operationId: GetTreasuryReceivedDebitsId
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedDebitsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.received_debit'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/transaction_entries:
    get:
      description: <p>Retrieves a list of TransactionEntry objects.</p>
      operationId: GetTreasuryTransactionEntries
      parameters:
      - explode: true
        in: query
        name: created
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - explode: true
        in: query
        name: effective_at
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: Returns objects associated with this FinancialAccount.
        in: query
        name: financial_account
        required: true
        schema:
          type: string
        style: form
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The results are in reverse chronological order by `created` or `effective_at`. The default is `created`.
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - created
          - effective_at
          type: string
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Only return TransactionEntries associated with this Transaction.
        in: query
        name: transaction
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryTransactionEntriesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/TreasuryTransactionsResourceTransactionEntryList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
  /v1/treasury/transaction_entries/{id}:
    get:
      description: <p>Retrieves a TransactionEntry object.</p>
      operationId: GetTreasuryTransactionEntriesId
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: id
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryTransactionEntriesIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.transaction_entry'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_2'
          description: Error response.
      tags:
      - Treasury
components:
  schemas:
    treasury.credit_reversal:
      description: You can reverse some [ReceivedCredits](https://stripe.com/docs/api#received_credits) depending on their network and source flow. Reversing a ReceivedCredit leads to the creation of a new object known as a CreditReversal.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        financial_account:
          description: The FinancialAccount to reverse funds from.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: A [hosted transaction receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts) URL that is provided when money movement is considered regulated under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        network:
          description: The rails used to reverse the funds.
          enum:
          - ach
          - stripe
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - treasury.credit_reversal
          type: string
        received_credit:
          description: The ReceivedCredit being reversed.
          maxLength: 5000
          type: string
        status:
          description: Status of the CreditReversal
          enum:
          - canceled
          - posted
          - processing
          type: string
        status_transitions:
          $ref: '#/components/schemas/treasury_received_credits_resource_status_transitions'
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/treasury.transaction_2'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/treasury.transaction_2'
      required:
      - amount
      - created
      - currency
      - financial_account
      - id
      - livemode
      - metadata
      - network
      - object
      - received_credit
      - status
      - status_transitions
      title: TreasuryReceivedCreditsResourceCreditReversal
      type: object
      x-expandableFields:
      - status_transitions
      - transaction
      x-resourceId: treasury.credit_reversal
    treasury.outbound_payment_2:
      description: 'Use OutboundPayments to send funds to another party''s external bank account or [FinancialAccount](https://stripe.com/docs/api#financial_accounts). To send money to an account belonging to the same user, use an [OutboundTransfer](https://stripe.com/docs/api#outbound_transfers).


        Simulate OutboundPayment state changes with the `/v1/test_helpers/treasury/outbound_payments` endpoints. These methods can only be called on test mode objects.'
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        cancelable:
          description: Returns `true` if the object can be canceled, and `false` otherwise.
          type: boolean
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        customer:
          description: ID of the [customer](https://stripe.com/docs/api/customers) to whom an OutboundPayment is sent.
          maxLength: 5000
          nullable: true
          type: string
        description:
          description: An arbitrary string attached to the object. Often useful for displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        destination_payment_method:
          description: The PaymentMethod via which an OutboundPayment is sent. This field can be empty if the OutboundPayment was created using `destination_payment_method_data`.
          maxLength: 5000
          nullable: true
          type: string
        destination_payment_method_details:
          anyOf:
          - $ref: '#/components/schemas/outbound_payments_payment_method_details'
          description: Details about the PaymentMethod for an OutboundPayment.
          nullable: true
        end_user_details:
          anyOf:
          - $ref: '#/components/schemas/treasury_outbound_payments_resource_outbound_payment_resource_end_user_details'
          description: Details about the end user.
          nullable: true
        expected_arrival_date:
          description: The date when funds are expected to arrive in the destination account.
          format: unix-time
          type: integer
        financial_account:
          description: The FinancialAccount that funds were pulled from.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: A [hosted transaction receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts) URL that is provided when money movement is considered regulated under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - treasury.outbound_payment
          type: string
        returned_details:
          anyOf:
          - $ref: '#/components/schemas/treasury_outbound_payments_resource_returned_status'
          description: Details about a returned OutboundPayment. Only set when the status is `returned`.
          nullable: true
        statement_descriptor:
          description: The description that appears on the receiving end for an OutboundPayment (for example, bank statement for external bank transfer).
          maxLength: 5000
          type: string
        status:
          description: 'Current status of the OutboundPayment: `processing`, `failed`, `posted`, `returned`, `canceled`. An OutboundPayment is `processing` if it has been created and is pending. The status changes to `posted` once the OutboundPayment has been "confirmed" and funds have left the account, or to `failed` or `canceled`. If an OutboundPayment fails to arrive at its destination, its status will change to `returned`.'
          enum:
          - canceled
          - failed
          - posted
          - processing
          - returned
          type: string
        status_transitions:
          $ref: '#/components/schemas/treasury_outbound_payments_resource_outbound_payment_resource_status_transitions'
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/treasury.transaction_2'
          description: The Transaction associated with this object.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/treasury.transaction_2'
      required:
      - amount
      - cancelable
      - created
      - currency
      - expected_arrival_date
      - financial_account
      - id
      - livemode
      - metadata
      - object
      - statement_descriptor
      - status
      - status_transitions
      - transaction
      title: TreasuryOutboundPaymentsResourceOutboundPayment
      type: object
      x-expandableFields:
      - destination_payment_method_details
      - end_user_details
      - returned_details
      - status_transitions
      - transaction
      x-resourceId: treasury.outbound_payment
    treasury.transaction_2:
      description: Transactions represent changes to a [FinancialAccount's](https://stripe.com/docs/api#financial_accounts) balance.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        balance_impact:
          $ref: '#/components/schemas/treasury_transactions_resource_balance_impact'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        description:
          description: An arbitrary string attached to the object. Often useful for displaying to users.
          maxLength: 5000
          type: string
        entries:
          description: A list of TransactionEntries that are part of this Transaction. This cannot be expanded in any list endpoints.
          nullable: true
          properties:
            data:
              description: Details about each object.
              items:
                $ref: '#/components/schemas/treasury.transaction_entry'
              type: array
            has_more:
              description: True if this list has another page of items after this one that can be fetched.
              type: boolean
            object:
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
              enum:
              - list
              type: string
            url:
              description: The URL where this list can be accessed.
              maxLength: 5000
              pattern: ^/v1/treasury/transaction_entries
              type: string
          required:
          - data
          - has_more
          - object
          - url
          title: TreasuryTransactionsResourceTransactionEntryList
          type: object
          x-expandableFields:
          - data
        financial_account:
          description: The FinancialAccount associated with this object.
          maxLength: 5000
          type: string
        flow:
          description: ID of the flow that created the Transaction.
          maxLength: 5000
          nullable: true
          type: string
        flow_details:
          anyOf:
          - $ref: '#/components/schemas/treasury_transactions_resource_flow_details'
          description: Details of the flow that created the Transaction.
          nullable: true
        flow_type:
          description: Type of the flow that created the Transaction.
          enum:
          - credit_reversal
          - debit_reversal
          - inbound_transfer
          - issuing_authorization
          - other
          - outbound_payment
          - outbound_transfer
          - received_credit
          - received_debit
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - treasury.transaction
          type: string
        status:
          description: Status of the Transaction.
          enum:
          - open
          - posted
          - void
          type: string
        status_transitions:
          $ref: '#/components/schemas/treasury_transactions_resource_abstract_transaction_resource_status_transitions'
      required:
      - amount
      - balance_impact
      - created
      - currency
      - description
      - financial_account
      - flow_type
      - id
      - livemode
      - object
      - status
      - status_transitions
      title: TreasuryTransactionsResourceTransaction
      type: object
      x-expandableFields:
      - balance_impact
      - entries
      - flow_details
      - status_transitions
      x-resourceId: treasury.transaction
    treasury.outbound_payment:
      type: object
      properties:
        id:
          type: string
          maxLength: 5000
        object:
          type: string
          enum:
          - treasury.outbound_payment
        amount:
          type: integer
        cancelable:
          type: boolean
        created:
          type: integer
        currency:
          type: string
        customer:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        destination_payment_method:
          type:
          - string
          - 'null'
        expected_arrival_date:
          type:
          - integer
          - 'null'
        financial_account:
          type: string
        livemode:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        status:
          type: string
          enum:
          - canceled
          - failed
          - posted
          - processing
          - returned
        transaction:
          type: string
      required:
      - id
      - object
      - amount
      - cancelable
      - created
      - currency
      - financial_account
      - livemode
      - metadata
      - status
      - transaction
    PostTreasuryInboundTransfersInboundTransferCancelRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    treasury.debit_reversal:
      description: You can reverse some [ReceivedDebits](https://stripe.com/docs/api#received_debits) depending on their network and source flow. Reversing a ReceivedDebit leads to the creation of a new object known as a DebitReversal.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        financial_account:
          description: The FinancialAccount to reverse funds from.
          maxLength: 5000
          nullable: true
          type: string
        hosted_regulatory_receipt_url:
          description: A [hosted transaction receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts) URL that is provided when money movement is considered regulated under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        linked_flows:
          anyOf:
          - $ref: '#/components/schemas/treasury_received_debits_resource_debit_reversal_linked_flows'
          description: Other flows linked to a DebitReversal.
          nullable: true
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        network:
          description: The rails used to reverse the funds.
          enum:
          - ach
          - card
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - treasury.debit_reversal
          type: string
        received_debit:
          description: The ReceivedDebit being reversed.
          maxLength: 5000
          type: string
        status:
          description: Status of the DebitReversal
          enum:
          - failed
          - processing
          - succeeded
          type: string
        status_transitions:
          $ref: '#/components/schemas/treasury_received_debits_resource_status_transitions'
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/treasury.transaction_2'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/treasury.transaction_2'
      required:
      - amount
      - created
      - currency
      - id
      - livemode
      - metadata
      - network
      - object
      - received_debit
      - status
      - status_transitions
      title: TreasuryReceivedDebitsResourceDebitReversal
      type: object
      x-expandableFields:
      - linked_flows
      - status_transitions
      - transaction
      x-resourceId: treasury.debit_reversal
    treasury.financial_account:
      type: object
      properties:
        id:
          type: string
          maxLength: 5000
        object:
          type: string
          enum:
          - treasury.financial_account
        active_features:
          type: array
          items:
            type: string
        balance:
          type: object
        country:
          type: string
        created:
          type: integer
        features:
          type:
          - object
          - 'null'
        financial_addresses:
          type: array
          items:
            type: object
        livemode:
          type: boolean
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        pending_features:
          type: array
          items:
            type: string
        platform_restrictions:
          type:
          - object
          - 'null'
        restricted_features:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - closed
          - open
        status_details:
          type: object
        supported_currencies:
          type: array
          items:
            type: string
      required:
      - id
      - object
      - balance
      - country
      - created
      - financial_addresses
      - livemode
      - status
      - status_details
      - supported_currencies
    error_2:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    PostTreasuryFinancialAccountsFinancialAccountFeaturesRequest:
      type: object
      properties:
        card_issuing:
          description: Encodes the FinancialAccount's ability to be used with the Issuing product, including attaching cards to and drawing funds from the FinancialAccount.
          properties:
            requested:
              type: boolean
          required:
          - requested
          title: access
          type: object
        deposit_insurance:
          description: Represents whether this FinancialAccount is eligible for deposit insurance. Various factors determine the insurance amount.
          properties:
            requested:
              type: boolean
          required:
          - requested
          title: access
          type: object
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        financial_addresses:
          description: Contains Features that add FinancialAddresses to the FinancialAccount.
          properties:
            aba:
              properties:
                requested:
                  type: boolean
              required:
              - requested
              title: aba_access
              type: object
          title: financial_addresses
          type: object
        inbound_transfers:
          description: Contains settings related to adding funds to a FinancialAccount from another Account with the same owner.
          properties:
            ach:
              properties:
                requested:
                  type: boolean
              required:
              - requested
              title: access_with_ach_details
              type: object
          title: inbound_transfers
          type: object
        intra_stripe_flows:
          description: Represents the ability for the FinancialAccount to send money to, or receive money from other FinancialAccounts (for example, via OutboundPayment).
          properties:
            requested:
              type: boolean
          required:
          - requested
          title: access
          type: object
        outbound_payments:
          description: Includes Features related to initiating money movement out of the FinancialAccount to someone else's bucket of money.
          properties:
            ach:
              properties:
                requested:
                  type: boolean
              required:
              - requested
              title: access_with_ach_details
              type: object
            us_domestic_wire:
              properties:
                requested:
                  type: boolean
              required:
              - requested
              title: access
              type: object
          title: outbound_payments
          type: object
        outbound_transfers:
          description: Contains a Feature and settings related to moving money out of the FinancialAccount into another Account with the same owner.
          properties:
            ach:
              properties:
                requested:
                  type: boolean
              required:
              - requested
              title: access_with_ach_details
              type: object
            us_domestic_wire:
              properties:
                requested:
                  type: boolean
              required:
              - requested
              title: access
              type: object
          title: outbound_transfers
          type: object
    TreasuryReceivedCreditsResourceReceivedCreditList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          description: Details about each object.
          items:
            $ref: '#/components/schemas/treasury.received_credit'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          type: string
    GetTreasuryTransactionEntriesIdRequest:
      type: object
      properties: {}
    GetTreasuryInboundTransfersIdRequest:
      type: object
      properties: {}
    treasury.inbound_transfer:
      type: object
      properties:
        id:
          type: string
          maxLength: 5000
        object:
          type: string
          enum:
          - treasury.inbound_transfer
        amount:
          type: integer
        cancelable:
          type: boolean
        created:
          type: integer
        currency:
          type: string
        description:
          type:
          - string
          - 'null'
        financial_account:
          type: string
        livemode:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        origin_payment_method:
          type: string
        status:
          type: string
          enum:
          - canceled
          - failed
          - processing
          - succeeded
        transaction:
          type:
          - string
          - 'null'
      required:
      - id
      - object
      - amount
      - cancelable
      - created
      - currency
      - financial_account
      - livemode
      - metadata
      - origin_payment_method
      - status
    GetTreasuryReceivedCreditsIdRequest:
      type: object
      properties: {}
    treasury.received_debit:
      description: ReceivedDebits represent funds pulled from a [FinancialAccount](https://stripe.com/docs/api#financial_accounts). These are not initiated from the FinancialAccount.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        description:
          description: An arbitrary string attached to the object. Often useful for displaying to users.
          maxLength: 5000
          type: string
        failure_code:
          description: Reason for the failure. A ReceivedDebit might fail because the FinancialAccount doesn't have sufficient funds, is closed, or is frozen.
          enum:
          - account_closed
          - account_frozen
          - insufficient_funds
          - other
          nullable: true
          type: string
        financial_account:
          description: The FinancialAccount that funds were pulled from.
          maxLength: 5000
          nullable: true
          type: string
        hosted_regulatory_receipt_url:
          description: A [hosted transaction receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts) URL that is provided when money movement is considered regulated under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        initiating_payment_method_details:
          $ref: '#/components/schemas/treasury_shared_resource_initiating_payment_method_details_initiating_payment_method_details'
        linked_flows:
          $ref: '#/components/schemas/treasury_received_debits_resource_linked_flows'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        network:
          description: The network used for the ReceivedDebit.
          enum:
          - ach
          - card
          - stripe
          type: string
          x-stripeBypassValidation: true
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - treasury.received_debit
          type: string
        reversal_details:
          anyOf:
          - $ref: '#/components/schemas/treasury_received_debits_resource_reversal_details'
          description: Details describing when a ReceivedDebit might be reversed.
          nullable: true
        status:
          description: Status of the ReceivedDebit. ReceivedDebits are created with a status of either `succeeded` (approved) or `failed` (declined). The failure reason can be found under the `failure_code`.
          enum:
          - failed
          - succeeded
          type: string
          x-stripeBypassValidation: true
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/treasury.transaction_2'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/treasury.transaction_2'
      required:
      - amount
      - created
      - currency
      - description
      - id
      - linked_flows
      - livemode
      - network
      - object
      - status
      title: TreasuryReceivedDebitsResourceReceivedDebit
      type: object
      x-expandableFields:
      - initiating_payment_method_details
      - linked_flows
      - reversal_details
      - transaction
      x-resourceId: treasury.received_debit
    GetTreasuryOutboundPaymentsIdRequest:
      type: object
      properties: {}
    treasury.inbound_transfer_2:
      description: Use [InboundTransfers](https://stripe.com/docs/treasury/moving-money/financial-accounts/into/inbound-transfers) to add funds to your [FinancialAccount](https://stripe.com/docs/api#financial_accounts) via a PaymentMethod that is owned by you. The funds will be transferred via an ACH debit.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        cancelable:
          description: Returns `true` if the InboundTransfer is able to be canceled.
          type: boolean
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        description:
          description: An arbitrary string attached to the object. Often useful for displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        failure_details:
          anyOf:
          - $ref: '#/components/schemas/treasury_inbound_transfers_resource_failure_details'
          description: Details about this InboundTransfer's failure. Only set when status is `failed`.
          nullable: true
        financial_account:
          description: The FinancialAccount that received the funds.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: A [hosted transaction receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts) URL that is provided when money movement is considered regulated under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        linked_flows:
          $ref: '#/components/schemas/treasury_inbound_transfers_resource_inbound_transfer_resource_linked_flows'
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - treasury.inbound_transfer
          type: string
        origin_payment_method:
          description: The origin payment method to be debited for an InboundTransfer.
          maxLength: 5000
          type: string
        origin_payment_method_details:
          anyOf:
          - $ref: '#/components/schemas/inbound_transfers'
          description: Details about the PaymentMethod for an InboundTransfer.
          nullable: true
        returned:
          description: Returns `true` if the funds for an InboundTransfer were returned after the InboundTransfer went to the `succeeded` state.
          nullable: true
          type: boolean
        statement_descriptor:
          description: Statement descriptor shown when funds are debited from the source. Not all payment networks support `statement_descriptor`.
          maxLength: 5000
          type: string
        status:
          description: 'Status of the InboundTransfer: `processing`, `succeeded`, `failed`, and `canceled`. An InboundTransfer is `processing` if it is created and pending. The status changes to `succeeded` once the funds have been "confirmed" and a `transaction` is created and posted. The status changes to `failed` if the transfer fails.'
          enum:
          - canceled
          - failed
          - processing
          - succeeded
          type: string
        status_transitions:
          $ref: '#/components/schemas/treasury_inbound_transfers_resource_inbound_transfer_resource_status_transitions'
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/treasury.transaction_2'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/treasury.transaction_2'
      required:
      - amount
      - cancelable
      - created
      - currency
      - financial_account
      - id
      - linked_flows
      - livemode
      - metadata
      - object
      - origin_payment_method
      - statement_descriptor
      - status
      - status_transitions
      title: TreasuryInboundTransfersResourceInboundTransfer
      type: object
      x-expandableFields:
      - failure_details
      - linked_flows
      - origin_payment_method_details
      - status_transitions
      - transaction
      x-resourceId: treasury.inbound_transfer
    treasury.outbound_transfer:
      type: object
      properties:
        id:
          type: string
          maxLength: 5000
        object:
          type: string
          enum:
          - treasury.outbound_transfer
        amount:
          type: integer
        cancelable:
          type: boolean
        created:
          type: integer
        currency:
          type: string
        description:
          type:
          - string
          - 'null'
        destination_payment_method:
          type: string
        expected_arrival_date:
          type: integer
        financial_account:
          type: string
        livemode:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        status:
          type: string
          enum:
          - canceled
          - failed
          - posted
          - processing
          - returned
        transaction:
          type: string
      required:
      - id
      - object
      - amount
      - cancelable
      - created
      - currency
      - destination_payment_method
      - expected_arrival_date
      - financial_account
      - livemode
      - metadata
      - status
      - transaction
    PostTreasuryOutboundPaymentsIdCancelRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    TreasuryReceivedDebitsResourceReceivedDebitList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          description: Details about each object.
          items:
            $ref: '#/components/schemas/treasury.received_debit'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          type: string
    GetTreasuryFinancialAccountsFinancialAccountFeaturesRequest:
      type: object
      properties: {}
    TreasuryReceivedDebitsResourceDebitReversalList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          description: Details about each object.
          items:
            $ref: '#/components/schemas/treasury.debit_reversal'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          type: string
    PostTreasuryDebitReversalsRequest:
      type: object
      required:
      - received_debit
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
          type: object
        received_debit:
          description: The ReceivedDebit to reverse.
          maxLength: 5000
          type: string
    TreasuryReceivedCreditsResourceCreditReversalList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          description: Details about each object.
          items:
            $ref: '#/components/schemas/treasury.credit_reversal'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          type: string
    GetTreasuryOutboundTransfersOutboundTransferRequest:
      type: object
      properties: {}
    GetTreasuryDebitReversalsRequest:
      type: object
      properties: {}
    treasury.transaction:
      type: object
      properties:
        id:
          type: string
          maxLength: 5000
        object:
          type: string
          enum:
          - treasury.transaction
        amount:
          type: integer
        balance_impact:
          type: object
        created:
          type: integer
        currency:
          type: string
        description:
          type: string
        financial_account:
          type: string
        flow:
          type:
          - string
          - 'null'
        flow_type:
          type: string
          enum:
          - credit_reversal
          - debit_reversal
          - inbound_transfer
          - issuing_authorization
          - other
          - outbound_payment
          - outbound_transfer
          - received_credit
          - received_debit
        livemode:
          type: boolean
        status:
          type: string
          enum:
          - open
          - posted
          - void
      required:
      - id
      - object
      - amount
      - balance_impact
      - created
      - currency
      - description
      - financial_account
      - flow_type
      - livemode
      - status
    TreasuryTransactionsResourceTransactionEntryList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          description: Details about each object.
          items:
            $ref: '#/components/schemas/treasury.transaction_entry'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/treasury/transaction_entries
          type: string
    PostTreasuryOutboundTransfersOutboundTransferCancelRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    GetTreasuryReceivedDebitsRequest:
      type: object
      properties: {}
    treasury.outbound_transfer_2:
      description: 'Use OutboundTransfers to transfer funds from a [FinancialAccount](https://stripe.com/docs/api#financial_accounts) to a PaymentMethod belonging to the same entity. To send funds to a different party, use [OutboundPayments](https://stripe.com/docs/api#outbound_payments) instead. You can send funds over ACH rails or through a domestic wire transfer to a user''s own external bank account.


        Simulate OutboundTransfer state changes with the `/v1/test_helpers/treasury/outbound_transfers` endpoints. These methods can only be called on test mode objects.'
      properties:
[...]
