openapi: 3.0.0
info:
  title: Stripe Accounts Account Forwarding API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Forwarding
paths:
  /v1/forwarding/requests:
    get:
      summary: Stripe List Forwarding Requests
      description: <p>Lists all ForwardingRequest objects.</p>
      operationId: GetForwardingRequests
      parameters:
      - name: ending_before
        in: query
        required: false
        schema:
          type: string
          maxLength: 5000
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: starting_after
        in: query
        required: false
        schema:
          type: string
          maxLength: 5000
      - name: expand
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            maxLength: 5000
        style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/forwarding.request'
                  has_more:
                    type: boolean
                  url:
                    type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Forwarding
    post:
      summary: Stripe Create Forwarding Request
      description: <p>Creates a ForwardingRequest object.</p>
      operationId: PostForwardingRequests
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - payment_method
              - url
              - replacements
              properties:
                payment_method:
                  type: string
                  description: The PaymentMethod to insert into the forwarded request.
                  maxLength: 5000
                url:
                  type: string
                  description: The destination URL for the forwarded request.
                replacements:
                  type: array
                  items:
                    type: string
                    enum:
                    - card_cvc
                    - card_expiry
                    - card_number
                    - cardholder_name
                request:
                  type: object
                  properties:
                    body:
                      type: string
                    headers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                metadata:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding.request'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Forwarding
  /v1/forwarding/requests/{id}:
    get:
      summary: Stripe Retrieve Forwarding Request
      description: <p>Retrieves a ForwardingRequest object.</p>
      operationId: GetForwardingRequestsId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          maxLength: 5000
      - name: expand
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            maxLength: 5000
        style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding.request'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
      - Forwarding
components:
  schemas:
    forwarding.request:
      type: object
      properties:
        id:
          type: string
          maxLength: 5000
        object:
          type: string
          enum:
          - forwarding.request
        created:
          type: integer
        livemode:
          type: boolean
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        payment_method:
          type: string
        replacements:
          type: array
          items:
            type: string
        request_context:
          type:
          - object
          - 'null'
        request_details:
          type:
          - object
          - 'null'
        response_details:
          type:
          - object
          - 'null'
        url:
          type:
          - string
          - 'null'
      required:
      - id
      - object
      - created
      - livemode
      - payment_method
      - replacements
    error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            code:
              type: string
            param:
              type: string
