openapi: 3.0.0
info:
  title: Stripe Accounts Account Approve API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Approve
paths:
  /v1/issuing/authorizations/{authorization}/approve:
    post:
      description: "<p>[Deprecated] Approves a pending Issuing <code>Authorization</code> object. This request should be made within the timeout window of the <a href=\"/docs/issuing/controls/real-time-authorizations\">real-time authorization</a> flow. \nThis method is deprecated. Instead, <a href=\"/docs/issuing/controls/real-time-authorizations#authorization-handling\">respond directly to the webhook request to approve an authorization</a>.</p>"
      operationId: postIssuingAuthorizationsAuthorizationApprove
      parameters:
      - in: path
        name: authorization
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingAuthorizationsAuthorizationApproveRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.authorization'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Authorizations Approve
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Approve
components:
  schemas:
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    issuing.cardholder:
      description: 'An Issuing `Cardholder` object represents an individual or business entity who is [issued](https://stripe.com/docs/issuing) cards.


        Related guide: [How to create a cardholder](https://stripe.com/docs/issuing/cards#create-cardholder)'
      properties:
        billing:
          $ref: '#/components/schemas/issuing_cardholder_address'
        company:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_company'
          description: Additional information about a `company` cardholder.
          nullable: true
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        email:
          description: The cardholder's email address.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        individual:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_individual'
          description: Additional information about an `individual` cardholder.
          nullable: true
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        name:
          description: The cardholder's name. This will be printed on cards issued to them.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.cardholder
          type: string
        phone_number:
          description: The cardholder's phone number. This is required for all cardholders who will be creating EU cards. See the [3D Secure documentation](https://stripe.com/docs/issuing/3d-secure#when-is-3d-secure-applied) for more details.
          maxLength: 5000
          nullable: true
          type: string
        preferred_locales:
          description: "The cardholder’s preferred locales (languages), ordered by preference. Locales can be `de`, `en`, `es`, `fr`, or `it`.\n This changes the language of the [3D Secure flow](https://stripe.com/docs/issuing/3d-secure) and one-time password messages sent to the cardholder."
          items:
            enum:
            - de
            - en
            - es
            - fr
            - it
            type: string
          nullable: true
          type: array
        requirements:
          $ref: '#/components/schemas/issuing_cardholder_requirements'
        spending_controls:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_authorization_controls'
          description: Rules that control spending across this cardholder's cards. Refer to our [documentation](https://stripe.com/docs/issuing/controls/spending-controls) for more details.
          nullable: true
        status:
          description: Specifies whether to permit authorizations on this cardholder's cards.
          enum:
          - active
          - blocked
          - inactive
          type: string
        type:
          description: One of `individual` or `company`. See [Choose a cardholder type](https://stripe.com/docs/issuing/other/choose-cardholder) for more details.
          enum:
          - company
          - individual
          type: string
          x-stripeBypassValidation: true
      required:
      - billing
      - created
      - id
      - livemode
      - metadata
      - name
      - object
      - requirements
      - status
      - type
      title: IssuingCardholder
      type: object
      x-expandableFields:
      - billing
      - company
      - individual
      - requirements
      - spending_controls
      x-resourceId: issuing.cardholder
    issuing.transaction:
      description: 'Any use of an [issued card](https://stripe.com/docs/issuing) that results in funds entering or leaving

        your Stripe account, such as a completed purchase or refund, is represented by an Issuing

        `Transaction` object.


        Related guide: [Issued card transactions](https://stripe.com/docs/issuing/purchases/transactions)'
      properties:
        amount:
          description: The transaction amount, which will be reflected in your balance. This amount is in your currency and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          type: integer
        amount_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_amount_details'
          description: Detailed breakdown of amount components. These amounts are denominated in `currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
        authorization:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.authorization'
          description: The `Authorization` object that led to this transaction.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.authorization'
        balance_transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/balance_transaction'
          description: ID of the [balance transaction](https://stripe.com/docs/api/balance_transactions) associated with this transaction.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/balance_transaction'
        card:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The card used to make this transaction.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        cardholder:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.cardholder'
          description: The cardholder to whom this transaction belongs.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        dispute:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.dispute'
          description: If you've disputed the transaction, the ID of the dispute.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.dispute'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        merchant_amount:
          description: The amount that the merchant will receive, denominated in `merchant_currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). It will be different from `amount` if the merchant is taking payment in a different currency.
          type: integer
        merchant_currency:
          description: The currency with which the merchant is taking payment.
          type: string
        merchant_data:
          $ref: '#/components/schemas/issuing_authorization_merchant_data'
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        network_data:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_network_data'
          description: Details about the transaction, such as processing dates, set by the card network.
          nullable: true
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.transaction
          type: string
        purchase_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_purchase_details'
          description: Additional purchase information that is optionally provided by the merchant.
          nullable: true
        token:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.token'
          description: '[Token](https://stripe.com/docs/api/issuing/tokens/object) object used for this transaction. If a network token was not used for this transaction, this field will be null.'
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.token'
        treasury:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_treasury'
          description: '[Treasury](https://stripe.com/docs/api/treasury) details related to this transaction if it was created on a [FinancialAccount](/docs/api/treasury/financial_accounts'
          nullable: true
        type:
          description: The nature of the transaction.
          enum:
          - capture
          - refund
          type: string
          x-stripeBypassValidation: true
        wallet:
          description: The digital wallet used for this transaction. One of `apple_pay`, `google_pay`, or `samsung_pay`.
          enum:
          - apple_pay
          - google_pay
          - samsung_pay
          nullable: true
          type: string
      required:
      - amount
      - card
      - created
      - currency
      - id
      - livemode
      - merchant_amount
      - merchant_currency
      - merchant_data
      - metadata
      - object
      - type
      title: IssuingTransaction
      type: object
      x-expandableFields:
      - amount_details
      - authorization
      - balance_transaction
      - card
      - cardholder
      - dispute
      - merchant_data
      - network_data
      - purchase_details
      - token
      - treasury
      x-resourceId: issuing.transaction
    issuing.token:
      description: An issuing token object is created when an issued card is added to a digital wallet. As a [card issuer](https://stripe.com/docs/issuing), you can [view and manage these tokens](https://stripe.com/docs/issuing/controls/token-management) through Stripe.
      properties:
        card:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: Card associated with this token.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        device_fingerprint:
          description: The hashed ID derived from the device ID from the card network associated with the token
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last four digits of the token.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        network:
          description: The token service provider / card network associated with the token.
          enum:
          - mastercard
          - visa
          type: string
        network_data:
          $ref: '#/components/schemas/issuing_network_token_network_data'
        network_updated_at:
          description: Time at which the token was last updated by the card network. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.token
          type: string
        status:
          description: The usage state of the token.
          enum:
          - active
          - deleted
          - requested
          - suspended
          type: string
        wallet_provider:
          description: The digital wallet for this token, if one was used.
          enum:
          - apple_pay
          - google_pay
          - samsung_pay
          type: string
      required:
      - card
      - created
      - id
      - livemode
      - network
      - network_updated_at
      - object
      - status
      title: IssuingNetworkToken
      type: object
      x-expandableFields:
      - card
      - network_data
      x-resourceId: issuing.token
    issuing.authorization:
      description: 'When an [issued card](https://stripe.com/docs/issuing) is used to make a purchase, an Issuing `Authorization`

        object is created. [Authorizations](https://stripe.com/docs/issuing/purchases/authorizations) must be approved for the

        purchase to be completed successfully.


        Related guide: [Issued card authorizations](https://stripe.com/docs/issuing/purchases/authorizations)'
      properties:
        amount:
          description: The total amount that was authorized or rejected. This amount is in `currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). `amount` should be the same as `merchant_amount`, unless `currency` and `merchant_currency` are different.
          type: integer
        amount_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_amount_details'
          description: Detailed breakdown of amount components. These amounts are denominated in `currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
        approved:
          description: Whether the authorization has been approved.
          type: boolean
        authorization_method:
          description: How the card details were provided.
          enum:
          - chip
          - contactless
          - keyed_in
          - online
          - swipe
          type: string
        balance_transactions:
          description: List of balance transactions associated with this authorization.
          items:
            $ref: '#/components/schemas/balance_transaction'
          type: array
        card:
          $ref: '#/components/schemas/issuing.card'
        cardholder:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.cardholder'
          description: The cardholder to whom this authorization belongs.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: The currency of the cardholder. This currency can be different from the currency presented at authorization and the `merchant_currency` field on this authorization. Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        merchant_amount:
          description: The total amount that was authorized or rejected. This amount is in the `merchant_currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). `merchant_amount` should be the same as `amount`, unless `merchant_currency` and `currency` are different.
          type: integer
        merchant_currency:
          description: The local currency that was presented to the cardholder for the authorization. This currency can be different from the cardholder currency and the `currency` field on this authorization. Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        merchant_data:
          $ref: '#/components/schemas/issuing_authorization_merchant_data'
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        network_data:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_network_data'
          description: Details about the authorization, such as identifiers, set by the card network.
          nullable: true
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.authorization
          type: string
        pending_request:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_pending_request'
          description: The pending authorization request. This field will only be non-null during an `issuing_authorization.request` webhook.
          nullable: true
        request_history:
          description: History of every time a `pending_request` authorization was approved/declined, either by you directly or by Stripe (e.g. based on your spending_controls). If the merchant changes the authorization by performing an incremental authorization, you can look at this field to see the previous requests for the authorization. This field can be helpful in determining why a given authorization was approved/declined.
          items:
            $ref: '#/components/schemas/issuing_authorization_request'
          type: array
        status:
          description: The current status of the authorization in its lifecycle.
          enum:
          - closed
          - pending
          - reversed
          type: string
        token:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.token'
          description: '[Token](https://stripe.com/docs/api/issuing/tokens/object) object used for this authorization. If a network token was not used for this authorization, this field will be null.'
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.token'
        transactions:
          description: List of [transactions](https://stripe.com/docs/api/issuing/transactions) associated with this authorization.
          items:
            $ref: '#/components/schemas/issuing.transaction'
          type: array
        treasury:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_treasury'
          description: '[Treasury](https://stripe.com/docs/api/treasury) details related to this authorization if it was created on a [FinancialAccount](https://stripe.com/docs/api/treasury/financial_accounts).'
          nullable: true
        verification_data:
          $ref: '#/components/schemas/issuing_authorization_verification_data'
        wallet:
          description: The digital wallet used for this transaction. One of `apple_pay`, `google_pay`, or `samsung_pay`. Will populate as `null` when no digital wallet was utilized.
          maxLength: 5000
          nullable: true
          type: string
      required:
      - amount
      - approved
      - authorization_method
      - balance_transactions
      - card
      - created
      - currency
      - id
      - livemode
      - merchant_amount
      - merchant_currency
      - merchant_data
      - metadata
      - object
      - request_history
      - status
      - transactions
      - verification_data
      title: IssuingAuthorization
      type: object
      x-expandableFields:
      - amount_details
      - balance_transactions
      - card
      - cardholder
      - merchant_data
      - network_data
      - pending_request
      - request_history
      - token
      - transactions
      - treasury
      - verification_data
      x-resourceId: issuing.authorization
    issuing.dispute:
      description: 'As a [card issuer](https://stripe.com/docs/issuing), you can dispute transactions that the cardholder does not recognize, suspects to be fraudulent, or has other issues with.


        Related guide: [Issuing disputes](https://stripe.com/docs/issuing/purchases/disputes)'
      properties:
        amount:
          description: Disputed amount in the card's currency and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). Usually the amount of the `transaction`, but can differ (usually because of currency fluctuation).
          type: integer
        balance_transactions:
          description: List of balance transactions associated with the dispute.
          items:
            $ref: '#/components/schemas/balance_transaction'
          nullable: true
          type: array
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: The currency the `transaction` was made in.
          type: string
        evidence:
          $ref: '#/components/schemas/issuing_dispute_evidence'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.dispute
          type: string
        status:
          description: Current status of the dispute.
          enum:
          - expired
          - lost
          - submitted
          - unsubmitted
          - won
          type: string
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.transaction'
          description: The transaction being disputed.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.transaction'
        treasury:
          anyOf:
          - $ref: '#/components/schemas/issuing_dispute_treasury'
          description: '[Treasury](https://stripe.com/docs/api/treasury) details related to this dispute if it was created on a [FinancialAccount](/docs/api/treasury/financial_accounts'
          nullable: true
      required:
      - amount
      - created
      - currency
      - evidence
      - id
      - livemode
      - metadata
      - object
      - status
      - transaction
      title: IssuingDispute
      type: object
      x-expandableFields:
      - balance_transactions
      - evidence
      - transaction
      - treasury
      x-resourceId: issuing.dispute
    issuing.card:
      description: You can [create physical or virtual cards](https://stripe.com/docs/issuing/cards) that are issued to cardholders.
      properties:
        brand:
          description: The brand of the card.
          maxLength: 5000
          type: string
        cancellation_reason:
          description: The reason why the card was canceled.
          enum:
          - design_rejected
          - lost
          - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        cardholder:
          $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Supported currencies are `usd` in the US, `eur` in the EU, and `gbp` in the UK.
          type: string
        cvc:
          description: The card's CVC. For security reasons, this is only available for virtual cards, and will be omitted unless you explicitly request it with [the `expand` parameter](https://stripe.com/docs/api/expanding_objects). Additionally, it's only available via the ["Retrieve a card" endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        exp_month:
          description: The expiration month of the card.
          type: integer
        exp_year:
          description: The expiration year of the card.
          type: integer
        financial_account:
          description: The financial account this card is attached to.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last 4 digits of the card number.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        number:
          description: The full unredacted card number. For security reasons, this is only available for virtual cards, and will be omitted unless you explicitly request it with [the `expand` parameter](https://stripe.com/docs/api/expanding_objects). Additionally, it's only available via the ["Retrieve a card" endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.card
          type: string
        replaced_by:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The latest card that replaces this card, if any.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        replacement_for:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The card this card replaces, if any.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        replacement_reason:
          description: The reason why the previous card needed to be replaced.
          enum:
          - damaged
          - expired
          - lost
          - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        shipping:
          anyOf:
          - $ref: '#/components/schemas/issuing_card_shipping'
          description: Where and how the card will be shipped.
          nullable: true
        spending_controls:
          $ref: '#/components/schemas/issuing_card_authorization_controls'
        status:
          description: Whether authorizations can be approved on this card. May be blocked from activating cards depending on past-due Cardholder requirements. Defaults to `inactive`.
          enum:
          - active
          - canceled
          - inactive
          type: string
          x-stripeBypassValidation: true
        type:
          description: The type of the card.
          enum:
          - physical
          - virtual
          type: string
        wallets:
          anyOf:
          - $ref: '#/components/schemas/issuing_card_wallets'
          description: Information relating to digital wallets (like Apple Pay and Google Pay).
          nullable: true
      required:
      - brand
      - cardholder
      - created
      - currency
      - exp_month
      - exp_year
      - id
      - last4
      - livemode
      - metadata
      - object
      - spending_controls
      - status
      - type
      title: IssuingCard
      type: object
      x-expandableFields:
      - cardholder
      - replaced_by
      - replacement_for
      - shipping
      - spending_controls
      - wallets
      x-resourceId: issuing.card
    PostIssuingAuthorizationsAuthorizationApproveRequest:
      type: object
      properties:
        amount:
          description: If the authorization's `pending_request.is_amount_controllable` property is `true`, you may provide this value to control how much to hold for the authorization. Must be positive (use [`decline`](https://stripe.com/docs/api/issuing/authorizations/decline) to decline an authorization request).
          type: integer
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
