openapi: 3.0.0
info:
  title: Stripe Accounts Account Settlement API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Settlement
paths:
  /v1/issuing/settlements/{settlement}:
    get:
      description: <p>Retrieves an Issuing <code>Settlement</code> object.</p>
      operationId: getIssuingSettlementsSettlement
      parameters:
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - in: path
        name: settlement
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingSettlementsSettlementRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.settlement'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Issuing Settlements Settlement
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Settlement
    post:
      description: <p>Updates the specified Issuing <code>Settlement</code> object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.</p>
      operationId: postIssuingSettlementsSettlement
      parameters:
      - in: path
        name: settlement
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingSettlementsSettlementRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.settlement'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Settlements Settlement
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Settlement
components:
  schemas:
    issuing.settlement:
      description: When a non-stripe BIN is used, any use of an [issued card](https://stripe.com/docs/issuing) must be settled directly with the card network. The net amount owed is represented by an Issuing `Settlement` object.
      properties:
        bin:
          description: The Bank Identification Number reflecting this settlement record.
          maxLength: 5000
          type: string
        clearing_date:
          description: The date that the transactions are cleared and posted to user's accounts.
          type: integer
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        interchange_fees:
          description: The total interchange received as reimbursement for the transactions.
          type: integer
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        net_total:
          description: The total net amount required to settle with the network.
          type: integer
        network:
          description: The card network for this settlement report. One of ["visa"]
          enum:
          - visa
          type: string
        network_fees:
          description: The total amount of fees owed to the network.
          type: integer
        network_settlement_identifier:
          description: The Settlement Identification Number assigned by the network.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.settlement
          type: string
        settlement_service:
          description: One of `international` or `uk_national_net`.
          maxLength: 5000
          type: string
        transaction_count:
          description: The total number of transactions reflected in this settlement.
          type: integer
        transaction_volume:
          description: The total transaction amount reflected in this settlement.
          type: integer
      required:
      - bin
      - clearing_date
      - created
      - currency
      - id
      - interchange_fees
      - livemode
      - metadata
      - net_total
      - network
      - network_fees
      - network_settlement_identifier
      - object
      - settlement_service
      - transaction_count
      - transaction_volume
      title: IssuingSettlement
      type: object
      x-expandableFields: []
      x-resourceId: issuing.settlement
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    PostIssuingSettlementsSettlementRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
          type: object
    GetIssuingSettlementsSettlementRequest:
      type: object
      properties: {}
