openapi: 3.0.0
info:
  title: Stripe Accounts Account Disputes API
  description: This is an object representing a Stripe account. You can retrieve it to see properties on the account like its current requirements or if the account is enabled to make live charges or receive payouts.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
servers:
- url: https://api.stripe.com/
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Disputes
paths:
  /v1/disputes:
    get:
      description: <p>Returns a list of your disputes.</p>
      operationId: GetDisputes
      parameters:
      - description: Only return disputes associated to the charge specified by this charge ID.
        in: query
        name: charge
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - explode: true
        in: query
        name: created
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Only return disputes associated to the PaymentIntent specified by this PaymentIntent ID.
        in: query
        name: payment_intent
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetDisputesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/DisputeList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Disputes
  /v1/disputes/{dispute}:
    get:
      description: <p>Retrieves the dispute with the given ID.</p>
      operationId: GetDisputesDispute
      parameters:
      - in: path
        name: dispute
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetDisputesDisputeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Disputes
    post:
      description: '<p>When you get a dispute, contacting your customer is always the best first step. If that doesn’t work, you can submit evidence to help us resolve the dispute in your favor. You can do this in your <a href="https://dashboard.stripe.com/disputes">dashboard</a>, but if you prefer, you can use the API to submit evidence programmatically.</p>


        <p>Depending on your dispute type, different evidence fields will give you a better chance of winning your dispute. To figure out which evidence fields to provide, see our <a href="/docs/disputes/categories">guide to dispute types</a>.</p>'
      operationId: PostDisputesDispute
      parameters:
      - in: path
        name: dispute
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              evidence:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostDisputesDisputeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Disputes
  /v1/disputes/{dispute}/close:
    post:
      description: '<p>Closing the dispute for a charge indicates that you do not have any evidence to submit and are essentially dismissing the dispute, acknowledging it as lost.</p>


        <p>The status of the dispute will change from <code>needs_response</code> to <code>lost</code>. <em>Closing a dispute is irreversible</em>.</p>'
      operationId: PostDisputesDisputeClose
      parameters:
      - in: path
        name: dispute
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostDisputesDisputeCloseRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      tags:
      - Disputes
  /v1/issuing/disputes:
    get:
      description: <p>Returns a list of Issuing <code>Dispute</code> objects. The objects are sorted in descending order by creation date, with the most recently created object appearing first.</p>
      operationId: getIssuingDisputes
      parameters:
      - description: Select Issuing disputes that were created during the given date interval.
        explode: true
        in: query
        name: created
        required: false
        schema:
          anyOf:
          - properties:
              gt:
                type: integer
              gte:
                type: integer
              lt:
                type: integer
              lte:
                type: integer
            title: range_query_specs
            type: object
          - type: integer
        style: deepObject
      - description: A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      - description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      - description: Select Issuing disputes with the given status.
        in: query
        name: status
        required: false
        schema:
          enum:
          - expired
          - lost
          - submitted
          - unsubmitted
          - won
          type: string
        style: form
      - description: Select the Issuing dispute for the given transaction.
        in: query
        name: transaction
        required: false
        schema:
          maxLength: 5000
          type: string
        style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingDisputesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                - data
                $ref: '#/components/schemas/IssuingDisputeList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Issuing Disputes
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Disputes
    post:
      description: <p>Creates an Issuing <code>Dispute</code> object. Individual pieces of evidence within the <code>evidence</code> object are optional at this point. Stripe only validates that required evidence is present during submission. Refer to <a href="/docs/issuing/purchases/disputes#dispute-reasons-and-evidence">Dispute reasons and evidence</a> for more details about evidence requirements.</p>
      operationId: postIssuingDisputes
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              evidence:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              treasury:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingDisputesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Disputes
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Disputes
  /v1/issuing/disputes/{dispute}:
    get:
      description: <p>Retrieves an Issuing <code>Dispute</code> object.</p>
      operationId: getIssuingDisputesDispute
      parameters:
      - in: path
        name: dispute
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      - description: Specifies which fields in the response should be expanded.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            maxLength: 5000
            type: string
          type: array
        style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingDisputesDisputeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Get   Issuing Disputes
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Disputes
    post:
      description: <p>Updates the specified Issuing <code>Dispute</code> object by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Properties on the <code>evidence</code> object can be unset by passing in an empty string.</p>
      operationId: postIssuingDisputesDispute
      parameters:
      - in: path
        name: dispute
        required: true
        schema:
          maxLength: 5000
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              evidence:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingDisputesDisputeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      summary: Stripe Post   Issuing Disputes
      x-api-evangelist-processing:
        GenerateOperationSummariesFromPath: true
        PascalCaseOperationSummaries: true
        CaselCaseOperationIds: true
        ChooseTags: true
      tags:
      - Disputes
components:
  schemas:
    GetDisputesRequest:
      type: object
      properties: {}
    PostIssuingDisputesDisputeRequest:
      type: object
      properties:
        amount:
          description: The dispute amount in the card's currency and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          type: integer
        evidence:
          description: Evidence provided for the dispute.
          properties:
            canceled:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  canceled_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  cancellation_policy_provided:
                    anyOf:
                    - type: boolean
                    - enum:
                      - ''
                      type: string
                  cancellation_reason:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  expected_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_type:
                    enum:
                    - ''
                    - merchandise
                    - service
                    type: string
                  return_status:
                    enum:
                    - ''
                    - merchant_rejected
                    - successful
                    type: string
                  returned_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                title: canceled
                type: object
              - enum:
                - ''
                type: string
            duplicate:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  card_statement:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  cash_receipt:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  check_image:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  original_transaction:
                    maxLength: 5000
                    type: string
                title: duplicate
                type: object
              - enum:
                - ''
                type: string
            fraudulent:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                title: fraudulent
                type: object
              - enum:
                - ''
                type: string
            merchandise_not_as_described:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  received_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  return_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  return_status:
                    enum:
                    - ''
                    - merchant_rejected
                    - successful
                    type: string
                  returned_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                title: merchandise_not_as_described
                type: object
              - enum:
                - ''
                type: string
            not_received:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  expected_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_type:
                    enum:
                    - ''
                    - merchandise
                    - service
                    type: string
                title: not_received
                type: object
              - enum:
                - ''
                type: string
            other:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_type:
                    enum:
                    - ''
                    - merchandise
                    - service
                    type: string
                title: other
                type: object
              - enum:
                - ''
                type: string
            reason:
              enum:
              - canceled
              - duplicate
              - fraudulent
              - merchandise_not_as_described
              - not_received
              - other
              - service_not_as_described
              type: string
              x-stripeBypassValidation: true
            service_not_as_described:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  canceled_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  cancellation_reason:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  received_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                title: service_not_as_described
                type: object
              - enum:
                - ''
                type: string
          title: evidence_param
          type: object
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
    issuing.transaction:
      description: 'Any use of an [issued card](https://stripe.com/docs/issuing) that results in funds entering or leaving

        your Stripe account, such as a completed purchase or refund, is represented by an Issuing

        `Transaction` object.


        Related guide: [Issued card transactions](https://stripe.com/docs/issuing/purchases/transactions)'
      properties:
        amount:
          description: The transaction amount, which will be reflected in your balance. This amount is in your currency and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          type: integer
        amount_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_amount_details'
          description: Detailed breakdown of amount components. These amounts are denominated in `currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
        authorization:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.authorization'
          description: The `Authorization` object that led to this transaction.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.authorization'
        balance_transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/balance_transaction'
          description: ID of the [balance transaction](https://stripe.com/docs/api/balance_transactions) associated with this transaction.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/balance_transaction'
        card:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The card used to make this transaction.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        cardholder:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.cardholder'
          description: The cardholder to whom this transaction belongs.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        dispute:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.dispute'
          description: If you've disputed the transaction, the ID of the dispute.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.dispute'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        merchant_amount:
          description: The amount that the merchant will receive, denominated in `merchant_currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). It will be different from `amount` if the merchant is taking payment in a different currency.
          type: integer
        merchant_currency:
          description: The currency with which the merchant is taking payment.
          type: string
        merchant_data:
          $ref: '#/components/schemas/issuing_authorization_merchant_data'
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        network_data:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_network_data'
          description: Details about the transaction, such as processing dates, set by the card network.
          nullable: true
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.transaction
          type: string
        purchase_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_purchase_details'
          description: Additional purchase information that is optionally provided by the merchant.
          nullable: true
        token:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.token'
          description: '[Token](https://stripe.com/docs/api/issuing/tokens/object) object used for this transaction. If a network token was not used for this transaction, this field will be null.'
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.token'
        treasury:
          anyOf:
          - $ref: '#/components/schemas/issuing_transaction_treasury'
          description: '[Treasury](https://stripe.com/docs/api/treasury) details related to this transaction if it was created on a [FinancialAccount](/docs/api/treasury/financial_accounts'
          nullable: true
        type:
          description: The nature of the transaction.
          enum:
          - capture
          - refund
          type: string
          x-stripeBypassValidation: true
        wallet:
          description: The digital wallet used for this transaction. One of `apple_pay`, `google_pay`, or `samsung_pay`.
          enum:
          - apple_pay
          - google_pay
          - samsung_pay
          nullable: true
          type: string
      required:
      - amount
      - card
      - created
      - currency
      - id
      - livemode
      - merchant_amount
      - merchant_currency
      - merchant_data
      - metadata
      - object
      - type
      title: IssuingTransaction
      type: object
      x-expandableFields:
      - amount_details
      - authorization
      - balance_transaction
      - card
      - cardholder
      - dispute
      - merchant_data
      - network_data
      - purchase_details
      - token
      - treasury
      x-resourceId: issuing.transaction
    issuing.cardholder:
      description: 'An Issuing `Cardholder` object represents an individual or business entity who is [issued](https://stripe.com/docs/issuing) cards.


        Related guide: [How to create a cardholder](https://stripe.com/docs/issuing/cards#create-cardholder)'
      properties:
        billing:
          $ref: '#/components/schemas/issuing_cardholder_address'
        company:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_company'
          description: Additional information about a `company` cardholder.
          nullable: true
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        email:
          description: The cardholder's email address.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        individual:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_individual'
          description: Additional information about an `individual` cardholder.
          nullable: true
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        name:
          description: The cardholder's name. This will be printed on cards issued to them.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.cardholder
          type: string
        phone_number:
          description: The cardholder's phone number. This is required for all cardholders who will be creating EU cards. See the [3D Secure documentation](https://stripe.com/docs/issuing/3d-secure#when-is-3d-secure-applied) for more details.
          maxLength: 5000
          nullable: true
          type: string
        preferred_locales:
          description: "The cardholder’s preferred locales (languages), ordered by preference. Locales can be `de`, `en`, `es`, `fr`, or `it`.\n This changes the language of the [3D Secure flow](https://stripe.com/docs/issuing/3d-secure) and one-time password messages sent to the cardholder."
          items:
            enum:
            - de
            - en
            - es
            - fr
            - it
            type: string
          nullable: true
          type: array
        requirements:
          $ref: '#/components/schemas/issuing_cardholder_requirements'
        spending_controls:
          anyOf:
          - $ref: '#/components/schemas/issuing_cardholder_authorization_controls'
          description: Rules that control spending across this cardholder's cards. Refer to our [documentation](https://stripe.com/docs/issuing/controls/spending-controls) for more details.
          nullable: true
        status:
          description: Specifies whether to permit authorizations on this cardholder's cards.
          enum:
          - active
          - blocked
          - inactive
          type: string
        type:
          description: One of `individual` or `company`. See [Choose a cardholder type](https://stripe.com/docs/issuing/other/choose-cardholder) for more details.
          enum:
          - company
          - individual
          type: string
          x-stripeBypassValidation: true
      required:
      - billing
      - created
      - id
      - livemode
      - metadata
      - name
      - object
      - requirements
      - status
      - type
      title: IssuingCardholder
      type: object
      x-expandableFields:
      - billing
      - company
      - individual
      - requirements
      - spending_controls
      x-resourceId: issuing.cardholder
    IssuingDisputeList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/issuing.dispute'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/issuing/disputes
          type: string
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
      - error
      type: object
    issuing.token:
      description: An issuing token object is created when an issued card is added to a digital wallet. As a [card issuer](https://stripe.com/docs/issuing), you can [view and manage these tokens](https://stripe.com/docs/issuing/controls/token-management) through Stripe.
      properties:
        card:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: Card associated with this token.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        device_fingerprint:
          description: The hashed ID derived from the device ID from the card network associated with the token
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last four digits of the token.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        network:
          description: The token service provider / card network associated with the token.
          enum:
          - mastercard
          - visa
          type: string
        network_data:
          $ref: '#/components/schemas/issuing_network_token_network_data'
        network_updated_at:
          description: Time at which the token was last updated by the card network. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.token
          type: string
        status:
          description: The usage state of the token.
          enum:
          - active
          - deleted
          - requested
          - suspended
          type: string
        wallet_provider:
          description: The digital wallet for this token, if one was used.
          enum:
          - apple_pay
          - google_pay
          - samsung_pay
          type: string
      required:
      - card
      - created
      - id
      - livemode
      - network
      - network_updated_at
      - object
      - status
      title: IssuingNetworkToken
      type: object
      x-expandableFields:
      - card
      - network_data
      x-resourceId: issuing.token
    GetIssuingDisputesDisputeRequest:
      type: object
      properties: {}
    GetIssuingDisputesRequest:
      type: object
      properties: {}
    dispute:
      description: 'A dispute occurs when a customer questions your charge with their card issuer.

        When this happens, you have the opportunity to respond to the dispute with

        evidence that shows that the charge is legitimate.


        Related guide: [Disputes and fraud](https://stripe.com/docs/disputes)'
      properties:
        amount:
          description: Disputed amount. Usually the amount of the charge, but it can differ (usually because of currency fluctuation or because only part of the order is disputed).
          type: integer
        balance_transactions:
          description: List of zero, one, or two balance transactions that show funds withdrawn and reinstated to your Stripe account as a result of this dispute.
          items:
            $ref: '#/components/schemas/balance_transaction'
          type: array
        charge:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/charge'
          description: ID of the charge that's disputed.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/charge'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        evidence:
          $ref: '#/components/schemas/dispute_evidence'
        evidence_details:
          $ref: '#/components/schemas/dispute_evidence_details'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        is_charge_refundable:
          description: If true, it's still possible to refund the disputed payment. After the payment has been fully refunded, no further funds are withdrawn from your Stripe account as a result of this dispute.
          type: boolean
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - dispute
          type: string
        payment_intent:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/payment_intent'
          description: ID of the PaymentIntent that's disputed.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/payment_intent'
        payment_method_details:
          $ref: '#/components/schemas/dispute_payment_method_details'
        reason:
          description: Reason given by cardholder for dispute. Possible values are `bank_cannot_process`, `check_returned`, `credit_not_processed`, `customer_initiated`, `debit_not_authorized`, `duplicate`, `fraudulent`, `general`, `incorrect_account_details`, `insufficient_funds`, `product_not_received`, `product_unacceptable`, `subscription_canceled`, or `unrecognized`. Learn more about [dispute reasons](https://stripe.com/docs/disputes/categories).
          maxLength: 5000
          type: string
        status:
          description: Current status of dispute. Possible values are `warning_needs_response`, `warning_under_review`, `warning_closed`, `needs_response`, `under_review`, `won`, or `lost`.
          enum:
          - lost
          - needs_response
          - under_review
          - warning_closed
          - warning_needs_response
          - warning_under_review
          - won
          type: string
      required:
      - amount
      - balance_transactions
      - charge
      - created
      - currency
      - evidence
      - evidence_details
      - id
      - is_charge_refundable
      - livemode
      - metadata
      - object
      - reason
      - status
      title: Dispute
      type: object
      x-expandableFields:
      - balance_transactions
      - charge
      - evidence
      - evidence_details
      - payment_intent
      - payment_method_details
      x-resourceId: dispute
    PostDisputesDisputeRequest:
      type: object
      properties:
        evidence:
          description: Evidence to upload, to respond to a dispute. Updating any field in the hash will submit all fields in the hash for review. The combined character count of all fields is limited to 150,000.
          properties:
            access_activity_log:
              maxLength: 20000
              type: string
            billing_address:
              maxLength: 5000
              type: string
            cancellation_policy:
              type: string
            cancellation_policy_disclosure:
              maxLength: 20000
              type: string
            cancellation_rebuttal:
              maxLength: 20000
              type: string
            customer_communication:
              type: string
            customer_email_address:
              maxLength: 5000
              type: string
            customer_name:
              maxLength: 5000
              type: string
            customer_purchase_ip:
              maxLength: 5000
              type: string
            customer_signature:
              type: string
            duplicate_charge_documentation:
              type: string
            duplicate_charge_explanation:
              maxLength: 20000
              type: string
            duplicate_charge_id:
              maxLength: 5000
              type: string
            product_description:
              maxLength: 20000
              type: string
            receipt:
              type: string
            refund_policy:
              type: string
            refund_policy_disclosure:
              maxLength: 20000
              type: string
            refund_refusal_explanation:
              maxLength: 20000
              type: string
            service_date:
              maxLength: 5000
              type: string
            service_documentation:
              type: string
            shipping_address:
              maxLength: 5000
              type: string
            shipping_carrier:
              maxLength: 5000
              type: string
            shipping_date:
              maxLength: 5000
              type: string
            shipping_documentation:
              type: string
            shipping_tracking_number:
              maxLength: 5000
              type: string
            uncategorized_file:
              type: string
            uncategorized_text:
              maxLength: 20000
              type: string
          title: dispute_evidence_params
          type: object
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - enum:
            - ''
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
        submit:
          description: Whether to immediately submit evidence to the bank. If `false`, evidence is staged on the dispute. Staged evidence is visible in the API and Dashboard, and can be submitted to the bank by making another request with this attribute set to `true` (the default).
          type: boolean
    PostDisputesDisputeCloseRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
    issuing.authorization:
      description: 'When an [issued card](https://stripe.com/docs/issuing) is used to make a purchase, an Issuing `Authorization`

        object is created. [Authorizations](https://stripe.com/docs/issuing/purchases/authorizations) must be approved for the

        purchase to be completed successfully.


        Related guide: [Issued card authorizations](https://stripe.com/docs/issuing/purchases/authorizations)'
      properties:
        amount:
          description: The total amount that was authorized or rejected. This amount is in `currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). `amount` should be the same as `merchant_amount`, unless `currency` and `merchant_currency` are different.
          type: integer
        amount_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_amount_details'
          description: Detailed breakdown of amount components. These amounts are denominated in `currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
        approved:
          description: Whether the authorization has been approved.
          type: boolean
        authorization_method:
          description: How the card details were provided.
          enum:
          - chip
          - contactless
          - keyed_in
          - online
          - swipe
          type: string
        balance_transactions:
          description: List of balance transactions associated with this authorization.
          items:
            $ref: '#/components/schemas/balance_transaction'
          type: array
        card:
          $ref: '#/components/schemas/issuing.card'
        cardholder:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.cardholder'
          description: The cardholder to whom this authorization belongs.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: The currency of the cardholder. This currency can be different from the currency presented at authorization and the `merchant_currency` field on this authorization. Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        merchant_amount:
          description: The total amount that was authorized or rejected. This amount is in the `merchant_currency` and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). `merchant_amount` should be the same as `amount`, unless `merchant_currency` and `currency` are different.
          type: integer
        merchant_currency:
          description: The local currency that was presented to the cardholder for the authorization. This currency can be different from the cardholder currency and the `currency` field on this authorization. Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
          type: string
        merchant_data:
          $ref: '#/components/schemas/issuing_authorization_merchant_data'
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        network_data:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_network_data'
          description: Details about the authorization, such as identifiers, set by the card network.
          nullable: true
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.authorization
          type: string
        pending_request:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_pending_request'
          description: The pending authorization request. This field will only be non-null during an `issuing_authorization.request` webhook.
          nullable: true
        request_history:
          description: History of every time a `pending_request` authorization was approved/declined, either by you directly or by Stripe (e.g. based on your spending_controls). If the merchant changes the authorization by performing an incremental authorization, you can look at this field to see the previous requests for the authorization. This field can be helpful in determining why a given authorization was approved/declined.
          items:
            $ref: '#/components/schemas/issuing_authorization_request'
          type: array
        status:
          description: The current status of the authorization in its lifecycle.
          enum:
          - closed
          - pending
          - reversed
          type: string
        token:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.token'
          description: '[Token](https://stripe.com/docs/api/issuing/tokens/object) object used for this authorization. If a network token was not used for this authorization, this field will be null.'
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.token'
        transactions:
          description: List of [transactions](https://stripe.com/docs/api/issuing/transactions) associated with this authorization.
          items:
            $ref: '#/components/schemas/issuing.transaction'
          type: array
        treasury:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_treasury'
          description: '[Treasury](https://stripe.com/docs/api/treasury) details related to this authorization if it was created on a [FinancialAccount](https://stripe.com/docs/api/treasury/financial_accounts).'
          nullable: true
        verification_data:
          $ref: '#/components/schemas/issuing_authorization_verification_data'
        wallet:
          description: The digital wallet used for this transaction. One of `apple_pay`, `google_pay`, or `samsung_pay`. Will populate as `null` when no digital wallet was utilized.
          maxLength: 5000
          nullable: true
          type: string
      required:
      - amount
      - approved
      - authorization_method
      - balance_transactions
      - card
      - created
      - currency
      - id
      - livemode
      - merchant_amount
      - merchant_currency
      - merchant_data
      - metadata
      - object
      - request_history
      - status
      - transactions
      - verification_data
      title: IssuingAuthorization
      type: object
      x-expandableFields:
      - amount_details
      - balance_transactions
      - card
      - cardholder
      - merchant_data
      - network_data
      - pending_request
      - request_history
      - token
      - transactions
      - treasury
      - verification_data
      x-resourceId: issuing.authorization
    DisputeList:
      type: object
      required:
      - data
      - has_more
      - object
      - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/dispute'
          type: array
        has_more:
          description: True if this list has another page of items after this one that can be fetched.
          type: boolean
        object:
          description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          enum:
          - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/disputes
          type: string
    issuing.card:
      description: You can [create physical or virtual cards](https://stripe.com/docs/issuing/cards) that are issued to cardholders.
      properties:
        brand:
          description: The brand of the card.
          maxLength: 5000
          type: string
        cancellation_reason:
          description: The reason why the card was canceled.
          enum:
          - design_rejected
          - lost
          - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        cardholder:
          $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Supported currencies are `usd` in the US, `eur` in the EU, and `gbp` in the UK.
          type: string
        cvc:
          description: The card's CVC. For security reasons, this is only available for virtual cards, and will be omitted unless you explicitly request it with [the `expand` parameter](https://stripe.com/docs/api/expanding_objects). Additionally, it's only available via the ["Retrieve a card" endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        exp_month:
          description: The expiration month of the card.
          type: integer
        exp_year:
          description: The expiration year of the card.
          type: integer
        financial_account:
          description: The financial account this card is attached to.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last 4 digits of the card number.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        number:
          description: The full unredacted card number. For security reasons, this is only available for virtual cards, and will be omitted unless you explicitly request it with [the `expand` parameter](https://stripe.com/docs/api/expanding_objects). Additionally, it's only available via the ["Retrieve a card" endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.card
          type: string
        replaced_by:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The latest card that replaces this card, if any.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        replacement_for:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.card'
          description: The card this card replaces, if any.
          nullable: true
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.card'
        replacement_reason:
          description: The reason why the previous card needed to be replaced.
          enum:
          - damaged
          - expired
          - lost
          - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        shipping:
          anyOf:
          - $ref: '#/components/schemas/issuing_card_shipping'
          description: Where and how the card will be shipped.
          nullable: true
        spending_controls:
          $ref: '#/components/schemas/issuing_card_authorization_controls'
        status:
          description: Whether authorizations can be approved on this card. May be blocked from activating cards depending on past-due Cardholder requirements. Defaults to `inactive`.
          enum:
          - active
          - canceled
          - inactive
          type: string
          x-stripeBypassValidation: true
        type:
          description: The type of the card.
          enum:
          - physical
          - virtual
          type: string
        wallets:
          anyOf:
          - $ref: '#/components/schemas/issuing_card_wallets'
          description: Information relating to digital wallets (like Apple Pay and Google Pay).
          nullable: true
      required:
      - brand
      - cardholder
      - created
      - currency
      - exp_month
      - exp_year
      - id
      - last4
      - livemode
      - metadata
      - object
      - spending_controls
      - status
      - type
      title: IssuingCard
      type: object
      x-expandableFields:
      - cardholder
      - replaced_by
      - replacement_for
      - shipping
      - spending_controls
      - wallets
      x-resourceId: issuing.card
    issuing.dispute:
      description: 'As a [card issuer](https://stripe.com/docs/issuing), you can dispute transactions that the cardholder does not recognize, suspects to be fraudulent, or has other issues with.


        Related guide: [Issuing disputes](https://stripe.com/docs/issuing/purchases/disputes)'
      properties:
        amount:
          description: Disputed amount in the card's currency and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). Usually the amount of the `transaction`, but can differ (usually because of currency fluctuation).
          type: integer
        balance_transactions:
          description: List of balance transactions associated with the dispute.
          items:
            $ref: '#/components/schemas/balance_transaction'
          nullable: true
          type: array
        created:
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: The currency the `transaction` was made in.
          type: string
        evidence:
          $ref: '#/components/schemas/issuing_dispute_evidence'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          type: object
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - issuing.dispute
          type: string
        status:
          description: Current status of the dispute.
          enum:
          - expired
          - lost
          - submitted
          - unsubmitted
          - won
          type: string
        transaction:
          anyOf:
          - maxLength: 5000
            type: string
          - $ref: '#/components/schemas/issuing.transaction'
          description: The transaction being disputed.
          x-expansionResources:
            oneOf:
            - $ref: '#/components/schemas/issuing.transaction'
        treasury:
          anyOf:
          - $ref: '#/components/schemas/issuing_dispute_treasury'
          description: '[Treasury](https://stripe.com/docs/api/treasury) details related to this dispute if it was created on a [FinancialAccount](/docs/api/treasury/financial_accounts'
          nullable: true
      required:
      - amount
      - created
      - currency
      - evidence
      - id
      - livemode
      - metadata
      - object
      - status
      - transaction
      title: IssuingDispute
      type: object
      x-expandableFields:
      - balance_transactions
      - evidence
      - transaction
      - treasury
      x-resourceId: issuing.dispute
    PostIssuingDisputesRequest:
      type: object
      properties:
        amount:
          description: The dispute amount in the card's currency and in the [smallest currency unit](https://stripe.com/docs/currencies#zero-decimal). If not set, defaults to the full transaction amount.
          type: integer
        evidence:
          description: Evidence provided for the dispute.
          properties:
            canceled:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  canceled_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  cancellation_policy_provided:
                    anyOf:
                    - type: boolean
                    - enum:
                      - ''
                      type: string
                  cancellation_reason:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  expected_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_type:
                    enum:
                    - ''
                    - merchandise
                    - service
                    type: string
                  return_status:
                    enum:
                    - ''
                    - merchant_rejected
                    - successful
                    type: string
                  returned_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                title: canceled
                type: object
              - enum:
                - ''
                type: string
            duplicate:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  card_statement:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  cash_receipt:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  check_image:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  original_transaction:
                    maxLength: 5000
                    type: string
                title: duplicate
                type: object
              - enum:
                - ''
                type: string
            fraudulent:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                title: fraudulent
                type: object
              - enum:
                - ''
                type: string
            merchandise_not_as_described:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  received_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  return_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  return_status:
                    enum:
                    - ''
                    - merchant_rejected
                    - successful
                    type: string
                  returned_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                title: merchandise_not_as_described
                type: object
              - enum:
                - ''
                type: string
            not_received:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  expected_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_type:
                    enum:
                    - ''
                    - merchandise
                    - service
                    type: string
                title: not_received
                type: object
              - enum:
                - ''
                type: string
            other:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_description:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  product_type:
                    enum:
                    - ''
                    - merchandise
                    - service
                    type: string
                title: other
                type: object
              - enum:
                - ''
                type: string
            reason:
              enum:
              - canceled
              - duplicate
              - fraudulent
              - merchandise_not_as_described
              - not_received
              - other
              - service_not_as_described
              type: string
              x-stripeBypassValidation: true
            service_not_as_described:
              anyOf:
              - properties:
                  additional_documentation:
                    anyOf:
                    - type: string
                    - enum:
                      - ''
                      type: string
                  canceled_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                  cancellation_reason:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  explanation:
                    anyOf:
                    - maxLength: 1500
                      type: string
                    - enum:
                      - ''
                      type: string
                  received_at:
                    anyOf:
                    - format: unix-time
                      type: integer
                    - enum:
                      - ''
                      type: string
                title: service_not_as_described
                type: object
              - enum:
                - ''
                type: string
          title: evidence_param
          type: object
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
          type: object
        transaction:
          description: The ID of the issuing transaction to create a dispute for. For transaction on Treasury FinancialAccounts, use `treasury.received_debit`.
          maxLength: 5000
          type: string
        treasury:
          description: Params for disputes related to Treasury FinancialAccounts
          properties:
            received_debit:
              maxLength: 5000
              type: string
          required:
          - received_debit
          title: treasury_param
          type: object
    GetDisputesDisputeRequest:
      type: object
      properties: {}
